.event__map {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
}
.event__map iframe {
  display: block;
  height: 175px;
  margin-block: 25px;
  transition: height 300ms ease;
}
@media (min-width: 768px) {
  .event__map iframe {
    height: 360px;
  }
}
@media (min-width: 1180px) {
  .event__map iframe {
    height: 482px;
  }
}
.event__map iframe.map-hide {
  height: 0;
  margin: 0;
  transition: height 300ms ease;
}
.event__map-link {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  margin-right: auto;
  text-transform: uppercase;
}
@media (max-width: 1179.98px) {
  .event__map-link {
    font-size: 16px;
    line-height: 24px;
  }
}
.event__map-link:hover, .event__map-link:focus {
  color: #202056;
}