.timeline-filter .row {
  margin-left: 0;
  margin-right: 0;
}
.timeline-filter .timeline-title {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #181818;
  margin: 64px 0;
}
@media (max-width: 1179.98px) {
  .timeline-filter .timeline-title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 1179.98px) {
  .timeline-filter .timeline-title {
    margin: 44px 0;
  }
}
@media (max-width: 767.98px) {
  .timeline-filter .timeline-title {
    margin-top: 80px;
    margin-bottom: 44px;
  }
}
.timeline-filter .filter-year {
  display: flex;
  padding: 4px 0;
  align-items: baseline;
  flex-shrink: 0;
  cursor: pointer;
}
.timeline-filter .filter-year:last-child {
  padding-left: 40px;
}
.timeline-filter .filter-year.active {
  padding: 4px 16px;
  border-radius: 20px;
  background-color: #0397d6;
  color: #fff;
}
.timeline-filter .filter-year.active .year-text {
  font-weight: bold;
  color: #fff;
}
.timeline-filter .filter-year.active .year-text:hover, .timeline-filter .filter-year.active .year-text:focus {
  color: #fff;
}
.timeline-filter .filter-year.active .months {
  width: auto;
  display: flex;
}
.timeline-filter .filter-year.active .month-text:hover, .timeline-filter .filter-year.active .month-text:focus {
  color: #fff;
}
.timeline-filter .year-text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .timeline-filter .year-text {
    font-size: 16px;
    line-height: 24px;
  }
}
.timeline-filter .year-text:hover, .timeline-filter .year-text:focus {
  color: #0397d6;
  text-decoration: underline;
}
.timeline-filter .month-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: inherit;
}
.timeline-filter .month-text:hover, .timeline-filter .month-text:focus {
  color: #0397d6;
  text-decoration: underline;
}
.timeline-filter .month-text.active {
  font-weight: bold;
}
.timeline-filter .months {
  width: 0;
  overflow: hidden;
  display: none;
  transition: width 0.2s ease-out;
}
.timeline-filter .months li a {
  margin-right: 12px;
}
.timeline-filter .sticky-container {
  padding-top: 1px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .timeline-filter .sticky-container {
    top: -56px;
  }
}
.timeline-filter .timeline-filter-wrapper {
  margin-bottom: 64px;
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #fff;
  min-width: calc(1296px + (100vw - 1296px) / 2);
  padding-bottom: 40px;
  padding-left: 32px;
}
@media (max-width: 1179.98px) {
  .timeline-filter .timeline-filter-wrapper {
    min-width: calc(100% + 16px);
    margin-bottom: 44px;
    padding-bottom: 24px;
    padding-left: 0;
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .timeline-filter .timeline-filter-wrapper {
    gap: 12px;
  }
}
.timeline-filter .timeline-filter-wrapper::-webkit-scrollbar {
  width: 16px;
  height: 8px;
}
.timeline-filter .timeline-filter-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(0deg, #E7EDF4 0%, #E7EDF4 100%), #EDF4FC;
  height: 8px;
}
.timeline-filter .timeline-filter-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(0deg, #0397d6 0%, #0397d6 100%), #F5F6F6;
  height: 8px;
}
.timeline-filter .field__items {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 1179.98px) {
  .timeline-filter .field__items {
    gap: 44px;
    padding: 0;
    margin-bottom: 44px;
  }
}

.node--type-hq-article:hover .timeline-filter .image-wrapper .field--name-field-media-image {
  transform: scale(1);
}

.paragraph--type--timeline-component-item.alignment-right .timeline-item-wrapper {
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item.alignment-right .timeline-item-wrapper {
    flex-direction: column;
  }
}
.paragraph--type--timeline-component-item.alignment-right .year {
  text-align: right;
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item.alignment-right .year {
    text-align: left;
  }
}
.paragraph--type--timeline-component-item.orientation-vertical .video-wrapper {
  padding-bottom: 177.78%;
  /* 9:16 aspect ratio (16 / 9 * 100) */
  width: 360px;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item.orientation-vertical .video-wrapper {
    width: 344px;
  }
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item.orientation-vertical .video-wrapper {
    width: 100%;
  }
}
.paragraph--type--timeline-component-item.orientation-vertical .image-wrapper {
  width: 360px;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item.orientation-vertical .image-wrapper {
    width: 344px;
  }
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item.orientation-vertical .image-wrapper {
    width: 100%;
  }
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item.fill-hollow .year {
    -webkit-text-stroke-width: 2px;
  }
}
.paragraph--type--timeline-component-item .timeline-item-wrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item .timeline-item-wrapper {
    gap: 20px;
    flex-direction: column;
    gap: 40px;
  }
}
.paragraph--type--timeline-component-item .date {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  color: #4b4b4b;
  margin-bottom: 4px;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .date {
    font-size: 16px;
    line-height: 24px;
  }
}
.paragraph--type--timeline-component-item .title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #333333;
  margin-bottom: 12px;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .title {
    font-size: 32px;
  }
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .title {
    color: #181818;
  }
}
.paragraph--type--timeline-component-item .timeline-description p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #4b4b4b;
  text-align: right;
  position: relative;
  align-self: stretch;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .timeline-description p {
    font-size: 16px;
    line-height: 24px;
  }
}
.paragraph--type--timeline-component-item .media-wrapper {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .media-wrapper {
    width: 344px;
  }
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item .media-wrapper {
    width: 100%;
  }
  .paragraph--type--timeline-component-item .media-wrapper img {
    width: 100%;
  }
}
.paragraph--type--timeline-component-item .media-wrapper .image-wrapper .field--name-field-media-image:hover {
  transform: scale(1.05);
  transition: opacity 0.5s, transform 1s;
}
.paragraph--type--timeline-component-item .video-wrapper {
  position: relative;
  width: 540px;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (9 / 16 * 100) */
  height: 0;
  overflow: hidden;
  background-color: #000;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .video-wrapper {
    width: 344px;
  }
}
@media (max-width: 767.98px) {
  .paragraph--type--timeline-component-item .video-wrapper {
    width: 100%;
  }
}
.paragraph--type--timeline-component-item .video-wrapper .contextual-region {
  position: static;
}
.paragraph--type--timeline-component-item.alignment-left .video-wrapper {
  margin-right: auto;
}
.paragraph--type--timeline-component-item.alignment-left .image-wrapper {
  text-align: left;
  margin-right: auto;
}
.paragraph--type--timeline-component-item .field--name-field-description p:last-child {
  margin-bottom: 0;
}
.paragraph--type--timeline-component-item .video-wrapper video,
.paragraph--type--timeline-component-item .video-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.paragraph--type--timeline-component-item .year {
  margin: -48px 0 0 0;
  text-align: left;
  font-size: 200px;
  line-height: 1;
  position: relative;
  -webkit-text-stroke: 4px;
  color: transparent;
}
@media (max-width: 1179.98px) {
  .paragraph--type--timeline-component-item .year {
    font-size: 64px;
    line-height: 1.1;
    margin: -16px 0 0 0;
  }
}