.hq-hero-banner {
  display: block;
  position: relative;
  width: 100vw;
  min-height: 450px;
  margin-bottom: 40px;
  background-color: #EDF4FC;
  z-index: 1;
}
@media (min-width: 1180px) {
  .hq-hero-banner.banner-large {
    min-height: 640px;
  }
}
.hq-hero-banner .container {
  position: relative;
}
.hq-hero-banner__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.hq-hero-banner__img div,
.hq-hero-banner__img article,
.hq-hero-banner__img picture {
  height: 100%;
}
.hq-hero-banner__img img {
  height: 100% !important;
  min-width: 100%;
  width: auto !important;
  max-width: unset !important;
  max-height: unset !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 0 !important;
}
.hq-hero-banner__wrapper {
  display: flex;
  min-height: inherit;
  padding-block: 75px;
  background: linear-gradient(270deg, rgba(11, 50, 79, 0) 34.81%, #072336 99.87%);
}
@media (min-width: 768px) {
  .hq-hero-banner__wrapper {
    padding-block: 65px;
    align-items: center;
  }
}
@media (min-width: 1180px) {
  .hq-hero-banner__wrapper {
    padding-block: 40px;
  }
}
.hq-hero-banner__wrapper.right {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.57) 0.09%, rgba(0, 0, 0, 0.18) 55.28%);
}
.hq-hero-banner__wrapper.center {
  background: linear-gradient(90deg, rgba(4, 29, 47, 0.95) 28.9%, rgba(4, 31, 52, 0) 96.96%);
}
.hq-hero-banner__content {
  display: flex;
  flex-direction: column;
}
.hq-hero-banner__content.left {
  justify-content: left;
}
.hq-hero-banner__content.right {
  justify-content: right;
}
.hq-hero-banner__content.center {
  justify-content: center;
  text-align: center;
}
.hq-hero-banner__date {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 1179.98px) {
  .hq-hero-banner__date {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1179.98px) {
  .hq-hero-banner__date {
    margin-bottom: 15px;
  }
}
.hq-hero-banner__title {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #fff;
}
@media (max-width: 1179.98px) {
  .hq-hero-banner__title {
    font-size: 36px;
    line-height: 44px;
  }
}
.parallax .hq-hero-banner__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 700;
  letter-spacing: -2%;
}
@media (max-width: 1179.98px) {
  .parallax .hq-hero-banner__title {
    font-size: 42px;
    line-height: 60px;
  }
}
.slider .hq-hero-banner__title, .slider-with-zoom .hq-hero-banner__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -2%;
}
@media (max-width: 1179.98px) {
  .slider .hq-hero-banner__title, .slider-with-zoom .hq-hero-banner__title {
    font-size: 42px;
    line-height: 60px;
  }
}
.hq-hero-banner__body {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 30px;
  color: #fff;
}
@media (max-width: 1179.98px) {
  .hq-hero-banner__body {
    font-size: 18px;
    line-height: 28px;
  }
}
.hq-hero-banner__body p:last-child {
  margin-bottom: 0;
}
.hq-hero-banner__btn {
  margin-top: 30px;
}
.hq-hero-banner__btn .field--name-field-cta a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
}
@media (max-width: 1179.98px) {
  .hq-hero-banner__btn .field--name-field-cta a {
    font-size: 14px;
  }
}
.hq-hero-banner__btn .field--name-field-cta a:hover, .hq-hero-banner__btn .field--name-field-cta a:focus {
  color: #fff;
}
.hq-hero-banner__btn .field--name-field-cta a:hover, .hq-hero-banner__btn .field--name-field-cta a:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: 1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}