{% extends "themes/custom/hq/templates/pages/listing-page.html.twig" %}

{% block pageMainContent %}
  {{ page.content }}
  <section class="block block-system block-hq-content">
    {{ drupal_view('articles', 'articles_by_type') }}
  </section>
{% endblock %}
