@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

/* CSS Styling */

.info-card {
  &--wrapper {
    position: relative;

    @include media-breakpoint-down(md) {
      gap: 20px;
    }
  }

  &--details {
    &.tab-pane {
      position: unset;
      display: block;
      opacity: 1;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }
  }

  &--header {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      padding: 60px 28px 35px;
      background: rgba(245, 246, 246, 0.75);

      @include media-breakpoint-down(md) {
        position: relative;
        align-items: flex-start;
        min-height: auto;
        padding: 20px;
      }

      &[aria-expanded="true"] {
        background: $frost-blue;

        .info-card--title {

          .field--name-field-title {
            position: relative;
            width: fit-content;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -17px;
              height: 4px;
              width: 100%;
              background: $blue;
            }
          }
        }

        .icon-arrow-left {
          &::before {
            transform: rotate(90deg);
            transition: all 0.2s 0.2s;
          }
        }
      }

      &:hover,
      &:focus {
        background: $frost-blue;
      }

      .icon-arrow-left {
        display: none;
        color: $text-gray;

        &::before {
          transform: rotate(-90deg);
          transition: all 0.2s 0.2s;
        }

        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }
  }

  &--icon {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;
      background-color: $blue-100;
      border-radius: 50%;
    }

    &__img {
      .field--type-image {
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }
    }
  }

  &--title {
    @include typography-bodyl-b;
    color: $text-gray;
    text-align: center;

    @include media-breakpoint-down(md) {
      width: 80%;
      text-align: left;
    }

    &__wrapper {
      @include media-breakpoint-down(md) {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
      }
    }
  }

  &--body {
    position: absolute;
    left: 0;
    width: calc(100% - 32px);
    margin: 0 $gutter;
    background: $frost-blue;

    @include media-breakpoint-up(md) {
      transition: none;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &__wrapper {
      padding: 40px 40px 60px;

      @include media-breakpoint-down(md) {
        padding: 0 0 20px;
      }
    }
  }

  &--description {
    @include typography-body;

    margin-bottom: 24px;
    color: $text-gray;

    @include media-breakpoint-down(md) {
      padding: 20px 20px 0;
    }
  }

  &--button {
    padding-top: 20px;

    @include media-breakpoint-down(md) {
      padding: 0 20px;
      margin-bottom: 15px
    }

    a {
      @include btn;
      @include btn-primary;
    }
  }
}

.paragraph--type--info-card-detail {
  padding: 40px $gutter;
}
