@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";

.paragraph-ct-basic-cta {
  &__wrapper {
    &.image-left {
      flex-direction: row-reverse;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
  }

  &__body {
    max-width: 100%;
    margin-right: 0;
  }

  &__image-wrapper {
    @include media-breakpoint-down(sm) {
      padding: 0 15px 15px;
    }

    .image-link {
      img {
        width: 100% ;
      }
    }
  }
}
