@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

// ==============================================
// Overlay Styles for Video Popup
// ==============================================
.video-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($text-gray, 0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-popup-inner {
  width: 470px;
  height: 85vh;

  .video-popup-content {
    height: 100%;

    @include media-breakpoint-down(md) {
      padding: 0 16px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}

.video-popup-close {
  @include media-breakpoint-down(md) {
    top: 10px;
  }

  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: $white;
  font-size: 28px;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
  width: 35px;
  height: 35px;
  line-height: 28px;
  text-align: center;
  user-select: none;
}

.paragraph--type--video-carousel {
  &.paragraph--view-mode--program {
    position: relative;
    padding: 0;

    @include media-breakpoint-down(sm) {
      padding: 0 16px;
    }

    .swiperHeader-wrapper {
      margin-bottom: 32px;

      .header-title {
        @include typography-h1;
        color: $text-gray;
      }
    }

    .swiper-container {

      @include media-breakpoint-down(md) {
        position: relative;
      }


      .swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 48px;

        @include media-breakpoint-down(sm) {
          flex-wrap: nowrap;
        }

        .image-wrapper {
          img {
            max-height: 560px;

            @include media-breakpoint-up(md) {
              max-height: 519px;
            }
          }
        }
      }

      .swiper-slide {
        cursor: pointer;

        @include media-breakpoint-down(sm) {
          padding: 0;
        }

        &:hover {
          .video-crousel__title {
            text-decoration: underline;
            text-decoration-color: $brown;
          }

          .video-poster {
            transform: scale(1.1);
          }
        }

        .video-wrapper {
          overflow: hidden;

          .video-poster {
            display: block;
            width: 100%;
            height: auto;
            transition: 0.3s;
          }
        }

        .swiper-data {
          display: block;
          margin-right: 0;

          .video-crousel {
            &__left {
              &.vertical {
                @include media-breakpoint-up(md) {
                  margin-right: 0;
                }
              }

              .embedded-social-video {
                position: absolute;
              }
            }

            &__right {
              position: relative;
              bottom: 24px;
              z-index: 999;
            }

            &__title {
              @include typography-h6-b;
              color: $text-gray;
              margin-bottom: 16px;
            }

            &__tag {
              width: fit-content;
              background-color: $pink_new;
              border-radius: 6px;
              padding: 8px 20px;
              margin-bottom: 16px;

              span {
                @include typography-select2;
                font-weight: 500;
                color: $white;
              }
            }

            &__body {
              display: none;
            }

            &__date {
              span {
                @include typography-label-b;
                color: $brown;
              }
            }

            &__left,
            &__right {
              .video-wrapper {
                position: relative;
                height: 100%;

                .video-iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  display: none;
                  z-index: 1;
                }

                .video-play-button {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background: none;
                  border: none;
                  cursor: pointer;
                  padding: 0;
                  margin: 0;
                  z-index: 3;
                  width: 64px;
                  height: 64px;

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }

      // video-crousel styles outside .swiper-slide
      .video-crousel {

        &__right {
          @include media-breakpoint-down(md) {
            position: relative;
            z-index: 999;
          }
        }

        &__content {
          display: none;
        }
      }
    }

    .image-wrapper {
      max-height: 100%;

      .field--name-field-media-image {
        transition: 0.3s;
      }
    }

    img {
      min-height: 560px;

      @include media-breakpoint-up(md) {
        min-height: 519px;
      }
    }

    .global-card__image-default {
      min-height: 560px;

      @include media-breakpoint-up(md) {
        min-height: 519px;
      }
    }

    .node--type-news-and-stories {
      &.node--view-mode-video-carousel {
        &:hover {
          .image-wrapper {
            .field--name-field-media-image {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}