@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.paragraph--type--topic-card {
  &.paragraph--view-mode--backdrop-image-card {
    @include media-breakpoint-down(sm) {
      padding: 0 16px;
    }

    .paragraph--type--topic-card-item {
      position: relative;

      &:hover {
        .topic-card-backdrop {
          &::before {
            transform: scale(1.1);
            opacity: 1;
          }
        }
        .topic-card-backdrop__title{
          text-decoration: underline;
        }
      }

      .link-full-content {
        z-index: 2;
      }
    }
  }
}

.topic-card-backdrop {
  height: 340px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.6;
    transition: 0.3s;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px;
  }

  &__content {
    height: 100%;
    position: relative;
    z-index: 1;

    p {
      margin-bottom: 0;
    }
  }

  &__title {
    @include typography-h6-b;
  }

  &__desc {
    @include typography-label;
  }

  &__footer {
    position: relative;
    z-index: 3;

    a {
      @include btn-outline-primary;
      font-weight: 600;
      padding: 8px 14px;
      border-radius: 6px;
    }
  }
}

.topic-cards-backdrop {
  @include media-breakpoint-down(sm) {
    padding: 0;

    .swiper-container {
      width: calc((100vw - 100%) / 2 + 100%);
    }
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__inner {
    row-gap: $card-columns-gap;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      row-gap: 1rem;
      flex-wrap: nowrap;
    }
  }

  .paragraph-topic-card__column {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}