@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.publication-highlight {
  &__wraper {
    clear: both;

    @include media-breakpoint-down(sm) {
      background: $frost-blue;
    }

    @include media-breakpoint-up(md) {
      margin-block: 60px;
    }

    @include media-breakpoint-up(lg) {
      margin-block: 80px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clear: both;
    padding: 64px 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      background: $frost-blue;
      box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
    }

    &.vertical {
      &.full-width {
        @include media-breakpoint-up(md) {
          height: 216px;
          padding: 44px 32px;
        }

        @include media-breakpoint-up(lg) {
          height: 380px;
          padding: 64px 72px;
        }
      }

      &.text-width {
        @include media-breakpoint-up(md) {
          height: 216px;
          padding: 44px 32px;
        }

        @include media-breakpoint-up(lg) {
          height: 380px;
          padding: 64px 72px;
        }
      }
    }

    &.horizontal {
      &.full-width {
        @include media-breakpoint-up(md) {
          height: 176px;
          padding: 12px 34px;
        }

        @include media-breakpoint-up(lg) {
          height: 286px;
          padding: 64px 42px;
        }
      }

      &.text-width {
        @include media-breakpoint-up(md) {
          height: 176px;
          padding: 12px 34px;
        }

        @include media-breakpoint-up(lg) {
          height: 214px;
          padding: 32px 64px;
        }
      }
    }
  }

  &__title {
    @include typography-bodyl-b;

    color: $text-gray;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }

    @include media-breakpoint-up(md) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .vertical.full-width & {
      @include typography-h4-b;

      @include media-breakpoint-up(md) {
        height: 64px;
        -webkit-line-clamp: 2;
      }

      @include media-breakpoint-up(lg) {
        height: 160px;
        -webkit-line-clamp: 4;
      }
    }

    .vertical.text-width & {
      @include typography-bodyl-b;

      @include media-breakpoint-up(md) {
        height: 72px;
        -webkit-line-clamp: 2;
      }

      @include media-breakpoint-up(lg) {
        height: 164px;
        -webkit-line-clamp: 5;
      }
    }

    .horizontal.text-width &,
    .horizontal.full-width & {
      @include media-breakpoint-up(md) {
        height: 82px;
        -webkit-line-clamp: 3;
      }
    }
  }

  &__img {
    flex: 0 0 100%;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 45px;
      box-shadow: 0px 0px 12px 0px rgba(16, 24, 40, 0.2);
    }

    @include media-breakpoint-up(lg) {
      margin-left: 70px;
    }

    &.vertical {
      @include media-breakpoint-up(md) {
        flex: 0 0 192px;
        max-width: 192px;
        height: 256px;
        margin-top: -64px;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 324px;
        max-width: 324px;
        height: 432px;
        margin-top: -88px;
      }

      & * {
        height: 100%;
      }
    }

    &.horizontal {
      @include media-breakpoint-up(md) {
        flex: 0 0 308px;
        max-width: 308px;
        height: 204px;
        margin-top: -14px;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 592px;
        max-width: 592px;
        height: 332px;
        margin-top: -22px;
      }

      & * {
        height: 100%;
      }

      .text-width & {
        @include media-breakpoint-up(md) {
          flex: 0 0 380px;
          max-width: 380px;
          height: 256px;
          margin-top: -56px;
          margin-left: 30px;
        }

        @include media-breakpoint-up(lg) {
          margin-left: 50px;
        }
      }

      .full-width & {
        @include media-breakpoint-up(md) {
          flex: 0 0 308px;
          max-width: 308px;
          height: 204px;
          margin-top: -26px;
          margin-left: 30px;
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 592px;
          max-width: 592px;
          height: 332px;
          margin-top: -85px;
          margin-left: 50px;
        }
      }
    }

    img {
      width: 100%;
      height: 100% !important;
      max-height: unset !important;
      object-fit: cover;
      object-position: center;

      .vertical & {
        aspect-ratio: 3 / 4;
      }

      .horizontal & {
        aspect-ratio: 16 / 9;
      }
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media-breakpoint-up(md) {
      position: absolute;
      flex-direction: row;
      bottom: 26px;
    }

    @include media-breakpoint-up(lg) {
      bottom: 75px;
    }

    .horizontal.full-width & {
      @include media-breakpoint-up(md) {
        bottom: 12px;
      }

      @include media-breakpoint-up(lg) {
        bottom: 64px;
      }
    }

    .horizontal.text-width & {
      @include media-breakpoint-up(md) {
        bottom: 12px;
      }

      @include media-breakpoint-up(lg) {
        bottom: 32px;
      }
    }

    .vertical.full-width & {
      @include media-breakpoint-up(md) {
        bottom: 44px;
      }

      @include media-breakpoint-up(lg) {
        bottom: 64px;
      }
    }

    .vertical.text-width & {
      @include media-breakpoint-up(md) {
        bottom: 44px;
      }

      @include media-breakpoint-up(lg) {
        bottom: 64px;
      }
    }

    .field--name-field-linked {
      a {
        @include btn;
        @include btn-primary;


        @include media-breakpoint-down(sm) {
          display: block;
          text-align: center;
        }
      }
    }

    a {
      @include btn;
      @include btn-outline-primary;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      span {
        display: none;

        @include media-breakpoint-down(sm) {
          display: inline-block;
        }
      }
    }
  }
}
