.block-quicktabshighlightcomponent h2 {
  margin-bottom: 20px;
}
.block-quicktabshighlightcomponent .hq-carousel-global-card {
  padding-bottom: 0;
}
.block-quicktabshighlightcomponent .quicktabs-main {
  position: relative;
}
.block-quicktabshighlightcomponent .quicktabs-tabs {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 58px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .block-quicktabshighlightcomponent .quicktabs-tabs {
    gap: 25px 28px;
  }
}
.block-quicktabshighlightcomponent .quicktabs-tabs li {
  color: #181818;
}
.block-quicktabshighlightcomponent .quicktabs-tabs li a {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: inherit;
  transition: none;
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .quicktabs-tabs li a {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-quicktabshighlightcomponent .quicktabs-tabs li a:hover, .block-quicktabshighlightcomponent .quicktabs-tabs li a:focus {
  color: #0397d6;
  border-bottom: 3px solid #0397d6;
}
.block-quicktabshighlightcomponent .quicktabs-tabs li[aria-selected=true] a, .block-quicktabshighlightcomponent .quicktabs-tabs li:hover a, .block-quicktabshighlightcomponent .quicktabs-tabs li:focus a {
  color: #0397d6;
  border-bottom: 3px solid #0397d6;
}
.block-quicktabshighlightcomponent .global-card__title {
  margin-bottom: 16px;
}
.block-quicktabshighlightcomponent .global-card__tag-text {
  font-weight: 500;
}
.block-quicktabshighlightcomponent .global-card__date {
  text-transform: uppercase;
  color: #4b4b4b;
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .swiper-container .swiper-wrapper {
    margin-bottom: 32px;
  }
}
.block-quicktabshighlightcomponent .swiperHeader-wrapper {
  position: absolute;
  left: 0;
  top: -76px;
  z-index: 9;
  margin-bottom: 0;
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .swiperHeader-wrapper {
    position: static;
  }
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .swiperHeader-wrapper .carouselNav-wrapper {
    display: block;
  }
}
.block-quicktabshighlightcomponent .more-link {
  position: absolute;
  top: -68px;
  left: 106px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .more-link {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1179.98px) {
  .block-quicktabshighlightcomponent .more-link {
    position: relative;
    top: 0;
    margin-top: -30px;
    text-align: left;
  }
}
.block-quicktabshighlightcomponent .more-link a:hover, .block-quicktabshighlightcomponent .more-link a:focus {
  text-decoration: underline;
}
.block-quicktabshighlightcomponent .more-link a::after {
  display: none;
}