@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "./custom";
@import "./bootstrap-override/mixins";
@import "./mixins";

.scroll-top:before {
  transform: rotate(90deg);
}

.top-header__wrapper .dropdown-menu.show {
  @include media-breakpoint-up(lg) {
    transform: translate3d(0px, 20px, 0px) !important;
  }
}

.more-link {
  a {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.paragraph--type--quotes {
  .quote-text {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  &::before {
    transform: rotate(180deg);
  }
}


.content-publications {
  .left-content {
    .social-media-links--platforms {
      justify-content: center;
      align-items: center;
    }
  }
}


.block-breadcrumbs-2 {
  .breadcrumbs-nav {
    ol {
      li:not(:first-child):before {
        transform: rotate(180deg);       
      }
    }
  }
}
