@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.node--type-courses {
  &.node--view-mode-full {
    .paragraph-list {
      position: relative;
      width: 100%;
      margin-top: 0;

      &::before {
        content: '';
        display: block;
        width: calc(100% - 32px);
        height: 1px;
        margin: 0 auto 40px;
        border-top: $border-gray;
      }
    }
  }
}

.courses-hero {
  &__block-wrapper {
    background-color: $frost-blue;

    @include media-breakpoint-down(sm) {
      background-color: transparent;
    }

    .bg-blue {
      @include media-breakpoint-down(sm) {
        background-color: $frost-blue;
      }
    }
  }

  &__block {
    padding-block: 80px;

    @include media-breakpoint-down(md) {
      padding-block: 40px;
    }
  }

  &__tag {
    @include typography-tag;

    display: inline-block;
    width: fit-content;
    margin-bottom: 12px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__title {
    color: $text-gray;
    margin-bottom: 24px;
  }

  &__info {
    @include typography-body;

    margin-bottom: 24px;
    color: $text-gray;
  }

  &__btn-group {
    display: flex;
    gap: 18px;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      gap: 0;
    }

    & > a {
      @include btn;
      @include btn-primary;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 12px;
        text-align: center;
      }
    }

    button {
      @include btn;
      @include btn-outline-primary;

      display: flex;
      align-items: center;
      justify-content: center; 
      color: $blue;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .btn-share {
      i {
        margin-right: 8px;
      }
    }

    .block-unw-knowledge {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}

.courses-details {
  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: 80px;
  }

  &__block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $white;
    border: 1px solid $blue;
    z-index: 9;

    @include media-breakpoint-down(sm) {
      position: relative;
    }
  }

  &__img {
    & * {
      width: 100%;
    }

    img {
      height: 250px;
      object-fit: cover;
      object-position: center;

      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }

    &-default {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $ice-gray;
      height: 250px;
    }
  }

  &__content {
    flex-direction: column;
    display: flex;
    padding: 16px 20px 8px;
  }

  &__col {
    display: flex;
    padding-block: 16px;
    flex-direction: row;
    align-items: flex-start;

    &:not(:last-child) {
      border-bottom: $border-yellow;
    }

    i {
      margin-right: 8px;

      @include media-breakpoint-down(sm) {
        margin-right: 12px;
      }
    }

    &-l-g {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: flex-start;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      p {
        margin-bottom: 0;
      }
    }

    &-l {
      flex: 0 0 30%;
      align-items: center;
      font-weight: 700;
      color: $text-gray;


      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
      }
    }

    &-r {
      flex: 0 0 70%;
      justify-self: flex-end;
      padding-left: $gutter;
      color: $darkish-gray;

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        padding-left: 0;
      }
    }
  }
}
