@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins/button-mixins";

.websites-card {
  position: relative;
  height: 190px;
  padding: 20px 25px 30px;
  background-color: $light-gray;
  border: 1px solid $medium-gray;

  @include media-breakpoint-down(sm) {
    padding: 20px 25px 40px;
  }

  &__icon {
    margin-bottom: 14px;

    &-image {
      width: 42px;
      height: 42px;
    }

    img {
      *.node--view-mode-full & {
        width: 42px;
        height: 42px;
      }
    }
  }

  .websites-card__title {
    .global-card__title {
      -webkit-line-clamp: 3;
      margin-bottom: 0;
    }
  }

  &__details {
    height: 100%;
    transition: 0.3s;
  }
}

.node--type-websites {
  .websites-card__link {
    &:hover,
    &:focus {
      .websites-card__details {
        transform: scale(1.1);
      }

      .global-card__title {
        span {
          background-size: 100% 2px;
        }
      }
    }
  }

  &.global-card__image {
    display: block;
    overflow: unset;
  }
}
