@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.paragraph--view-mode--get-in-touch {

  .swiper-slide {
    height: auto;
  }

  .get-in-touch {
    height: 100%;
    padding: 20px;
    border: $border-gray;
    border-radius: 4px;

    &__icon-title {
      align-items: center;
      margin-bottom: 15px;

      @include media-breakpoint-down(md) {
        gap: 15px;
        margin-bottom: 10px;
      }
    }

    &__icon {

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: $blue-100;
        border-radius: 50%;
      }

      .image-container {
        display: flex;
        align-items: center;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      padding-left: 10px;

      @include media-breakpoint-down(md) {
        padding-left: 15px;
      }

      h3 {
        margin-bottom: 0;

        span {
          text-decoration: none;
          background-image: linear-gradient(to right, #181818 0%, #181818 100%);
          background-position: 0px 95%;
          background-size: 0px 2px;
          transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
          padding: 0.1% 0px;
          background-repeat: no-repeat;
        }
      }
    }

    &__button {
      margin-top: 20px;

      a {
        @include btn;
        @include btn-outline-primary;
      }
    }

    &__summary {
      color: $text-gray;
    }

    &:hover {
      .global-card__title {
        span {
          background-size: 100% 2px;
        }
      }
    }
  }
}