@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

// Speaker component css
.speaker {
  &--block {
    
    .field__items {
      padding: 0 $gutter;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
  
      @include media-breakpoint-down(sm) {
        align-items: start;
        grid-template-columns: 1fr;
      }
    }
  }

  &--image-column {
    padding: 0;

    img {
      border-radius: 50%;
      margin-bottom: 0;
    }
  }

  &__details {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__name {
    @include typography-bodyl-b;

    color: $text-gray;
    margin-right: 12px;
  }

  &__host {
    @include typography-tag;

    text-transform: uppercase;
    
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }
  }

  &__description {
    @include typography-body;

    color: $text-gray;
    margin-top: 8px;
  }
}
