.paragraph--type--box-with-image-and-text {
  width: 100%;
  line-height: 1.5;
  @include media-breakpoint-down(md) {
    width: 310px;
  }

  .img-container {
    margin-bottom: 0;
  }
}
.left {
  .box {
    float: left;
    margin: 0 rem-calc(20) rem-calc(12) 0;
  }
}

.right {
  .box {
    float: right;
    margin: 0 0 rem-calc(12) rem-calc(20);
  }
}

.left,
.right {
  .box {
    width: 275px;
    @include media-breakpoint-down(md) {
      float: none;
      margin: rem-calc(15) 0;
      width: auto;
    }
  }
}

.box {
  border: 1px solid $grey-lighter;
  clear: both;
  padding: rem-calc(12) rem-calc(13) rem-calc(18);

  .field--name-field-title-formatted {
    border-bottom: 5px solid #e5e3dc;
    font-family: $font-bitter;
    color: $headings-color;
    font-size: rem-calc(22);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 rem-calc(15) 0;
    padding-bottom: rem-calc(18);
  }

  .box-body {
    clear: both;
    font-size: rem-calc(13.5);
    line-height: 1.4;

    p {
      margin: 0 0 rem-calc(12) 0;
    }

    a {
      color: $blue;
    }

    .img-block {
      display: inline;
      float: left;
      margin: rem-calc(5) 0px rem-calc(5) 0;

      .field--type-image {
        img {
          max-width: 100% !important;
          height: auto;
        }
      }

      .img-caption {
        font-size: rem-calc(11);
        padding-top: rem-calc(5);
        text-align: left;
        width: 235px;
      }
    }
  }
}

.node--view-mode-one-column {
  .paragraph--type--box-with-image-and-text {
    width: unset;
  }
}
