.paragraph--type--image-with-caption {
  .img-container {
    margin: 0;
  }

  .img-caption {
    font-family: $font-roboto;
    font-size: rem-calc(12);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
  }

  img {
    margin-bottom: rem-calc(7);
  }

  &.left,
  &.right {
    img {
      height: auto;
      max-width: 400px;
      max-height: 450px;
      -o-object-fit: unset;
      object-fit: unset;
      width: auto;
    }
  }

  &.left .field--name-field-media-image.field--type-entity-reference {
    float: left;
    margin: rem-calc(5 10 5 0);
    max-width: 400px;
  }

  &.right .field--name-field-media-image.field--type-entity-reference {
    display: inline;
    float: right;
    margin: rem-calc(5 0 5 10);
  }

  &.center .field--name-field-media-image.field--type-entity-reference {
    img {
      height: auto;
      width: 100%;
    }
  }

  &.auto { 
    .paragraph-content {
      display: flex;
      flex-direction: column-reverse;
    }
    img {
      width: auto;
    }
  }
}
