.paragraph--type--listing-reference {
  margin-bottom: 35px;
  padding: 8px 14px 18px;
  border: 1px solid #939393;
}

.component-header {
  align-items: center;
  padding: rem-calc(0 0 18);

  h5 {
    margin: 0;
  }
}

.field--name-field-component-title {
  font-family: $font-bitter;
  font-size: rem-calc(26);
  letter-spacing: 0.01em;
  line-height: 1.2;
}

.paragraph--type--listing-reference {
  .views-row {
    line-height: 1.4;
    margin-bottom: rem-calc(10);

    a {
      color: $grey-dark;
    }

    &:last-of-type {
      margin-bottom: rem-calc(7);
    }
  }

  .views-field-created,
  .views-field-field-story-publication-date {
    font-size: rem-calc(12);
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  .views-field-field-title,
  .views-field-nothing {
    font-size: rem-calc(13.4);
  }

  .views-field-title {
    font-size: rem-calc(13.4);
  }


  .more-link {
    font-size: rem-calc(12);
    text-align: left;

    a {
      color: $blue3;

      &::after {
        content: '\25BA';
        font-size: rem-calc(12);
        margin-left: rem-calc(3);
      }
    }
  }
}
