.group-right .paragraph--type--related-stories {
  margin-top: 0;
}

body:not(.hq-unwomen) {
  .paragraph--type--related-stories {
    .viewsreference--view-title::before {
      background: url('../images/icons/icon-module-gold-related.png') no-repeat 0 4px;
    }
  }
}

.paragraph--type--related-stories {
  border: 1px solid $grey-lighter;
  margin: rem-calc(30 0 35);
  padding: rem-calc(7 14 15);


  .viewsreference--view-title {
    align-items: center;
    display: flex;
    font-family: $font-bitter;
    font-size: rem-calc(26);
    letter-spacing: .01em;
    line-height: 1.2;
    padding: rem-calc(0 0 18);

    &::before {
      background: url('../images/icons/icon-module-related.jpg') no-repeat 0 4px;
      content: '';
      height: 38px;
      margin-right: rem-calc(11);
      width: 31px;
    }
  }

  .views-row {
    line-height: 1.4;
    margin-bottom: rem-calc(10);

    &:last-of-type {
      margin-bottom: rem-calc(7);
    }
  }

  .view-related-stories {
    .views-field-title {
      a {
        color: #595a5c;
        font-size: rem-calc(18);
        font-weight: normal;

        &:hover {
          color: $blue3;
        }
      }

    }
    .views-field-created {
      font-size: rem-calc(12);
      font-weight: 400;
      letter-spacing: .01em;
    }
  }
  .item_created {
    font-size: rem-calc(12);
    font-weight: 400;
    letter-spacing: .01em;
  }

  .item_title {
    font-size: rem-calc(13.4);

    h2 {
      line-height: .8;

      a {
        color: $grey-dark;
        font-size: rem-calc(13.4);
        font-weight: normal;
        line-height: rem-calc(18.7);
        display :block;

        &:hover {
          color: $blue3;
        }

        h1.field--name-title {
          -webkit-transition: all 0.25s;
          transition: all 0.25s;

          &:hover {
            color: $blue3;
          }
        }
      }
    }
  }

  .more-link {
    font-size: rem-calc(13.4);
    text-align: left;

    a {
      color: $blue3;

      &::after {
        content: '\25BA';
        font-size: rem-calc(12);
        margin-left: rem-calc(1);
      }
    }
  }
}
