.paragraph--type--row-images {
  .field--name-field-add-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 rem-calc(-10);
    overflow: hidden;

    .field__item {
      box-sizing: border-box;
      float: left;
      margin: 0;
      padding: rem-calc(5);
      position: relative;
      width: 33.3333%;

      @include media-breakpoint-down(sm) {
        width: calc(100%);
      }

      .paragraph--type--image-with-caption-item {
        .field--name-field-image {
          display: inline-block;
          margin: auto;
          overflow: hidden;
          position: relative;
          width: 100%;

          img {
            display: block;
            height: auto;
            max-width: 100% !important;
            opacity: 1;
            transition: .3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .field--name-field-caption {
          font-family: $font-roboto;
          font-size: rem-calc(12);
          font-weight: 400;
          line-height: 1.5;
          width: 100%;

          &.field--name-field-caption-long {
            font-size: rem-calc(15);
          }
        }
      }
    }
  }
}
