.paragraph--type--rss {
  margin-bottom: 35px;
  padding: 8px 14px 18px;
  border: 1px solid #939393;

  .block-views h2 {
    align-items: center;
    display: flex;
    font-family: $font-bitter;
    font-size: rem-calc(26);
    letter-spacing: 0.01em;
    line-height: 1.2;
    padding: rem-calc(0 0 18);
    margin: 0;

    &::before {
      color: $orange;
      content: "\e90c";
      font-family: icomoon;
      font-size: rem-calc(30);
      height: 38px;
      margin-right: rem-calc(11);
      width: 30px;
    }
  }

  .views-row {
    line-height: 1.4;
    margin-bottom: rem-calc(10);

    a {
      color: $grey-dark;
    }

    &:last-of-type {
      margin-bottom: rem-calc(7);
    }
  }

  .views-field-title {
    font-size: rem-calc(13.4);
  }

  .more-link {
    font-size: rem-calc(12);
    text-align: left;

    a {
      color: $blue3;

      &::after {
        content: '\25BA';
        font-size: rem-calc(12);
        margin-left: rem-calc(3);
      }
    }
  }
}
