.region-content {
  padding: 0;
}

.paragraph--type--slider {
  margin: rem-calc(36) 0 rem-calc(23);
  position: relative;

  .paragraph--type--slide-item {
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .img-container {
    margin-bottom: 0;
  }

  .img-caption {
    display: none;
  }
}

.slick-slide {
  img {
    @include media-breakpoint-down(sm) {
      height: auto;
      width: 100%;
    }
  }
}

.slider-content {
  background: $white url("../images/hq-bg-featured-slide.jpg") no-repeat top center;
  border: 1px solid #d5d5d5;
  color: #595a5c;
  overflow: hidden;
  padding: rem-calc(10);
  position: relative;
  width: 100%;

  @include media-breakpoint-down(sm) {
    min-height: 250px
  }

  @include media-breakpoint-down(md) {
    border-top: 0;
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(24);
  }

  @include media-breakpoint-up(lg) {
    background: rgba(207, 203, 198, 0.18) url("../images/hq-bg-featured-slide.jpg") no-repeat top right;
    border-left: 0;
    width: 317px;
  }

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .field--name-field-title {
    font-family: $font-bitter;
    font-size: rem-calc(21);
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.2;
    margin-bottom: rem-calc(9);
    position: relative;
    z-index: 1;

    // Max rows
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .field--name-field-body {
    font-size: rem-calc(14);
    line-height: 1.7;
    font-weight: 400;
    position: relative;
    z-index: 1;

    .slider-read-more {
      margin-left: rem-calc(3);
    }

    a {
      color: $blue3;

      &::after {
        content: "\25BA";
        font-size: rem-calc(12);
        margin-left: rem-calc(1);
      }
    }

    p {
      display: inline;
    }
  }
}

.slick-dots {
  bottom: rem-calc(10);
  margin: 0;
  padding-left: rem-calc(11);
  position: absolute;
  right: 0;
  width: 317px;

  @include media-breakpoint-up(sm) {
    bottom: rem-calc(23);
    padding-left: rem-calc(25);
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: rem-calc(6);

    button {
      border: 0;
      border-radius: 100%;
      font-size: 0;
      height: 9px;
      padding: 0;
      width: 9px;

      &:focus {
        outline: none;
      }
    }
  }
}

//.ds-1col,
.page-node-type-article,
.page-node-type-publication,
.page-node-type-multimedia {
  .paragraph--type--slider {
    .paragraph--type--slide-item {
      flex-direction: column;
    }
  }

  .slider-image {
    margin-bottom: rem-calc(12);
    .field--name-field-image {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }

  .slider-content {
    background: 0;
    border: 0;
    font-size: rem-calc(14);
    padding: 0;
    width: 100%;
    .field--name-field-title {
      font-size: rem-calc(16);
      line-height: rem-calc(16);
      font-weight: 700;
      color: #5e5a55;
      margin: 0 0 rem-calc(12) 0;
    }
  }
  .slick-dots {
    bottom: unset;
    margin: 0;
    padding-left: 0;
    left: 0;
    text-align: center;
    top: rem-calc(280);
    width: 100%;

    li.slick-active {
      background-color: $blue;
    }
  }

  .slider-homepage-style {
    .paragraph--type--slider {
      margin-top: rem-calc(30);

      .paragraph--type--slide-item {
        flex-direction: row;
      }
    }
    .slider-image {
      margin-bottom: 0;
    }

    .slider-content {
      border: 1px solid #d5d5d5;
      font-size: rem-calc(14);
      padding: rem-calc(10);
      width: 100%;
  
      @include media-breakpoint-down(md) {
        border-top: 0;
      }
  
      @include media-breakpoint-up(lg) {
        padding: rem-calc(24);
      }
  
      @include media-breakpoint-up(lg) {
        border-left: 0;
        width: 317px;
      }
  
      .field--name-field-title {
        // color: #5e5a55;
        // margin: 0 0 rem-calc(12) 0;
        font-size: rem-calc(21);
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: rem-calc(9);
      }
    }
    .slick-dots {
      text-align: unset;
      bottom: rem-calc(10);
      left: unset;
      padding-left: rem-calc(11);
      position: absolute;
      right: 0;
      top: unset;
      width: 317px;

      @include media-breakpoint-up(sm) {
        bottom: rem-calc(23);
        padding-left: rem-calc(25);
      }
  
      li.slick-active {
        background-color: transparent;
      }
    }
    .slick__arrow {
      display: none;
    }
  }
}

.path-frontpage {
  .slick__arrow {
    display: none;
  }
}

.slick__arrow {
  .slick-prev {
    border: 0;
    height: 32px;
    margin-top: rem-calc(-16);
    outline: 0;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 32px;
    z-index: 9999;
    @include media-breakpoint-down(md) {
      top: 42%;
    }
    @include media-breakpoint-down(xs) {
      top: 28%;
    }
  }

  .slick-next {
    border: 0;
    height: 32px;
    margin-top: rem-calc(-16);
    outline: 0;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    right: 0;
    width: 32px;
    z-index: 9999;
    @include media-breakpoint-down(md) {
      top: 42%;
    }
    @include media-breakpoint-down(xs) {
      top: 28%;
    }
  }
}
