@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";


.paragraph--type--content-carousel,
.hq-carousel-global-card,
.hq-carousel-get-in-touch-card {
  .swiper-container {
    overflow: hidden;

    .swiper-scrollbar {
      top: unset !important;
      left: unset !important;
      height: 7px !important;
      width: 100% !important;
      position: unset !important;
      cursor: pointer;

      .swiper-scrollbar-drag {
        background: $blue;
      }
    }

    .swiper-wrapper {
      flex: 0 0 100%;
      max-width: 100%;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }
}

.paragraph-list {
  margin-top: 40px;

  & > section:first-child.paragraph--section--hero,
  & > section:first-child.paragraph--section--hero-banner {
    margin-top: -40px;
  }

  .hq-carousel-global-card {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sdg-detail-page {
  .paragraph-list {
    margin-top: 0;
  }
}

.paragraph--type--content-carousel {
  padding-top: 40px;
  padding-bottom: 40px;

  .swiper-wrapper {
    margin-bottom: 50px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  .paragraph--type--content-carousel-item {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background-color: transparent;
    }

    .card_wrapper {
      color: #333333;
    }

    .card_title {
      font-weight: 700;

      span {
        --line-color: #181818;
        text-decoration: none;
        background-image: linear-gradient(
          to right,
          var(--line-color) 0%,
          var(--line-color) 100%
        );
        background-position: 0px 95%;
        background-size: 0px 2px;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
          0s;
        padding: 0.1% 0px;
        background-repeat: no-repeat;
      }
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    .head-wrapper {
      position: relative;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      max-height: 357px;

      .field--name-field-image-limited {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          height: 100%;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &:hover {
      .image-wrapper {
        .field--name-field-image-limited-media {
          transform: scale(1.15);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }

    .card_title {

      display: block;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }

    &.paragraph--view-mode--featured {
      padding: 30px 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      .content {
        display: grid;
        grid-template-columns: 1fr 380px;
        background-color: #edf4fc;

        @include media-breakpoint-down(md) {
          grid-template-columns: 1fr 240px;
          min-height: 100%;
        }

        @include media-breakpoint-down(sm) {
          grid-template-columns: 1fr;
          min-height: 297px;
        }

        &-right {
          padding: 23px 30px;
          color: #333333;

          @include media-breakpoint-down(md) {
            padding: 15px 10px 25px 10px;
          }

          @include media-breakpoint-down(sm) {
            padding: 20px 10px;
          }
        }

        .content-tag {
          max-width: max-content;
          margin-bottom: 25px;
        }

        .field--name-field-image-limited {
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

        .field--name-field-link-limited {
          a {
            @include typography-body-sb;

            text-transform: uppercase;

            &:hover {
              color: $blue;
            }

            &::after {
              content: "\e806";
              font-family: "UN-Women";
              padding-left: 10px;
            }
          }

          .field__item {
            padding: 14.5px;
            padding-left: 0;
            border-bottom: 1px solid $black;

            @include media-breakpoint-down(md) {
              padding: 11.5px;
              padding-left: 0;
            }
          }
        }

        .field--name-field-summary {
          @include typography-body;
        }

        a {
          color: #181818;
        }

        h3 {
          margin-bottom: 15px;

          @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-related-resources-block-1 {
  padding-top: 40px;
}
