.node--type-event.node--view-mode-full p:last-child {
  margin-bottom: 0;
}
.node--type-event.node--view-mode-full img {
  margin-bottom: 25px;
}
.node--type-event.node--view-mode-full .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 45px;
}
.node--type-event.node--view-mode-full .field--name-field-registration-link a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
  display: block;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .field--name-field-registration-link a {
    font-size: 14px;
  }
}
.node--type-event.node--view-mode-full .field--name-field-registration-link a:hover, .node--type-event.node--view-mode-full .field--name-field-registration-link a:focus {
  color: #fff;
}
.node--type-event.node--view-mode-full .field--name-field-registration-link a:hover, .node--type-event.node--view-mode-full .field--name-field-registration-link a:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: 1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}
.node--type-event.node--view-mode-full .field--name-field-event-live-link a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0397d6;
  background-color: #fff;
  color: #0397d6;
  display: block;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .field--name-field-event-live-link a {
    font-size: 14px;
  }
}
.node--type-event.node--view-mode-full .field--name-field-event-live-link a:hover, .node--type-event.node--view-mode-full .field--name-field-event-live-link a:focus {
  color: #fff;
}
.node--type-event.node--view-mode-full .field--name-field-event-live-link a:hover {
  background-color: #EDF4FC;
  color: #0397d6;
}
.node--type-event.node--view-mode-full .field--name-field-event-live-link a:focus {
  color: #0397d6;
  background-color: #fff;
}
.node--type-event.node--view-mode-full .event__block {
  padding-block: 30px;
  border-block-end: 1px solid #BAC6D5;
}
@media (min-width: 768px) {
  .node--type-event.node--view-mode-full .event__block {
    padding-block: 50px;
  }
}
@media (min-width: 1180px) {
  .node--type-event.node--view-mode-full .event__block {
    padding-block: 54px;
  }
}
.node--type-event.node--view-mode-full .event__block.map {
  margin-top: -1px;
  padding-block: 20px;
  background-color: #fff;
  border-top: 1px solid #BAC6D5;
}
.node--type-event.node--view-mode-full .event__block.hide {
  border-top-color: #fff;
}
.node--type-event.node--view-mode-full .event__sub-title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .node--type-event.node--view-mode-full .event__sub-title {
    margin-bottom: 44px;
  }
}
.node--type-event.node--view-mode-full .event__title-h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .event__title-h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767.98px) {
  .node--type-event.node--view-mode-full .event__date-location {
    margin-top: 22px;
  }
}
.node--type-event.node--view-mode-full .event__date-location-content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  display: flex;
  gap: 28px;
  border: 1px solid #0397d6;
  border-radius: 12px;
  padding: 20px 16px;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .event__date-location-content {
    font-size: 16px;
    line-height: 24px;
  }
}
.node--type-event.node--view-mode-full .event__date-location-content .text-blue {
  color: #202056;
  font-weight: 700;
}
.node--type-event.node--view-mode-full .event__agenda-content {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .event__agenda-content {
    font-size: 18px;
    line-height: 28px;
  }
}
.node--type-event.node--view-mode-full .addtocal-container {
  float: none;
  margin: 10px 0 0;
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  padding: 0;
  background: none;
  border: 0;
  color: #0397d6;
  text-transform: uppercase;
}
@media (max-width: 1179.98px) {
  .node--type-event.node--view-mode-full .addtocal-container .addtocal {
    font-size: 16px;
    line-height: 24px;
  }
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal:focus {
  outline: 0;
  color: #202056;
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal:hover {
  color: #202056;
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 8px;
  gap: 8px;
  border: 1px solid #E9EBED;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04), 0px 20px 24px -4px rgba(16, 24, 40, 0.1);
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal-link {
  width: 100%;
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal-link a {
  display: block;
  padding: 4px 8px;
  border-radius: 2px;
}
.node--type-event.node--view-mode-full .addtocal-container .addtocal-link a:hover, .node--type-event.node--view-mode-full .addtocal-container .addtocal-link a:focus {
  text-decoration: none;
  background-color: #EDF4FC;
}