.block-views-block-news-and-stories-block-3 {
  padding-top: 40px;
}
.block--related_articles {
  padding: 0 16px 70px;
}
.block--related_articles h2:before {
  content: "";
  height: 1px;
  background: #BAC6D5;
  margin-bottom: 57px;
  display: block;
}
@media (max-width: 1179.98px) {
  .block--related_articles h2:before {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .block--related_articles h2:before {
    margin-bottom: 18px;
  }
}