.global-card__wrapper {
  position: relative;
  overflow: hidden;
}
.global-card__wrapper.bg-color__wrapper {
  height: 100%;
  padding-bottom: 12px;
  background-color: #EDF4FC;
  border: 1px solid #C2C8CC;
  overflow: visible;
}
.global-card__wrapper.bg-color__wrapper .global-card__image {
  margin: -1px;
}
.global-card__wrapper.bg-color__wrapper .global-card__tag {
  left: -1px;
}
.global-card__wrapper.bg-color__wrapper .global-card__title {
  min-height: 54px;
  padding-inline: 16px;
  margin-bottom: 24px;
  -webkit-line-clamp: 2;
}
.global-card__wrapper.default {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF4FC;
  flex: 0 0 100%;
  max-width: 232px;
  height: 168.34px;
}
.global-card__wrapper .drupal-icon {
  position: absolute;
}
.global-card__link {
  display: block;
  height: 100%;
  color: #181818;
}
.global-card__link:hover .global-card__title span, .global-card__link:focus .global-card__title span {
  background-size: 100% 2px;
}
.global-card__link:hover .global-card__tag-text, .global-card__link:focus .global-card__tag-text {
  filter: brightness(95%);
}
.global-card__link:hover .global-card__image img, .global-card__link:focus .global-card__image img {
  transform: scale(1.1);
}
.global-card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.global-card__image *:not(.websites-card__icon-image) {
  width: 100%;
}
.global-card__image .image-container img,
.global-card__image .field--type-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 130px;
  margin-bottom: 0 !important;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 14px;
  line-height: normal;
  transition: 0.3s;
  aspect-ratio: 4/3;
}
.global-card__image.publication img {
  aspect-ratio: unset;
}
.global-card__image-default {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #E9EBED;
  aspect-ratio: 4/3;
}
.global-card__image-default.publication {
  height: 328.52px;
}
.global-card__tag {
  position: relative;
  display: inline-block;
  left: 0;
  bottom: 16px;
}
.global-card__tag-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #fff;
  text-align: left;
  background: #e2186f;
  border-radius: 3px;
  padding: 8px 20px;
  text-align: left;
  background: #e2186f;
  border-radius: 3px;
}
.global-card__tag-text:hover, .global-card__tag-text:focus, .global-card__tag-text:focus-within {
  filter: brightness(95%);
}
.global-card__tag-text a {
  color: #fff;
}
.global-card__tag-text:hover, .global-card__tag-text:focus {
  filter: brightness(95%);
}
.global-card__title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #181818;
}
.global-card__title.publication {
  -webkit-line-clamp: 3;
}
.global-card__title span {
  text-decoration: none;
  background-image: linear-gradient(to right, #181818 0%, #181818 100%);
  background-position: 0px 95%;
  background-size: 0px 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
  background-repeat: no-repeat;
}
.global-card__title.publication {
  margin-top: 18px;
}
.global-card__date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #656565;
}
.global-card__icon-text {
  display: flex;
  align-items: flex-start;
  padding-inline: 15px;
  margin-bottom: 12px;
  color: #181818;
}
.global-card__icon-text p {
  margin: 0;
}
.global-card__icon-text .drupal-icon {
  position: relative;
  margin-right: 12px;
}

.tab-publication .global-card__wrapper.default,
.publication-card .global-card__wrapper.default {
  height: 328.52px;
}

.tab-website .global-card__wrapper.default {
  height: 190px;
}

.carouselNav-wrapper a {
  text-transform: uppercase;
}

.block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
    max-width: 720px;
  }
}
@media (min-width: 1180px) {
  .block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
    max-width: 1024px;
  }
}
@media (min-width: 1366px) {
  .block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
    max-width: 1296px;
  }
}
@media (max-width: 1179.98px) {
  .block-views-block-related-resources-related-courses,
.block-views-block-latest-resources-by-type-publications,
.block-views-block-latest-resources-by-type-events,
.block-views-block-latest-resources-by-type-podcast,
.block-views-block-latest-resources-by-type-websites,
.block-views-block-latest-resources-by-type-videos,
.block-views-block-related-resources-block-1,
.block-views-block-news-and-stories-block-3,
.block--related_articles {
    max-width: 100vw;
  }
}
.block-views-block-related-resources-related-courses .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-publications .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-events .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-podcast .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-websites .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-videos .swiperHeader-wrapper,
.block-views-block-related-resources-block-1 .swiperHeader-wrapper,
.block-views-block-news-and-stories-block-3 .swiperHeader-wrapper,
.block--related_articles .swiperHeader-wrapper {
  position: absolute;
  top: -62px;
  right: 0;
  margin: 0;
}
@media (max-width: 767.98px) {
  .block-views-block-related-resources-related-courses .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-publications .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-events .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-podcast .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-websites .swiperHeader-wrapper,
.block-views-block-latest-resources-by-type-videos .swiperHeader-wrapper,
.block-views-block-related-resources-block-1 .swiperHeader-wrapper,
.block-views-block-news-and-stories-block-3 .swiperHeader-wrapper,
.block--related_articles .swiperHeader-wrapper {
    top: -55px;
  }
}

@media (max-width: 767.98px) {
  .block-views-block-latest-resources-by-type-events h2,
.block-views-block-latest-resources-by-type-publications h2,
.block-views-block-latest-resources-by-type-podcast h2,
.block-views-block-latest-resources-by-type-videos h2,
.block-views-block-latest-resources-by-type-websites h2 {
    max-width: calc(100% - 100px);
  }
}