.field--name-field-impact-card-item.field__item {
  padding-inline: 16px;
}
@media (max-width: 1179.98px) {
  .field--name-field-impact-card-item.field__item {
    padding-inline: 12px;
  }
}
@media (max-width: 767.98px) {
  .field--name-field-impact-card-item.field__item {
    padding-inline: 16px;
  }
}

.impact-cards {
  padding-block: 64px;
}
@media (max-width: 1179.98px) {
  .impact-cards {
    padding-inline: 30px;
  }
}
@media (max-width: 767.98px) {
  .impact-cards {
    padding-inline: 16px;
  }
}
@media (max-width: 767.98px) {
  .impact-cards__inner {
    row-gap: 38px;
  }
}
.impact-cards__heading {
  margin-inline: auto;
  margin-bottom: 32px;
  padding-inline: 0;
}
@media (max-width: 767.98px) {
  .impact-cards__heading {
    margin-bottom: 52px;
  }
}
.impact-cards__heading h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: -2%;
  font-weight: 700;
  margin-bottom: 0;
}
@media (max-width: 1179.98px) {
  .impact-cards__heading h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
.impact-cards-backdrop {
  padding: 0;
}
.impact-cards-backdrop .impact-cards__heading {
  margin-bottom: 32px;
}
.impact-cards-backdrop .impact-cards__inner {
  row-gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .impact-cards-backdrop .impact-cards__inner {
    row-gap: 1rem;
    flex-wrap: nowrap;
    padding: 0 16px;
  }
}
@media (max-width: 767.98px) {
  .impact-cards-backdrop .swiper-container {
    width: calc((100vw - 100%) / 2 + 100%);
  }
  .impact-cards-backdrop .field--name-field-impact-card-item.field__item {
    padding: 0 20px 0 0;
    flex: unset;
  }
}
@media (max-width: 767.98px) {
  .impact-cards-backdrop .paragraph--type---impact-cards-items {
    width: 303px;
  }
}

.impact-card {
  position: relative;
  background-color: #fff;
  height: 390px;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  overflow: hidden;
}
@media (max-width: 1179.98px) {
  .impact-card {
    height: 292px;
    padding: 18px;
  }
}
@media (max-width: 767.98px) {
  .impact-card {
    height: 460px;
    padding: 24px;
  }
}
.impact-card:hover .impact-card__icon {
  transform: translateX(-200px);
}
.impact-card:hover .impact-card__content {
  color: #fff;
}
.impact-card:hover .impact-card__stats {
  color: #fff !important;
}
.impact-card.img-bg:hover .impact-card__image {
  opacity: 1;
}
.impact-card.img-bg:hover .impact-card__image::before {
  content: "";
}
.impact-card.color-bg {
  transition: background-color 0.3s ease;
}
.impact-card.color-bg:hover {
  background-color: var(--bg-color);
}
.impact-card__icon {
  max-height: 156px;
  transition: all 0.4s ease;
  position: relative;
  top: -12px;
  left: -42px;
}
@media (max-width: 1179.98px) {
  .impact-card__icon {
    left: -32px;
    max-height: 118px;
  }
}
@media (max-width: 767.98px) {
  .impact-card__icon {
    left: -48px;
    max-height: 184px;
  }
}
.impact-card__icon svg {
  max-width: 148px;
  max-height: 156px;
  fill: var(--impact-icon-fill);
}
.impact-card__icon svg g,
.impact-card__icon svg path {
  fill: var(--impact-icon-fill);
}
.impact-card__icon svg #dark,
.impact-card__icon svg #Dark {
  fill: var(--impact-icon-fill);
}
.impact-card__icon svg #dark path,
.impact-card__icon svg #Dark path {
  fill: var(--impact-icon-fill);
}
.impact-card__icon svg #light path,
.impact-card__icon svg #Light path {
  fill: var(--impact-icon-fill);
  opacity: 0.25;
}
.impact-card__icon svg #white path {
  fill: #fff;
}
.impact-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.3s ease;
}
.impact-card__image::before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(4, 4, 4, 0.65) 100%);
}
.impact-card__image picture {
  height: 390px;
}
@media (max-width: 767.98px) {
  .impact-card__image picture {
    height: 460px;
  }
}
.impact-card__content {
  position: relative;
  z-index: 1;
}
.impact-card__stats {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  text-align: right;
  margin-bottom: 12px;
  transition: color 0.3s ease;
  overflow: hidden;
}
@media (max-width: 1179.98px) {
  .impact-card__stats {
    font-size: 32px;
  }
}
@media (max-width: 1179.98px) {
  .impact-card__stats {
    margin-bottom: 8px;
  }
}
@media (max-width: 767.98px) {
  .impact-card__stats {
    margin-bottom: 12px;
  }
}
.impact-card__desc {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: right;
}
@media (max-width: 1179.98px) {
  .impact-card__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
.impact-card__desc p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@supports (-webkit-line-clamp: 3) {
  .impact-card__desc p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.impact-card__desc p:last-child {
  margin: 0;
}
.impact-card-backdrop {
  height: 292px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 40px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .impact-card-backdrop {
    height: 303px;
  }
}
.impact-card-backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  transition: 0.3s;
}
.impact-card-backdrop:hover::before {
  transform: scale(1.1);
}
.impact-card-backdrop__content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
.impact-card-backdrop__content p {
  margin-bottom: 0;
}
.impact-card-backdrop__stats {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -2%;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
@media (max-width: 1179.98px) {
  .impact-card-backdrop__stats {
    font-size: 42px;
    line-height: 60px;
  }
}
.impact-card-backdrop__desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.impact-card-backdrop__image {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.node--type-hq-complex-page.node--view-mode-full .impact-card__icon img {
  width: auto;
  max-height: 100%;
}
.node--type-hq-complex-page.node--view-mode-full .impact-card__image img,
.node--type-hq-complex-page.node--view-mode-full .impact-card-backdrop__image img {
  width: 100%;
  max-height: 100%;
  height: 100%;
}