{% if (content.field_data_snapshots['#items']|length) > 1 %}
  {% set items_length = 'multiple-items' %}
{% else %}
  {% set items_length = 'single-item' %}
{% endif %}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished',
  items_length
] %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
