<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon-32.png" rel="icon" sizes="32x32" type="image/png" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon-16.png" rel="icon" sizes="16x16" type="image/png" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon.ico" rel="shortcut icon" />
<link crossorigin="crossorigin" href="https://fonts.googleapis.com" rel="preconnect" />
<link href="/sites/default/files/assets/annual-reports/2022/css/loading.css" id="loadingStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/overlay.css" id="overlayStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/common.css?ts=120920230134" id="commonStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/home.css" id="mainStyles" rel="stylesheet" /><!--
            Main 👇
            description: Main container
      -->
<main id="main"><!--
                  Loading 👇
                  description: Loading layer container
            -->
<div class="no-intro" id="loading">
<div id="loading-bg">&nbsp;</div>
</div>
<!-- /Loading 🔚 --><!--
                  Overlay 👇
                  description: Layer for transitions between pages
            --><!-- <div id="overlay"></div> --><!-- /Overlay 🔚 --><!--
                  Menu 👇
                  description: Menu container
            -->

<div class="mobile-nav"><span>Menu</span>

<div class="mobile-nav__burger">&nbsp;</div>
</div>

<div id="menu">
<ul>
      <li><a href="#moving-forward">Foreword</a></li>
      <li><a href="#our-results">Our Results</a></li>
      <li><a href="#our-reasons">Our Reasons</a></li>
      <li><a href="#our-partners">Our Partners</a></li>
</ul>
</div>
<!-- /Menu 🔚 --><!--
                  Page 👇
                  description: Page container
            -->

<div id="page">
<div class="hero">
<div class="hero__logo">
<div class="small-container"><a href="https://www.unwomen.org/"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/unwomen-logo.svg" width="145" loading="lazy" /> </a></div>
</div>

<div class="hero__bg">
<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/hero-equality.jpg">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/hero-feminist.jpg">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/hero-empowerment.jpg">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/hero-autonomy.jpg">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/hero-rights.jpg">&nbsp;</div>
</div>

<div class="hero__text">
<div class="small-container">
<h1>The Future Is<br />
<strong><span class="color-word yellow">Equality</span> <span class="color-word purple">Feminist</span> <span class="color-word orange">Empowerment</span> <span class="color-word yellow">Autonomy</span> <span class="color-word purple">Rights</span> </strong></h1>

<div class="hero__subtitle">UN Women Highlights <span>2021-2022</span></div>

<div class="hero__scroll">
<div>Scroll to<br />
discover</div>
</div>
</div>
</div>

<div class="hero__dots">
<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>
</div>

<nav id="secondary-nav">
<div id="secondary-nav-bar">&nbsp;</div>

<div class="container"><a class="nav-item" data-percent="0.065" href="#moving-forward"><span>Foreword</span></a> <a class="nav-item" data-percent="0.119" href="#our-results"><span>Our Results</span></a> <a class="nav-item" data-percent="0.751" href="#our-reasons"><span>Our Reasons</span></a> <a class="nav-item" data-percent="0.065" href="#our-partners"><span>Our Partners</span></a></div>
</nav>
</div>

<section id="moving-forward">
<div class="small-container">
<div class="section-title text-center text-with-brush explode-text">Moving <strong>forward</strong></div>

<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/sima_bahous_740x760.png" loading="lazy"/>
<div class="footnote">Photo: UN Photo/Eskinder Debebe</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<div class="two-columns__name">Sima Bahous</div>

<div>UN Women Executive Director</div>

<p>We live at a moment of multiplying challenges and crises. Conflicts persist in a world beset by climate change and the COVID-19 pandemic. Millions of people live in poverty; hunger and insecurity are on the rise. Gender inequality and discrimination are fostered by these threats, comprising what the United Nations Secretary-General refers to as “the most overwhelming injustice across the globe” for women and girls.</p>

<p>With just eight years until 2030, the endpoint of the global Sustainable Development Goals, the world is behind on most indicators of change under Goal 5, on gender equality. We must accelerate progress for women and girls. Without full realization of their rights, the world will continue to fall short on peace, development and human security.</p>

<p>At the same time, UN Women, UN Member States, gender equality advocates and women's movements everywhere remain tireless in the quest for justice, development and equality. That is why when I look ahead, while I see the challenges, I am optimistic that we can surmount them. Women and girls have proven, time and again, that they will not be held back. They are in fact multipliers of the solutions that lead both to equality and to benefits for entire societies.</p>

<p>The pandemic made clear - and sharpened - the stark inequalities faced by women. They lost jobs at faster rates than men, stayed out of the job market longer, took on higher levels of caregiving at home, and experienced intensified domestic violence. Yet the pandemic also demonstrated just how much our future progress depends on women's skills and leadership. They sustained health-care systems, invented lifesaving vaccines and put unpaid care work at the forefront of global debate on more inclusive economies.</p>

<p>UN Women stands with women and girls everywhere, in all their diversity, to quicken the pace of change, away from inequality and discrimination and towards rights, empowerment and autonomy. Our new <a href="https://www.unwomen.org/en/un-women-strategic-plan-2022-2025" target="_blank">Strategic Plan</a>, informed by rich evidence and lessons from UN Women's first decade, articulates how we intend to harness all our strengths as the global champion for gender equality. Over the next four years, we will use our repository of gender equality experts, the largest in the UN system. We will draw deeply from our vast network linking women's movements, governments, the multilateral system, the private sector, media, youth activists and more.</p>

<p>We will continue to build on our unique mandate as an organization, where we help define normative standards for gender equality, deliver programmes, and coordinate work on gender equality by the broader United Nations system and others.</p>

<p>Much of our ambition depends on successful partnerships. We are grateful to our donors for making <a href="https://documents-dds-ny.un.org/doc/UNDOC/GEN/N22/323/55/PDF/N2232355.pdf?OpenElement" target="_blank">our results</a> possible and sharing the responsibility for faster progress, and we rely for our success on their continued and scaled-up support.</p>

<p>Without question, ending gender inequality is among the most daunting tasks in the world today. But as these annual highlights from UN Women illustrate, based on our experiences from around the world, we are making progress. But it needs to be much faster. Equality is within reach. That should give us hope. Most importantly, it should galvanize our action.</p>
</div>

<div class="button-link_icon"><a class="button-link" href="https://undocs.org/UNW/2021/2" target="_blank"><svg fill="none" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M4.5 0.5L12 8L4.5 15.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path> </svg></a></div>

<div class="button-link_text"><a class="button-link" href="https://undocs.org/UNW/2021/2" target="_blank">Annual Report of the Executive Director </a></div>
</div>
</div>
</div>

<div class="big-plans">
<div class="section-subtitle text-with-brush masked-text">As a partner and a leader, UN Women <strong>has big plans.</strong><br />
Our vision for a gender equal world.</div>

<div class="media video-component fade-in-y">
<div class="video-container" data-passive="" data-src="https://www.youtube.com/watch?v=z5QfTrCF6Mc&amp;t=2s">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/big-plans-video.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
<!-- <div class="footnote">
                Our vision for a gender equal world
              </div> --></div>
</div>
</div>
</section>

<section class="section section__bg blue" id="our-results">
<div class="section__bg-content">
<div class="small-container">
<div class="row row-align-center">
<div class="col-75">
<div class="section-title">Our Results</div>

<div class="section-title text-with-brush masked-text">Through UN Women's continuous support from <strong>2018-2021</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#our-reasons"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>
</section>
</div>

<div class="small-container">
<div class="timeline fade-in-y">
<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right first">
<div class="timeline__item-data" data-count="35000">35,000</div>

<div class="timeline__item-text">
<p>women gained political leadership skills</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="41">41</div>

<div class="timeline__item-text">
<p>countries implemented gender action plans and budgets</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="44">44</div>

<div class="timeline__item-text">
<p>countries, home to 1.6 billion woman and girls, adopted policies to advance women's economic empowerment</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="4357">4,357</div>

<div class="timeline__item-text">
<p>private companies signed the <a href="https://www.weps.org/" target="_blank">Women's Empowerment Principles</a></p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="57">57</div>

<div class="timeline__item-text">
<p>countries, with 2.5 billion women and girls, tackled discriminatory norms that fuel gender-based violence</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="69">69</div>

<div class="timeline__item-text">
<p>countries, home to 2.7 billion women and girls, improved services for survivors of gender-based violence</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="99">99</div>

<div class="timeline__item-text">
<p>countries and territories agreed on women, peace and security action plans</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data"><span data-count="1.9">1.9</span>m</div>

<div class="timeline__item-text">
<p>women and girls benefitted from lifesaving humanitarian services</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="38">38</div>

<div class="timeline__item-text">
<p>UN entities reported on gender parity in a public dashboard</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="1000">1,000</div>

<div class="timeline__item-text">
<p>commitments to change were made at the <a href="https://forum.generationequality.org/home" target="_blank">Gender Equality Forum</a></p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="71">71</div>

<div class="timeline__item-text">
<p>UN entities reported on gender progress through UN-SWAP 2.0</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="reasons-nav">
<div class="reasons-nav__dots">&nbsp;</div>
</div>

<section class="section section__bg orange section-reasons" id="our-reasons">
<div class="section__bg-content">
<div class="small-container">
<div class="text-center fade-in-y">
<div class="section-title">Our Reasons<br />
For <span class="italic">Optimism</span></div>

<p>UN Women is the global champion for gender equality and women's empowerment. We act on our standards, advocate with rigorous evidence, and lead with our expertise. We convene people and broker partnerships to accelerate change. Around the world, our programmes improve women's lives by achieving concrete advances towards equality and empowerment.</p>

<p>The current moment is a daunting one amid multiple threats and uncertainties. Yet we at UN Women look around and we look ahead – and we see that transformation remains possible. Everyone has a role in making change; many are already stepping up. <strong>Here are 10 reasons for optimism, 10 reasons to keep on course.</strong></p>
</div>

<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">01</div>
</div>
</div>

<div class="row" id="start-dots">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">People from all parts of the world are <strong>mobilizing for gender equality</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#feminist-economics"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2">
<div class="two-columns__video">
<div class="media video-component">
<div class="video-container" data-passive="" data-src="https://www.youtube.com/watch?v=85UyyrwflVo&amp;ab_channel=UNWomen">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/generation-equality.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
</div>

<div class="two-columns__video-text orange">
<p>Generation Equality Paris Opening Ceremony</p>
<!-- <div class="two-columns__video-button">
                      <a data-src="https://www.youtube.com/watch?v=85UyyrwflVo&ab_channel=UNWomen">
                        <span class="button">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path>
                          </svg>
                        </span>
                        <span class="text">Play video</span>
                      </a>
                    </div> --></div>
</div>
<!-- <div class="footnote">
                  Photo credit: Author name, Year
                </div> --></div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>More than 50,000 people answered the call: <a href="https://forum.generationequality.org/actforequal" target="_blank">act for equal</a>. They committed to do all they can to gear up action to achieve the landmark 1995 Beijing Platform for Action, agreed at the Fourth World Conference on Women. The mobilizing force was the <a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D85UyyrwflVo&amp;data=04%7C01%7Ccarlotta.aiello%40unwomen.org%7C699ee0a49ef04aa7adb308da1bf59e77%7C2bcd07449e18487d85c3c9a325220be8%7C0%7C0%7C637853038979718671%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000&amp;sdata=%2FPjstIfwgn%2BNzhZj3VvWXXyxj42zFqR09kCcNO%2FnZJw%3D&amp;reserved=0" target="_blank">Generation Equality Forum</a>, a UN Women-orchestrated two-year rally for the rights of women and girls, culminating in events in Mexico City and Paris in 2021. Feminists and advocates, across generations, came to have their say and plan their moves. Heads of State and Government attended, signalling powerful political commitment, as did corporate leaders and heads of philanthropies, cultural and social influencers, and prominent people from across the United Nations. Young activists laid down their challenge: “Are you ready to unite behind the young feminist agenda? Because we now demand real, substantive impact.”</p>

<p>The Forum galvanized diverse participants to make <a href="https://commitments.generationequality.org/dashboard/directory/" target="_blank">1,000 commitments</a> to ambitious actions to achieve gender equality. They announced an extraordinary USD 40 billion in financial investments to set rapid progress in motion. Participants had a chance to co-create a Global Acceleration Plan. People from every region of the world shared their ideas, such as <a href="https://www.youtube.com/watch?v=HSZmZ8AwfbM" target="_blank">youth from Europe and Central Asia</a>, activists of <a href="https://www.youtube.com/watch?v=NA4hWdl80-M&amp;list=PLix6UiDjTOFo-gb_EaXRMEjoF4svXFqC6&amp;index=27" target="_blank">Generation Equality Africa</a> and musicians from <a href="https://www.youtube.com/watch?v=ciMMqCd9p2U&amp;list=PL_KcKFxi0uV-cvzirKw8fMrY-Z0WsHEuJ" target="_blank">Latin America and the Caribbean</a>.</p>

<p>Now, commitment-makers are acting on their promises. Catalysed by UN Women, <a href="https://forum.generationequality.org/action-coalitions" target="_blank">action coalitions</a> are propelling progress on <a href="https://commitments.generationequality.org/dashboard/directory/" target="_blank">issues core to gender equality</a>, from bodily autonomy, to unpaid care, to economic justice. A new Compact on Women, Peace and Security and Humanitarian Action has nearly 160 signatories. They are funding women leaders to <a href="https://wpshacompact.org/from-victims-to-leaders-ending-gender-based-violence-in-the-lake-chad-basin/" target="_blank">bring peace to troubled communities</a> in the Lake Chad basin, advocating for <a href="https://wpshacompact.org/if-we-truly-want-gender-equality-we-need-to-finance-it/" target="_blank">scaled-up finance</a>, and pressing the Security Council and governments to make good on <a href="https://wpshacompact.org/compact-commemorates-anniversary-of-resolution-1325-on-women-peace-and-security/">existing (and long overdue) commitments</a> to women, peace and security.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="feminist-economics">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">02</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">Feminist economics is for real - <strong>and it stands to benefit everyone.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#benefits-budgets"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/feminist-economics.jpg" />
<div class="footnote">Photo: UN Women/Nicolas Axelrod</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>Economics used to be seen mostly as men's territory. Now, feminist economics has arrived. What does that mean? First, it's the understanding that economies are more than monetary transactions fed through markets. Second, that thriving economies depend on more than work for an income – they include work to care for families. And that we need to protect our planet, not just exploit it. Decent jobs, health and food security are fundamental, not optional.</p>

<p>UN Women is championing feminist economics in the wake of a pandemic that showed just how poor the track record has been for women. They lost jobs at higher rates, faced a shadow pandemic of domestic violence and absorbed more unpaid care work throughout. To highlight how to make economies work for all, we convened 100 global experts from the United Nations, civil society and research institutions to create the <a href="https://www.unwomen.org/en/digital-library/publications/2021/09/beyond-covid-19-a-feminist-plan-for-sustainability-and-social-justice" target="_blank">Feminist Plan</a> for Sustainability and Social Justice. It calls for rethinking and reprioritizing economic and social policies on livelihoods, care and the environment. It is a plan for a more equal and sustainable future with practical ideas on how to start right now. UN Women is already demonstrating the way forward in <strong>Latin America and the Caribbean</strong>, working closely with the Regional Economic Commission to help 11 countries design and implement national systems to provide child and other care services. In 2021, <strong>Costa Rica</strong> and <strong>Paraguay</strong> began rolling out national care policies.</p>

<p>Part of the shift must come from better measurement. UN Women is scaling up its <a href="https://data.unwomen.org/women-count" target="_blank">Women Count</a> programme in 70 countries. Women Count helps harvest better data on women in the economy and across the Sustainable Development Goals. In the <a href="https://data.unwomen.org/features/maldives-survey-findings-influence-covid-19-response" target="_blank">Maldives</a>, for example, a gender assessment with the National Bureau of Statistics and private telecommunications providers generated statistics that led to new social protection measures for vulnerable women workers and improved mental health services. In <a href="https://fb.watch/aE366joHI_/" target="_blank">Mexico</a>, an innovative social media campaign drew broad public attention to findings on women's obstacles to decent work. Hidden cameras revealed the shocked reactions of jobseekers asked to work under conditions that are standard for domestic workers, most of whom are women.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="benefits-budgets">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">03</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue">From benefits to budgets, <strong>gender equality is moving into the mainstream.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#more-laws"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/benefits-budgets.jpg" />
<div class="footnote">Photo: UN Women/Lauren Rooney</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>What do COVID-19 recovery, national budgets and social protection systems have in common? Increasingly, they tackle the specific issues women face. Slowly but surely, women's priorities are moving into the mainstream of national policies. UN Women helps lead the push to put them there. When our innovative <a href="https://data.undp.org/gendertracker/" target="_blank">COVID-19 policy tracker</a>, set up in partnership with UNDP, found significant gaps in policy responses to meet women's needs, over 20 countries shifted gears. <a href="https://data.unwomen.org/features/chile-data-womens-paid-and-unpaid-work-prompt-subsidy-working-caregivers-and-inform" target="_blank">Chile</a>, for instance, adopted subsidies to assist women entrepreneurs and working women caring for young children. With UN Women's help, <strong>Morocco</strong>, <strong>Mozambique</strong> and <strong>Nepal</strong> launched cash transfers targeting women hit hard by the pandemic.</p>

<p>Over 60 countries now have systems to track how well national budgets align with gender equality priorities, a move long advocated by UN Women. Budgets have brought changes in <a href="https://albania.unwomen.org/en/digital-library/videos/88967" target="_blank">Albania</a>, for instance, through greater subsidies for women farmers and new women police recruits. UN Women's increasing leadership on innovative financing has included new guidelines on bonds to bridge the gender gap. These are being used in <strong>Mexico</strong> and as part of advancing gender-lens investing across <strong>Latin America and the Caribbean</strong>. At the United Nations, UN Women marshals the full weight of the system behind international action on a diverse array of core gender equality issues, such as energy access, migration and violence against women.</p>

<p>As gender equality is moving into the mainstream, increasingly, so are women. While there is still far to go towards gender parity, the trend is bending in the right direction. Record numbers of women hold political offices and helm major companies. Women have led COVID-19 research and kept health-care systems going as the majority of health-care workers. For more on women's leadership, see <a href="https://eca.unwomen.org/en/digital-library/multimedia/2020/11/generations-talk-gender" target="_blank">Generations Talk Gender</a>, with perspectives from <strong>Europe and Central Asia</strong>. In <strong>Latin America and the Caribbean</strong>, women are at the forefront of the call for human rights and <a href="https://lac.unwomen.org/es/noticias-y-eventos/articulos/2021/03/mujeres-en-espacios-de-poder-ii" target="_blank">transformational change</a>.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="more-laws">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">04</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange"><strong>More laws are tearing down barriers</strong> and backing women's rights.</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#gender-based"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/more-laws.jpg" />
<div class="footnote">Photo: UN Women/Daria Komleva</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>Justice depends on equal treatment of women and girls under the law. Many legal systems still retain discriminatory provisions, however. They may limit women's reproductive rights, whom they can marry, whether they can own land and even the jobs they can do. Yet legal reforms have made strides in recent years. UN Women has advocated many of these shifts, mobilizing for just laws and legal practices alongside women's movements, parliamentarians, judiciary authorities, police and more.</p>

<p>In the last four years, we worked on over 760 legislative reform initiatives globally. Half of these tackled blatantly discriminatory laws. In 44 countries, 1.6 billion women and girls gained laws and regulations that fully support their economic empowerment, such as through more secure jobs and access to care services. In <a href="https://moldova.unwomen.org/en/stories/comunicat-de-presa/2022/03/proiectul-de-lege-ce-ar-permite-angajatorilor-de-a-oferi-salariatilor-servicii-de-ingrijire-a-copiilor-cu-varsta-pana-la-3-ani-votat-astazi-in-lectura-finala-0" target="_blank">Moldova</a>, UN Women research and advocacy on family-friendly workplaces in 2021 led to the adoption of a bill extending employer-provided care services for children under age 3. In <a href="https://egypt.unwomen.org/en/stories/press-release/2022/03/partnership-agreement-between-the-financial-regulatory-authority-and-un-women-to-promote-gender-equality" target="_blank">Egypt</a>, collaboration with the Financial Regulatory Authority is helping to set new standards ensuring women can access financial tools. To help legislators in all countries take on gender-responsive law-making, UN Women and the Inter-Parliamentary Union issued a <a href="https://www.unwomen.org/en/news-stories/press-release/2021/11/build-back-equal-new-handbook-on-gender-responsive-legislation" target="_blank">handbook</a> that explains the basics.</p>

<p>While women's share of representation in national legislatures has only just risen above one quarter, a growing number of countries have laws to achieve gender balance in elections and decision-making. The UN Commission on the Status of Women, served by UN Women as its secretariat, affirmed an ambitious standard in <a href="https://www.unwomen.org/en/csw/csw65-2021" target="_blank">2021</a>, agreeing that every country should aim for 50/50. Having a quota for women's participation in <a href="https://eca.unwomen.org/en/news/stories/2021/08/elected-women-deputies-of-local-councils-honored-in-innovative-event" target="_blank">Kyrgyzstan</a> resulted in breakthrough local elections where women now occupy 38.7 per cent of local council seats, up from only 10 per cent.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="gender-based">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">05</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">Gender-based violence: <strong>It has no place in any space.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#no-matter"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/gender-based.jpg" />
<div class="footnote">Photo: UN Women/Ismael Jiménez</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Not long ago, gender-based violence went mostly unquestioned and unsanctioned. Rates of violence still remain high everywhere, affecting one in three women at some point in their lives, and escalating during COVID-19 lockdowns. Commitment to ending it, however, is more evident than ever before, reflected in tougher laws, larger budgets, more comprehensive services, broader awareness and a far greater emphasis on prevention, and shifts away from harmful social norms. Over the last four years, UN Women's advocacy and expertise have helped 57 countries, home to 2.5 billion women and girls, strengthen national strategies to end violence. Sixty-nine countries now have improved quality services for survivors.</p>

<p>In 2021, <a href="https://www.unwomen.org/en/news/stories/2021/8/feature-uganda-critical-law-reforms-passed-in-parliament-to-end-violence-against-women" target="_blank">Uganda</a> passed critical legal reforms, spurred by UN Women's collaboration with the national women's movement. One reform protects women's property rights, a proven reducer of vulnerability to violence. A second requires all employers to take measures to stop workplace sexual harassment. Since upholding a law is as important as passing it in the first place, UN Women also supports countries to improve the judicial response. In <strong>Asia and the Pacific</strong>, we have pioneered specialized training for <a href="https://asiapacific.unwomen.org/en/digital-library/publications/2021/10/training-package-for-prosecutors-responding-to-violence-against-women" target="_blank">prosecutors</a> and <a href="https://www.unwomen.org/en/news/stories/2021/7/feature-police-forces-becoming-more-responsive-to-survivors-of-violence" target="_blank">police</a>. Creative advocacy helps too, such as through campaigns in <a href="https://www.youtube.com/watch?v=-dLZXU6imY0" target="_blank">Honduras</a> and Uruguay and via a social influencer in <a href="https://www.youtube.com/watch?v=ZWGqkNOnea8" target="_blank">Kenya</a>. In the <a href="https://www.youtube.com/watch?v=XEDEb-NvngE&amp;t=2s" target="_blank">Arab States</a>, UN Women is at the forefront of broadening awareness of violence online and how readily it can cross into physical threats and crimes offline.</p>

<p>Globally, UN Women leads a drive to improve evidence revealing the extent of gender-based violence. Our comprehensive series of national and global reports on <a href="https://data.unwomen.org/publications/vaw-rga" target="_blank">measuring the shadow pandemic</a> during COVID-19 kept the issue in the public eye and provided policy recommendations to improve laws and services. We also channel resources to women facing some of the worst risks, such as <a href="https://www.unwomen.org/en/news-stories/feature-story/2021/11/how-women-migrants-in-thailand-are-stopping-trafficking-and-gender-based-violence-in-their-communities" target="_blank">migrants in Thailand</a> and <a href="https://www.unwomen.org/en/news/stories/2021/10/feature-supporting-rural-women-in-argentina-as-gender-based-violence-rises" target="_blank">rural and indigenous women in Argentina</a>. Grants from the <a href="https://untf.unwomen.org/en" target="_blank">UN Trust Fund to End Violence against Women</a> in 2021 helped civil society organizations extend violence prevention and response measures to 22.5 million women and girls.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="no-matter">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">06</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue">No matter how great the odds, <strong>women do not give up.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#peace-agreements"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2">
<div class="two-columns__video">
<div class="media video-component">
<div class="video-container" data-passive="" data-src="https://www.youtube.com/watch?v=PWsv_VQ0tqU&amp;ab_channel=UNWomen">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/no-matter.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
</div>

<div class="two-columns__video-text blue">
<p>The fight for women's and girls' rights in a changing Afghanistan</p>
<!-- <div class="two-columns__video-button">
                      <a data-src="https://www.youtube.com/watch?v=PWsv_VQ0tqU&ab_channel=UNWomen">
                        <span class="button">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path>
                          </svg>
                        </span>
                        <span class="text">Play video</span>
                      </a>
                    </div> --></div>
</div>
<!-- <div class="footnote">
                  Photo credit:
                </div> --></div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>In <strong>Ukraine</strong>, war has pushed millions of women and girls from their homes and subjected them to conflict-related rape and sexual violence. In <strong>Afghanistan</strong>, women are confined to their homes and kept out of work and school. These are only two of the crises around the world taking terrible tolls on women and girls. But they also show, irrefutably, that even when women are pushed down, they continue to rise up.</p>

<p>“Afghan women became ministers, women's rights activists, pilots, athletes and led robotic teams. And we had to fight for whatever we have today. When you gain something, you don't give it up. We will fight for this… you will see,” said former parliamentarian <a href="https://www.unwomen.org/en/news/stories/2021/10/from-where-i-stand-naheed-farid" target="_blank">Naheed Farid</a>. She joined a delegation of Afghan women human rights defenders who <a href="https://www.unwomen.org/en/news/stories/2021/10/news-afghan-women-leaders-speak-at-the-un" target="_blank">spoke to UN Security Council</a> members and other Member States shortly after the Taliban took control of their country. From Kabul, see our <a href="https://www.youtube.com/watch?v=PWsv_VQ0tqU" target="_blank">expert's take</a> on how UN Women works with Afghan women, despite incredible challenges, to sustain civil society movements and call for progress and accountability. Further impetus comes from constant advocacy to align international aid with women's rights and gender equality.</p>

<p>n Ukraine, the first <a href="https://www.unwomen.org/en/digital-library/publications/2022/05/rapid-gender-analysis-of-ukraine" target="_blank">gender assessment</a> of the conflict, conducted by UN Women and Care, showed that women lead the humanitarian response in many communities. UN Women coordinates the inclusion of gender equality in all aspects of humanitarian action by the United Nations and funds women's organizations in the country. We help fuel their tireless, courageous efforts to provide food, shelter, legal assistance, mental health support and other forms of help for those evacuated and on the move. Globally in 2021, UN Women worked with 1,241 local women's organizations and groups to steer humanitarian planning and services to reach crisis-affected women and girls. In 91 countries, gender equality provisions now feature in disaster risk and post-disaster needs assessments. Women in rural <strong>Bangladesh</strong>, as just one result, feel safer and more secure in their homes and livelihoods.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="peace-agreements">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">07</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">Peace agreements used to ignore women. Increasingly, <strong>they include them.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#climate-action"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/peace-agreements.jpg" />
<div class="footnote">Photo: UN MINUSCA/Igor Rugwiza</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Peace tables have long been almost exclusively the domain of men. Around the world, in most formal talks today, the “<a href="https://themissing-peace.com/en.html" target="_blank">missing peace</a>” is women at the table, a point driven home by an award-winning UN Women campaign in <strong>Lebanon</strong>. Still, there are signs that the door is cracking open. The share of peace agreements with at least some provisions on gender equality doubled from 13.8 per cent in 2018 to 28.6 per cent in 2020, in many cases due to UN Women's persuasive global and national expertise and advocacy.</p>

<p>We work side by side with women's groups to make the case for inclusion, including 646 such organizations in 2021. Further, the <a href="https://wphfund.org/" target="_blank">Women's Peace and Humanitarian Fund</a>, with UN Women as its secretariat, puts resources in the hands of women grass-roots civil society leaders in 26 places affected by crises. In 2021, more than 450 organizations used these resources to build peace from the ground up. At the United Nations, where UN Women coordinates action on gender equality, all United Nations-led or co-led peace processes now include women in mediation teams and negotiating parties, consult women civil society members and apply gender equality expertise. Regional networks of women mediators are opening other spaces for women to take their rightful roles in brokering peace.</p>

<p>Progress also comes through the growing number of <a href="https://www.unwomen.org/en/news/stories/2019/7/statement-ed-conviction-of-bosco-ntaganda-by-the-international-criminal-court" target="_blank">landmark judgments</a> that treat sexual violence not as a war tactic but as a war crime that must be punished. A roster of UN Women investigators has led the documentation of evidence to ensure convictions; already, preparations are underway for UN Women to deploy gender equality experts to support the Commission of Inquiry on <strong>Ukraine</strong>. Increasingly, investigations push into new territory, such as escalating rates of violence against women's human rights defenders like <a href="https://wpshacompact.org/upholding-human-rights-in-yemen-qa-with-laila-lutf-al-thawr/" target="_blank">Laila Lutf Al-Thawr</a> in <strong>Yemen</strong>.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="climate-action">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">08</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">Women and girls are <strong>leading climate action.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#more-people"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2">
<div class="two-columns__video">
<div class="media video-component">
<div class="video-container" data-passive="" data-src="https://www.youtube.com/watch?v=y1GQxI3xotc&amp;t=20s&amp;ab_channel=UNWomen">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/climate-action.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
</div>

<div class="two-columns__video-text purple">
<p>It's not too late: Climate action for women, by women</p>
<!-- <div class="two-columns__video-button">
                      <a data-src="https://www.youtube.com/watch?v=y1GQxI3xotc&t=20s&ab_channel=UNWomen">
                        <span class="button">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path>
                          </svg>
                        </span>
                        <span class="text">Play video</span>
                      </a>
                    </div> --></div>
</div>
<!-- <div class="footnote">
                  Photo credit:
                </div> --></div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>From the streets to corporate boardrooms, <a href="https://www.youtube.com/watch?v=y1GQxI3xotc&amp;t=20s" target="_blank">women are leading</a> climate action. In the <strong>United States</strong>, CEO <a href="https://www.unwomen.org/en/news-stories/interview/2022/03/interview-getting-to-an-equitable-just-and-net-zero-world-is-possible" target="_blank">Mindy Lubber</a> calls on capital market leaders to stabilize the climate and make economies inclusive. In <strong>Nepal</strong>, <a href="https://www.unwomen.org/en/news-stories/from-where-i-stand/2022/03/from-where-i-stand-put-indigenous-women-and-our-communities-at-the-centre-of-climate-action" target="_blank">Kamala Thapa</a> reminds the world of how much it can learn from indigenous women about living in harmony with nature. <a href="https://eca.unwomen.org/en/stories/news/2022/03/the-myth-buster" target="_blank">Ivo Markovic</a> fights for environmental justice in Serbia. Hellen Bulugu's video poetry sparks climate action in the <strong>United Republic of Tanzania</strong>. UN Women amplifies women's leadership in climate action globally and has <a href="https://www.facebook.com/UN.Geneva/videos/647965319614891/" target="_blank">rallied heads of UN organizations</a> to champion it.</p>

<p>The fact is, when women are in charge, like in parliaments, they toughen measures such as controls on emissions. If women smallholder farmers had equal access to productive resources, farm yields would rise as much as 30 per cent and up to 150 million people would no longer go hungry. Plus, deforestation and <a href="https://www.unwomen.org/en/news-stories/explainer/2022/03/explainer-why-women-need-to-be-at-the-heart-of-climate-action" target="_blank">emissions would decline</a>. Knowing that what's good for gender equality is often good for climate justice, UN Women has helped nearly 450,000 rural women achieve better access to productive assets over the past four years. In 47 countries, we joined 245 women's organizations and disaster resilience actors to help women better adapt to climate fallout, such as through weather alert systems in <a href="https://www.unwomen.org/en/news-stories/feature-story/2022/02/weather-forecasts-shift-climate-change-impact-for-women-farmers-in-malawi" target="_blank">Malawi</a> and a climate-resilient fishery in <a href="https://www.unwomen.org/en/news-stories/feature-story/2022/03/in-morocco-fisherwomen-adopt-new-climate-resilient-practices" target="_blank">Morocco</a>.</p>

<p>It's <a href="https://data.unwomen.org/features/big-data-analysis-finds-little-mention-gender-climate-speeches" target="_blank">taken time</a> for global climate talks to officially bring gender equality on board but it is happening. UN Women has worked with governments under the UN Framework Convention on Climate Change to set in motion a <a href="https://unfccc.int/topics/gender/workstreams/the-gender-action-plan" target="_blank">gender action plan</a>. In <a href="https://www.unwomen.org/en/csw/csw65-2021" target="_blank">2022</a>, the Commission on the Status of Women agreed on a <a href="https://www.unwomen.org/en/news-stories/press-release/2022/03/press-release-un-commission-on-the-status-of-women-reaffirms-womens-and-girls-leadership-as-key-to-address-climate-change-environmental-and-disaster-risk-reduction-for-all" target="_blank">blueprint for world leaders</a> to promote women's and girls' full and equal participation and leadership in all actions on climate change, the environment and disaster risk reduction.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="more-people">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">09</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue"><strong>More people than ever can express</strong> their own experience of being LGBTIQ+.</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#bust-norms"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/more-people.jpg" /></div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Free and equal in dignity and rights. When it comes to our bodies, it is our right to decide. Yet LGBTIQ+ discrimination remains horrific. Two billion people live in places where some consensual, loving relationships are a crime. LGBTIQ+ people are vulnerable to blackmail, prison, job losses, bullying, forced sterilization and other blatant violations of bodily autonomy.</p>

<p>And yet, the tide is shifting. At a generational turning point, a global LGBTIQ+ movement is standing up for rights and facing down discrimination. More people than at any point in history can choose to marry anyone they want. To obtain the health-care services they deserve. And to check a box on an official form that offers a choice beyond the binary male or female.</p>

<p>UN Women is the global champion of gender equality. Fundamental to that is <a href="https://www.unwomen.org/en/news-stories/statement/2022/05/un-women-statement-for-the-international-day-against-homophobia-biphobia-intersexphobia-and-transphobia" target="_blank">standing in solidarity</a> with all people of diverse sexual orientations, gender identities, gender expressions and sex characteristics. We <a href="https://www.unfe.org/" target="_blank">campaign</a> to promote rights, talk freely about issues like <a href="https://twitter.com/UN_Women/status/1511527869096337412?s=20&amp;t=j-xogDEbBqwC9xgmIY82ow" target="_blank">what it means to be a woman</a>, pioneer tools such as one to ensure <a href="https://asiapacific.unwomen.org/en/digital-library/publications/2021/03/the-only-way-is-up" target="_blank">inclusion in humanitarian action</a>, and celebrate diversity, courage and resilience by amplifying <a href="https://www.unwomen.org/en/news/stories/2021/5/feature-compilation-voices-of--lgbtiq-activists" target="_blank">activists' voices</a>. We are sharing our successes, such as in opening civil society space in <strong>Liberia</strong>, providing grants to LGBTIQ+ rights defenders in <strong>Brazil</strong> and queering institutions in <a href="https://lebanon.unwomen.org/en/news-and-events/stories/honoring-international-day-against-homophobia-biphobia-and-transphobia-idahobit-in-lebanon" target="_blank">Lebanon</a>. We also amplify voices, knowing their power. Like that of Cambodia LGBTIQ+ activist <a href="https://asiapacific.unwomen.org/en/news-and-events/stories/2021/12/i-believe-growth-in-our-society-can-only-begin-by-listening-to-each-other" target="_blank">Thida Kuy</a>, who says, “As a trans man, I feel heard when I hear similar stories to mine. I believe growth in our society can only begin by listening to each other.”</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="bust-norms">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">10</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">Bust the norms, share the care. <strong>More men are doing their part.</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#our-partners"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/bust-norms.jpg" />
<div class="footnote">Photo: UN Women/Dar Al Mussawir</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>Gender equality benefits everyone through a more peaceful, prosperous and just world. More and more men and boys are standing up as feminists and advocates for ending gender discrimination and upholding the rights of women and girls. Through <a href="https://www.heforshe.org/en" target="_blank">HeForShe</a>, a UN global solidarity movement for gender equality with its own <a href="https://www.youtube.com/watch?v=OafHeXVxtcw" target="_blank">HeForShe #IDo Manifesto</a>, men and boys have made more than 2.4 million individual commitments to change.</p>

<p>Famous <strong>Turkish</strong> actor <a href="https://www.instagram.com/p/CXTxISHgJlq/" target="_blank">Kerem Bursin</a> stands proud as a feminist and gender equality advocate championing the end of toxic gender norms. From the <strong>United States</strong>, actor and filmmaker <a href="https://www.instagram.com/reel/CW7OKkSlZxz/?utm_source=ig_web_copy_link" target="_blank">Justin Baldoni</a> urges men to stop gender-based violence. So do singer <a href="https://www.youtube.com/watch?v=k5Qs8jLrJrk" target="_blank">Stewart Sukuma</a> in <strong>Mozambique</strong> and poetry slammer and author <a href="https://fb.watch/d6OhRGck0A/" target="_blank">Sory Diakite</a> in <strong>Mali</strong>. H.E Ali Bongo Ondimba champions gender equality as the <a href="https://flic.kr/p/2nfCyLS" target="_blank">President of Gabon</a>. In <strong>Fiji</strong>, Sani Daoni and Tomu Dari are working with faith communities to reject violence and embrace peace.</p>

<p>UN Women mobilized the collective UN country team in <strong>Argentina</strong> to call for “<a href="https://youtu.be/PzXOGWmA_OI" target="_blank">sharing the care</a>” at home. In the <strong>Western Balkans</strong>, popular male football players urge men to <a href="https://www.youtube.com/watch?v=kkAPwtHIvNA" target="_blank">stop toxic masculinity and shift mindsets</a> to embrace equality. Goodwill Ambassador Anne Hathaway championed a change in the way the world treats caregiving at the Generation Equality Forum. Social media users in <strong>Asia and the Pacific</strong> have exchanged their solutions for <a href="https://www.youtube.com/watch?v=3YHyqn6uyuw" target="_blank">busting gender myths</a>. Such tactics work, affirmed by global data suggesting that social acceptance of wife-beating is on the decline. This has been spurred in part by UN Women's calls for prevention, social norms transformation and engagement of men and boys. In other words, the change is on.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange" id="our-partners">
<div class="section__bg-content">
<div class="small-container fade-in-y">
<div class="text-center">
<div class="section-title"><span class="italic">Our Partners</span><br />
Make the Difference</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/our-partners.jpg" />
<div class="footnote">Photo: UN Women/Adriana Borra</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>In 2021, UN Women received <strong>USD 556.3 million</strong> in contributions, the third year of successive increases and an all-time record for the organization.</p>

<p>We are grateful to our <strong>179 funding partners</strong> for their generous contributions, despite a challenging moment for finance. Their support allowed us to continue driving the global agenda for gender equality and women's empowerment.</p>

<p>Special thanks to <strong>France</strong>, <strong>India</strong>, <strong>Ireland</strong>, <strong>Luxembourg</strong>, <strong>Norway</strong> and the <strong>United States of America</strong> for their increased contributions to regular resources; to our top five funding partners: the <strong>European Commission</strong>, <strong>Finland</strong>, the <strong>Multi-Partner Trust Fund Office</strong>, <strong>Norway</strong> and <strong>Sweden</strong>, and to our top five private sector partners: <strong>Alipay Foundation, BHP Billiton Foundation, the Bill &amp; Melinda Gates Foundation, De Beers PLC</strong> and the <strong>Iceland National Committee</strong>.</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/our-partners-2.jpg" />
<div class="footnote">Photo: UN Women/Prashanth Vishwanathan</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>Over the last four years, UN Women has established an increasingly efficient, effective and accountable corporate architecture built on strong business processes. In 2021, we received our tenth consecutive audit opinion and implemented all prior recommendations, a significant achievement. Despite the pressures of COVID-19, robust business continuity plans and risk mitigation actions have kept overall performance strong, warranting continued trust and confidence.</p>

<p>As we embark on our new Strategic Plan 2022-2025, we rely on our partners to provide flexible and predictable resources to support our global efforts to deliver concrete progress on gender equality and empowerment in the lives of women and girls and towards the realization of the Sustainable Development Goals for all.</p>

<p><a href="https://www.unwomen.org/sites/default/files/2022-06/UN-Women-financial-brochure-2021-en.pdf" target="_blank">Financial Statements 2021</a></p>

<p><a href="https://www.unwomen.org/en/digital-library/publications/2022/06/regular-resources-report-2021" target="_blank">Regular Resources Report</a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section" id="revenue">
<div class="section__bg-content fade-in-y">
<div class="small-container">
<div class="item">
<div class="text-center">
<div class="title">2021 in revenue, an all-time high</div>

<div class="section-title">USD <span data-count="556.3">556.3</span> M</div>
</div>
</div>

<div class="item">
<div class="text-center">
<div class="title">2021 contributions compared to 2020</div>

<div class="row">
<div class="col-33">
<div class="section-title">+ <span data-count="51">51</span> %</div>

<p>Voluntary contributions</p>
</div>

<div class="col-33">
<div class="section-title">- <span data-count="0.4">0.4</span> %</div>

<p>Regular resources</p>
</div>

<div class="col-33">
<div class="section-title">+ <span data-count="2">2</span> %</div>

<p>Other resources</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="item">
<div class="text-center">
<div class="title">Funding partners in 2021</div>

<div class="row">
<div class="col-33">
<div class="section-title" data-count="179">179</div>

<p>funding partners</p>
</div>

<div class="col-33">
<div class="section-title" data-count="81">81</div>

<p>UN Member States</p>
</div>

<div class="col-33">
<div class="section-title" data-count="41">41</div>

<p>private sector partners contributed USD 21.7 M</p>
</div>
</div>
</div>
</div>

<div class="item">
<div class="text-center">
<div class="title">Selected corporate partnerships</div>

<div class="row">
<div class="col-33">
<div class="section-title" data-count="109">109</div>

<p>media outlets join the <a class="bluelink" href="https://www.unwomen.org/en/partnerships/media-collaboration/media-compact/partners" target="_blank" title="Media Compact">Media Compact</a></p>
</div>

<div class="col-33">
<div class="section-title" data-count="217">217</div>

<p>advertising industry leaders support the <a class="bluelink" href="https://www.unstereotypealliance.org/en" target="_blank" title="Unstereotype Alliance">Unstereotype Alliance</a></p>
</div>

<div class="col-33">
<div class="section-title" data-count="4357">4,357</div>

<p>businesses signed the <a class="bluelink" href="https://www.weps.org/" target="_blank" title="Women's Empowerment Principles">Women's Empowerment Principles</a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<footer class="fade-in-y" id="footer">
<div class="container">
<div id="footer-top">
<div class="social">&nbsp;</div>

<div id="footer-external-links">
<div class="flex"><a class="footer-title" href="https://www.unwomen.org/en/copyright" target="_blank">© 2022 UN WOMEN</a> <a class="footer-title" href="https://www.unwomen.org/en/privacy-notice" target="_blank">PRIVACY NOTICE</a> <a class="footer-title" href="https://www.unwomen.org/en/terms-of-use" target="_blank">TERMS OF USE</a></div>
</div>
</div>
</div>

<div class="container" id="footer-bottom"><a href="https://www.unwomen.org/" id="footer-logo" target="_blank"><img alt="UN Women logo" src="/sites/default/files/assets/annual-reports/2022/assets/img/unwomen-logo.svg" /> </a>

<div class="social">
<h5 class="footer-title">FOLLOW US:</h5>

<div class="icons"><a class="social-link" href="https://twitter.com/UN_Women" target="_blank"><svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M38.17 22.85a4.64 4.64 0 002.17-2.52c-.95.52-2 .9-3.13 1.1a5.12 5.12 0 00-3.6-1.43c-3.17 0-5.5 2.74-4.8 5.58a14.4 14.4 0 01-10.14-4.75 4.34 4.34 0 001.52 6.07 5.22 5.22 0 01-2.23-.57c-.05 2.1 1.59 4.07 3.95 4.51-.69.18-1.45.22-2.22.08a4.9 4.9 0 004.6 3.16A10.5 10.5 0 0117 35.96 14.8 14.8 0 0024.55 38c9.14 0 14.3-7.13 14-13.52A9.63 9.63 0 0041 22.13c-.88.36-1.83.6-2.83.72z"></path> </svg> </a> <a class="social-link" href="https://www.facebook.com/unwomen" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M31.42 21.99c-.9 0-1.09.37-1.09 1.3v2.03h3.34l-.35 3.34h-2.99v11.66h-5V28.66H22v-3.34h3.33v-3.83c0-2.95 1.56-4.49 5.05-4.49h3.29v5h-2.25v-.01z"></path> </svg> </a> <a class="social-link" href="https://www.linkedin.com/company/un-women/" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M20.3 21.57a2.28 2.28 0 110-4.56 2.28 2.28 0 010 4.56zM18 23.39V38h4.58V23.4H18v-.01zM25.35 38V23.4h4.55v1.96c1.92-3.54 10.1-3.8 10.1 3.39V38h-4.57v-7.67c0-4.61-5.53-4.26-5.53 0V38h-4.55z" fill-rule="evenodd"></path> </svg> </a> <a class="social-link" href="https://www.instagram.com/unwomen/" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M17.5 32.84v-8.68a6.67 6.67 0 016.66-6.66h8.68a6.67 6.67 0 016.66 6.66v8.68a6.67 6.67 0 01-6.66 6.66h-8.68a6.67 6.67 0 01-6.66-6.66zm16.79-8.97a1.16 1.16 0 100-2.32 1.16 1.16 0 000 2.32zm0 4.63a5.8 5.8 0 11-11.601-.01 5.8 5.8 0 0111.601.01zm-8.66-2.87a4.051 4.051 0 115.73 5.73 4.051 4.051 0 01-5.73-5.73z" fill-rule="evenodd"></path> </svg> </a> <a class="social-link" href="https://www.tiktok.com/@unwomen" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M37.92 26.22a6.22 6.22 0 01-5.25-2.92v9.89a7.198 7.198 0 01-7.09 7.31 7.12 7.12 0 01-7.08-7.23 7.2 7.2 0 017.08-7.3H26v3.6c-.17 0-.25-.08-.42-.08a3.702 3.702 0 00-3.66 3.78 3.651 3.651 0 003.66 3.79 3.7 3.7 0 003.75-3.7V16.5h3.34a6.4 6.4 0 005.75 5.76v3.96h.08-.58z"></path> </svg> </a></div>
</div>
</div>
</footer>
<!-- /Page 🔚 --></main>
<!-- /Main 🔚 --><script nomodule type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/ie.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/loading.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/home.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/integration.js"></script>
