<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon-32.png" rel="icon" sizes="32x32" type="image/png" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon-16.png" rel="icon" sizes="16x16" type="image/png" />
<link href="/sites/default/files/assets/annual-reports/2022/assets/fav/favicon.ico" rel="shortcut icon" />
<link crossorigin="crossorigin" href="https://fonts.googleapis.com" rel="preconnect" />
<link href="/sites/default/files/assets/annual-reports/2022/css/loading.css" id="loadingStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/overlay.css" id="overlayStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/common.css?ts=120920230134" id="commonStyles" rel="stylesheet" />
<link href="/sites/default/files/assets/annual-reports/2022/css/home.css" id="mainStyles" rel="stylesheet" /><!--
    Main 👇
    description: Main container
  -->
<main id="main"><!--
      Loading 👇
      description: Loading layer container
    -->
<div class="no-intro" id="loading">
<div id="loading-bg">&nbsp;</div>
</div>
<!-- /Loading 🔚 --><!--
      Overlay 👇
      description: Layer for transitions between pages
    --><!-- <div id="overlay"></div> --><!-- /Overlay 🔚 --><!--
      Menu 👇
      description: Menu container
    -->

<div class="mobile-nav"><span>Menu</span>

<div class="mobile-nav__burger">&nbsp;</div>
</div>

<div id="menu">
<ul>
      <li><a href="#moving-forward">Foreword</a></li>
      <li><a href="#our-results">Our Results</a></li>
      <li><a href="#our-reasons">Our work</a></li>
      <li><a href="#our-partners">Our Partners</a></li>
</ul>
</div>
<!-- /Menu 🔚 --><!--
      Page 👇
      description: Page container
    -->

<div id="page">
<div class="hero">
<div class="hero__logo">
<div class="small-container"><a href="https://www.unwomen.org/"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/unwomen-logo.svg" width="145" /> </a></div>
</div>

<div class="hero__bg">
<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/Carousel_Africa_SouthSudan_health.JPG">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/Carousel_ECA_Moldova_EVAW_76.JPG">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/Carousel_ArabStates_Jordan_Refugees_2023_118.JPG">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/Carousel_AP_Cambodia_WEE_health_68.JPG">&nbsp;</div>

<div class="hero__bg-img" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/Carousel_LAC_Colombia_WPS_2022_01.JPG">&nbsp;</div>
</div>

<div class="hero__text">
<div class="small-container">
<h1>The Future Is<br />
<strong><span class="color-word yellow">Equality</span> <span class="color-word purple">Feminist</span> <span class="color-word orange">Empowerment</span> <span class="color-word yellow">Autonomy</span> <span class="color-word purple">Rights</span> </strong></h1>

<div class="hero__subtitle">UN Women Highlights <span>2023-2024</span></div>

<div class="hero__scroll">
<div>Scroll to<br />
discover</div>
</div>
</div>
</div>

<div class="hero__dots">
<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>

<div class="dot">&nbsp;</div>
</div>

<nav id="secondary-nav">
<div id="secondary-nav-bar">&nbsp;</div>

<div class="container"><a class="nav-item" data-percent="0.065" href="#moving-forward"><span>Foreword</span></a> <a class="nav-item" data-percent="0.119" href="#our-results"><span>Our Results</span></a> <a class="nav-item" data-percent="0.751" href="#our-reasons"><span>Our work</span></a> <a class="nav-item" data-percent="0.065" href="#our-partners"><span>Our Partners</span></a></div>
</nav>
</div>

<section id="moving-forward">
<div class="small-container">
<div class="section-title text-center text-with-brush explode-text">Standing <strong>united</strong></div>

<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="" src="/sites/default/files/assets/annual-reports/2022/assets/img/sima_bahous_740x760.png" />
<div class="footnote">Photo: UN Photo/Eskinder Debebe</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<div class="two-columns__name">Sima Bahous</div>

<div>UN Women Executive Director</div>

<p>Of all the lessons learned in the long history of our struggle for the rights of women and girls and for gender equality, one stands out regardless of country or century: We are strongest when we stand united.</p>

<p>From women farmers in Malawi developing climate-responsive agricultural techniques to heroic activists preserving and rebuilding the women’s movement in Afghanistan, women and girls are working together to build a better world for all people and the planet.</p>

<p>As we enter the second half of UN Women’s 2022-2025 strategic plan, we have much to celebrate but even more still to do if we are to push forward against the global backlash on gender equality. Those challenges could not be more real or urgent: More than 600 million women and girls live amid conflicts that impact them disproportionately; female poverty and violence against women remain widespread; and gender gaps persist everywhere, from workplaces to parliaments.</p>

<p>The good news is that we have the solutions if we choose to grasp them. Peace lasts longer when women are included; economies grow faster when women are empowered; and we know what programmes and policies can ensure that every woman, girl, man, and boy can live free from violence. This should inspire us, just as it fuels the determination of countless women and girls around the world in their push for gender equality.</p>

<p>UN Women works with a powerful and robust network of partners, including women’s organizations, governments, private sector companies, UN sister agencies, and multilateral organizations. Together we ensure that women’s rights are at the heart of the international agenda and at the top of decision-makers’ minds. It is our partners who bring life to our unique mandate: to help to define the best and strongest normative standards for gender equality around the world; to coordinate work on gender equality by the UN system and others; and to deliver powerful and catalytic programmes to make gender equality a reality on the ground.</p>

<p>We are deeply grateful to all those who provide the resources we need to live up to our ambition. We know that our success is only possible due to their continued and scaled-up support.</p>

<p>As these highlights of our recent work show, the call for equality is never silenced and so our work never stops. In the face of shared challenges and pushback, UN Women stands with women and girls everywhere. We share their sense of urgency and opportunity. That is why we push forward together, that is why we work to accelerate progress, and that is why we ask you to join us in this cause.</p>
</div>
<div class="button-link_text"><a class="button-link" href="https://undocs.org/Home/Mobile?FinalSymbol=UNW%2F2024%2F2&amp;Language=E&amp;DeviceType=Desktop&amp;LangRequested=False" target="_blank">Annual Report of the Executive Director <svg fill="none" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M4.5 0.5L12 8L4.5 15.5" stroke="#0397D6" stroke-linecap="round" stroke-linejoin="round"> </path> </svg></a></div>
</div>
</div>
</div>

<div class="big-plans">
<div class="section-subtitle text-with-brush masked-text">As a partner and a leader, UN Women <strong>has big plans.</strong><br />
Our vision for a gender equal world.</div>

<div class="media video-component fade-in-y">
<div class="video-container" data-passive="" data-src="https://www.youtube.com/watch?v=z5QfTrCF6Mc&amp;t=2s">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2022/assets/img/big-plans-video.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
<!-- <div class="footnote">
                Our vision for a gender equal world
              </div> --></div>
</div>
</div>
</section>

<section class="section section__bg blue" id="our-results">
<div class="section__bg-content">
<div class="small-container">
<div class="row row-align-center">
<div class="col-75">
<div class="section-title"><strong>Our Results</strong></div>

<div class="section-title text-with-brush masked-text">Through UN Women's continuous support from <strong>2022-2023</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#our-reasons"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>
</section>
</div>

<div class="small-container">
<div class="timeline fade-in-y">
<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right first">
<div class="timeline__item-data"><span data-count="2.8">2.8</span>bn</div>

<div class="timeline__item-text">
<p>women and girls have stronger legal and policy protections</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data"><span data-count="21">21</span>m</div>

<div class="timeline__item-text">
<p>women across 79 countries, many survivors of violence and internally displaced women and refugees, able to access information, goods, and resources – including protection and employment support</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="13600">13,600</div>

<div class="timeline__item-text">
<p>organizations improved capacities to advance women’s rights</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="73">73</div>

<div class="timeline__item-text">
<p>countries provided with gender-responsive services and tools</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data" data-count="27">27</div>

<div class="timeline__item-text">
<p>humanitarian responses integrated gender equality</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="60">60</div>

<div class="timeline__item-text">
<p>countries strengthened responses to gender-based violence</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data">$<span data-count="110">110</span>m</div>

<div class="timeline__item-text">
<p>financed women’s rights organizations</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="58">58</div>

<div class="timeline__item-text">
<p>countries improved statistics on women</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50 offset-50">
<div class="timeline__item timeline__item-right">
<div class="timeline__item-data"><span data-count="80">80</span>%</div>

<div class="timeline__item-text">
<p>of UN country cooperation frameworks prioritized gender equality</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-50">
<div class="timeline__item timeline__item-left">
<div class="timeline__item-data" data-count="79">79</div>

<div class="timeline__item-text">
<p>peacebuilding processes that included young women</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="reasons-nav">
<div class="reasons-nav__dots">&nbsp;</div>
</div>

<section class="section section__bg orange section-reasons" id="our-reasons">
<div class="section__bg-content">
<div class="small-container">
<div class="text-center fade-in-y">
<div class="section-title">Unity in action</div>

<p class="text-align-right">“Gender inequalities do not define us. What we are defined by is our urgent action to overcome them, together.”<br />
<strong style="display:block;margin-top:10px;"><em>—UN Women Executive Director Sima Bahous</em></strong></p>

<p>Unity in action is at the heart of UN Women’s work. We are a global network connecting the women’s movement, civil society, governments, the United Nations, regional organizations, philanthropies, business and more. We do nothing alone and everything together. We are the world’s champion for gender equality and women’s empowerment, and a stage for a wide range of other actors and champions to play their parts.</p>

<p>Women and gender equality advocates face greater challenges than ever. They also have a long history of joining hands to find solutions to advance gender equality worldwide. That has never been more important than now to advocate for the human rights and empowerment of women and girls.</p>

<p>Read on to find out about UN Women’s recent work, from humanitarian crises, to providing services to women with disabilities, to coordinating among UN agencies, and much more – and what you can do to become part of our collective efforts. Unite to act, and join the global movement for gender equality and women’s empowerment.</p>
</div>

<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">01</div>
</div>
</div>

<div class="row" id="start-dots">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">We supported women’s voice and leadership to put gender equality on the agenda – <strong>and kept it there</strong></div>
</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#feminist-economics"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/Luis Ponce" src="/sites/default/files/assets/annual-reports/2023/assets/img/Colombia_EVAW_Leadership_78_1500px.jpg" />
<div class="footnote">Photo: UN Women/Luis Ponce</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Our committed partners are putting gender equality on the agenda everywhere, from national legislation and international agreements to corporate policies. Globally, UN Women collaborated with almost 2,000 institutions in 2023, including governments and women’s rights organizations, to make laws more responsive to gender. <strong>Bahrain</strong> repealed a statute allowing rapists to marry their victims and avoid prosecution. <strong>Jamaica</strong> and <strong>Jordan</strong> added protections to prevent violence against women. <strong>Colombia</strong> passed a new law making parity in political and economic leadership a goal of national development planning.</p>

<p>International commitments set commonly agreed directions for countries all over the world. In 2023, 46 per cent of General Assembly resolutions and 55 per cent of Security Council resolutions on all topics integrated references to women and gender. At the Human Rights Council, the share of adopted resolutions calling for action on gender equality reached nearly 80 per cent. The <a href="https://documents.un.org/doc/undoc/ltd/n23/081/71/pdf/n2308171.pdf?token=dGYKHG78BfBfVVnVhY&amp;fe=true" target="_blank">agreed conclusions</a> of the sixty-seventh Commission on the Status of Women and <a href="https://www.unwomen.org/en/digital-library/publications/2024/03/placing-gender-equality-at-the-heart-of-the-global-digital-compact" target="_blank">recommendations</a> by UN Women and the <a href="https://techforgenerationequality.org/" target="_blank">Action Coalition on Innovation and Technology for Gender Equality</a> backed a drive to put gender at the core of developing an historic digital governance framework, the Global Digital Compact. Priority concerns include stopping technology-facilitated gender-based violence and opening equal opportunities for women and girls to thrive in the digital economy.</p>

<p>In the private sector, almost 9,000 businesses in more than 160 countries are integrating gender equality in policies and operations based on the <a href="https://www.weps.org/" target="_blank">Women’s Empowerment Principles</a>, a unique set of standards supported by major corporate partners. Applying the principles brings the business world closer to equal pay, family-friendly workplaces and supply chains that include women-led firms, among many other measures.</p>

<p><strong>Unite to act:</strong> Learn more about the work of the <a href="https://www.unwomen.org/en/how-we-work/commission-on-the-status-of-women" target="_blank">Commission on the Status of Women</a> and how it acts for gender equality. If you run or work for a company, suggest that it sign and implement the Women’s Empowerment Principles.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="feminist-economics">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">02</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">We helped change <strong>how the world cares</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#benefits-budgets"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="Photo: UN Women/Séverine Sajous" src="/sites/default/files/assets/annual-reports/2023/assets/img/Tunisia_Care_Masculinity_HeForShe_01_1500px.jpg" />
<div class="footnote">Photo: UN Women/Séverine Sajous</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>We all do care work at some point. We all need it too. From cooking meals to minding children, care work sustains everything we do. Yet it remains undervalued and stuck in gender biases. Women globally still spend 2.3 more hours per day on unpaid care and domestic work than men. Closing such gaps would make life easier and less stressful for most people, unlock opportunities and create 300 million jobs.</p>

<p>UN Women’s joint efforts with governments and other local partners are strengthening national care systems or establishing them altogether. In <strong>Ecuador</strong>, a law recognizing the right to care was passed in 2023. <strong>Panama</strong> adopted a law establishing a national care system in 2024. <strong>Senegal</strong> is revising policies to reduce unpaid care burdens, including by improving access to energy and labour-saving appliances. UN Women has worked with a variety of other United Nations organizations to transform care systems through the <a href="https://www.unglobalaccelerator.org/homepage" target="_blank">Global Accelerator on Jobs and Social Protection</a>, a collective drive to create economies designed to care for people, not just profits.</p>

<p>UN Women and the National Institute of Women of <strong>Mexico</strong> forged the <a href="https://www.globalallianceforcare.org/en/the-alliance/about-us.html" target="_blank">Global Alliance for Care</a> to champion efforts to transform care from an afterthought to an investment in our common future. In 2023, a milestone resolution in the Human Rights Council linked care and human rights, and the United Nations General Assembly establishing 29 October as the <a href="https://www.un.org/en/observances/care-and-support-day" target="_blank">International Day of Care and Support</a>. People all over the world now use the day to remind government policymakers and people at large how much care matters to all of us – and how each of us should do our fair share.</p>

<p><strong>Unite to act:</strong> Ask if people in your household do their fair share of chores. Learn more about the <a href="https://www.unwomen.org/en/digital-library/publications/2023/11/working-paper-the-climate-care-nexus-addressing-the-linkages-between-climate-change-and-womens-and-girls-unpaid-care-domestic-and-communal-work" target="_blank">climate-care connection</a> and why care becomes even more critical in a crisis.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="benefits-budgets">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">03</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue">We challenged gender stereotypes, and<strong> moved hearts and minds</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#more-laws"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women / Manjeeta Gurung" src="/sites/default/files/assets/annual-reports/2023/assets/img/Nepal_DonorRecognition_Finland_83_1500px.jpg" />
<div class="footnote">Photo: UN Women / Manjeeta Gurung</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Deep-rooted biases about what women should and should not do influence where women work, whether they become leaders, if they live free from violence and more. UN Women, as an international organization, is trusted around the world to help navigate the complexity of changing hearts and minds.</p>

<p>Our partnerships with communities in <strong>Egypt, Lebanon, Morocco</strong> and the <strong>State of Palestine</strong> reached over 150,000 people to reduce discriminatory attitudes on issues such as caregiving by fathers. We supported local women and feminist organizations in <strong>Nepal’s</strong> <a href="https://asiapacific.unwomen.org/en/stories/in-the-words-of/2024/02/in-the-words-of-rabina-pariyar-transforming-oneself-first" target="_blank">Story-Telling Initiative</a>. This successfully challenged the harmful practice of isolating menstruating women in 21 municipalities. In <strong>Fiji</strong>, UN Women joined faith-based organizations to talk to men about traditional gender roles within families, resulting in a steep rise in the share of men sharing domestic responsibilities, from 63 to 96.3 per cent. Across <strong>Latin America</strong>, UN Women and the International Olympic Committee are pushing for integrating gender equality norms in sports policy and practice.</p>

<p>UN Women convenes the <a href="https://www.unstereotypealliance.org/en" target="_blank">Unstereotype Alliance</a>, where major corporate players work to eradicate harmful stereotypes from advertising and media. Co-led by IPG, Mars and Unilever, the alliance drew a record 306 ad industry attendees from 16 countries to its 2024 Global Member Summit. Since the alliance began in 2018, members have consistently improved portrayals of gender in advertising – and gained a measurably greater return on investment from doing so. In the words of Manisha Kapoor, CEO and Secretary-General of the Advertising Standards Council of India, “When women progress, everyone progresses.”</p>

<p><strong>Unite to act:</strong> Test your assumptions about gender; is there is room to “unstereotype” them? Join the 2 million activists in the <a href="https://www.heforshe.org/en" target="_blank">HeForShe</a> campaign.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="more-laws">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">04</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">We<strong> refused to forget those left</strong> behind and impacted by crises</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#gender-based"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="Photo: UN Women/Sayed Habib Bidel" src="/sites/default/files/assets/annual-reports/2023/assets/img/Section4_RefuseToForget_Afghanistan_Daikundi_WEE_Baker_UNWInterview_May2022_276.JPG" />
<div class="footnote">Photo: UN Women/Sayed Habib Bidel</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>Over 600 million women and girls face a daily battle to survive in places rocked by crisis, many of which never make the top of the news. In 27 countries and territories in 2023, from <a href="https://www.unwomen.org/en/news-stories/feature-story/2024/04/palestinian-women-speak-of-hope-and-resilience-amid-the-horrors-of-war-in-gaza" target="_blank">Gaza</a> to <a href="https://www.unwomen.org/en/news-stories/feature-story/2024/04/women-share-stories-of-hardship-during-year-of-war-in-sudan" target="_blank">Sudan</a> to <a href="https://www.unwomen.org/en/news-stories/press-release/2024/02/over-8-million-women-and-girls-in-ukraine-will-need-humanitarian-assistance-in-2024" target="_blank">Ukraine</a>, UN Women’s voice was a constant in bringing together the United Nations and humanitarian partners to put the specific needs of women and girls front and centre. We worked with hundreds of women’s rights groups to provide services and advocate for women and girls to participate in decisions about assistance. In early 2024, we stood with 20 leading international organizations in a combined effort to draw global attention to appalling rates of sexual violence escalating alongside conflict in the <a href="https://www.unwomen.org/en/news-stories/statement/2024/04/statement-by-principals-of-the-inter-agency-standing-committee-on-the-democratic-republic-of-the-congo-crushing-levels-of-violence-displacement-fuel-unprecedented-civilian-suffering" target="_blank">Democratic Republic of the Congo</a>. Training on business skills and mental health support in six regions of <a href="https://www.unwomen.org/en/news-stories/feature-story/2024/02/ukrainian-refugees-launch-businesses-and-build-a-new-community-in-moldova" target="_blank">Moldova</a> is helping women refugees from Ukraine regain livelihoods and recover from trauma.</p>

<p>In <strong><a href="https://asiapacific.unwomen.org/en/countries/afghanistan" target="_blank">Afghanistan</a></strong>, UN Women runs its largest operation globally, a testimony to our commitment to stand by women and girls in the world’s gravest women’s rights crisis. With UN partners, we continue to conduct quarterly surveys of thousands of women across the country. These have become one of the few means to bring Afghan women’s perspectives into ongoing global talks and country-level humanitarian planning to address the women’s rights crisis. With our support, Afghan women’s advocates have kept their case for equality alive by speaking directly to the powerful members of the United Nations Security Council. Journalist <a href="https://www.unwomen.org/en/news-stories/feature-story/2022/11/afghan-journalist-zahra-nader-creating-a-platform-for-afghan-womens-voices-to-be-heard" target="_blank">Zahra Nader</a> reminded them: “Afghan women are fighting for their rights. And they need support from the world to echo their voice and really see what is happening. <a href="https://asiapacific.unwomen.org/en/countries/afghanistan" target="_blank">Afghanistan</a> should be a warning to the world: This is a threat to women’s rights everywhere.”</p>

<p>UN Women never forgets our commitment to the rights of all women and girls. No matter where they are or how hard they are hard to reach, whether due to crisis or multiple forms of social marginalization. The UN Trust Fund to End Violence against Women, housed at UN Women, channels 80 per cent of its grants to women facing exclusion because they live with disabilities, are refugees, or are lesbian, bisexual, or trans women.</p>

<p><strong>Unite to act:</strong> Share posts and stories about the <a href="https://trello.com/b/g2NFT1PM/inside-out-peace-begins-with-her-un-peacekeeping-un-women-dppa" target="_blank">power of women as peacemakers</a>. Speak up about the rights of women and girls wherever discrimination occurs. Advocate for increasing international resources for women’s rights groups.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="gender-based">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">05</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">We provided <strong>protection and safety</strong> to women and girls under threat</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#no-matter"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/Ryan Brown" src="/sites/default/files/assets/annual-reports/2023/assets/img/DRC_HumanitarianResponse_01_1500px.jpg" />
<div class="footnote">Photo: UN Women/Ryan Brown</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Women and girls face risks of gender-based violence everywhere: in their homes, on the street and online. Only society-wide action can drive the deep changes needed to make their lives safer. The five-year, 500-million-euro United Nations-European Union <a href="https://www.spotlightinitiative.org/" target="_blank">Spotlight Initiative</a> was an unprecedented undertaking, pulling people together to act on the world’s most common violation of human rights. Under its first phase, through 2023, UN Women provided expertise in six regions that helped draft 141 rights-based laws and create 242 community networks to prevent and respond to violence against women and girls.</p>

<p>In rural <strong>Myanmar</strong>, where risks of conflict-related sexual violence are high, UN Women and UNFPA, supported by the UN Central Emergency Relief Fund, have sustained <a href="https://www.unwomen.org/en/news-stories/feature-story/2023/08/womens-organizations-remain-at-the-front-line-of-the-crisis-response-in-myanmar" target="_blank">91 local women’s organizations</a> in providing local services for gender-based violence, often at great personal risk. <a href="https://www.unwomen.org/en/news-stories/feature-story/2024/02/im-not-afraid-of-people-anymore-how-training-on-gender-based-violence-changed-attitudes-in-a-myanmar-village" target="_blank">Ma Shwe</a> survived a sexual assault and fled her village. Counselling and other support extended by a local women’s organization supported by UN Women made her feel comfortable enough to return to her home. “I feel like I’ve got my own life back,” she says. “I’m not afraid of people anymore.”</p>

<p>Altogether, UN Women worked with government and civil society partners in 29 countries in 2023 to strengthen essential services for survivors of violence. In 34 countries, more women began accessing services, a critical and hopeful shift given persistent barriers to reaching assistance. <strong>Trinidad and Tobago</strong> saw a 25 per cent rise in the reporting of sexual violence cases to the police. <strong>Burundi</strong> set an example of tailored responses to high rates of violence among marginalized women by prioritizing the issue in its new National Strategic Plan for HIV. Globally, UN Women’s close collaboration with UNFPA, WHO and national statistical offices is developing tools to track and counter new and insidious forms of technology-facilitated violence.</p>

<p><strong>Unite to act:</strong> Learn about <a href="https://www.unwomen.org/en/news/stories/2020/11/compilation-take-action-to-help-end-violence-against-women" target="_blank">10 ways you can act</a> to stop violence against women. <a href="https://www.unwomen.org/en/trust-funds/un-trust-fund-to-end-violence-against-women/donate" target="_blank">Donate to the UN Trust Fund</a> to challenge discriminatory norms and break the cycle of violence against women.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="no-matter">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">06</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue">We demanded <strong>feminist climate justice</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#peace-agreements"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/Óscar Leiva" src="/sites/default/files/assets/annual-reports/2023/assets/img/ElSalvador_WEE_Climate_61_1500px.jpg" />
<div class="footnote">Photo: UN Women/Óscar Leiva</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Feminist climate justice means correcting gender inequalities that leave poorer women and girls confronting the worst consequences of climate change, such as deepening poverty and food insecurity, even as they contributed very little to a warming world.</p>

<p>UN Women mobilized some 100 international organizations, universities, women’s activists, and others to make feminist climate justice an international concern. We devised a framework spelling out the concept and how to achieve it, and brought it to the <a href="https://www.unwomen.org/en/news-stories/in-focus/2023/11/in-focus-womens-leadership-at-the-cop-28-climate-conference" target="_blank">2023 global climate talks</a>. This reinforced an intergovernmental agreement to reach more women and girls in some of the world’s most vulnerable communities, including through the billion-dollar global Adaptation Fund.</p>

<p>UN Women joins women across the world who are leading solutions, while demanding climate justice and sounding the alarm about economic practices that devastate people and the planet. Joanita Babirye, a co-founder of Girls for Climate Action, is part of the <a href="https://commitments.generationequality.org/" target="_blank">Generation Equality Action Coalition on Feminist</a> Action for Climate Justice convened by UN Women. Her organization works in rural communities of <strong>Uganda</strong> hit hard by landslides, floods, and droughts. It is training hundreds of young women activists who have already pushed back against clear-cutting forests and shut down a copper mine polluting a local river. Babirye says, “My dream is a world where the voices of the marginalized actively inform policy, decision-making and action.”</p>

<p><strong>Unite to act:</strong> Learn more about the <a href="https://www.unwomen.org/en/digital-library/publications/2023/11/feminist-climate-justice-a-framework-for-action" target="_blank">framework for feminist climate justice</a> and how you can apply its principles in your community.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="peace-agreements">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">07</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">We insisted: <strong>spend the money! </strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#climate-action"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2">
<div class="two-columns__video">
<div class="media video-component">
<div class="video-container" data-passive="" data-src="https://youtu.be/spP95Lm3JN0?si=t0dwnHWFXJcGGR9D">
<div class="video-cover" data-bg-img="/sites/default/files/assets/annual-reports/2023/assets/img/spP95Lm3JN0-HD.jpg">&nbsp;</div>

<div class="video-button"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M19.9063 12C19.8857 11.7791 19.7832 11.574 19.6188 11.425L6.68129 2.08127C6.5684 1.99873 6.4352 1.94845 6.29593 1.93578C6.15667 1.92312 6.01658 1.94857 5.89066 2.00939C5.78025 2.07728 5.68919 2.17246 5.62625 2.28576C5.5633 2.39906 5.5306 2.52666 5.53129 2.65627V21.3438C5.5306 21.4734 5.5633 21.601 5.62625 21.7143C5.68919 21.8276 5.78025 21.9227 5.89066 21.9906C6.00102 22.0487 6.12582 22.0737 6.25004 22.0625C6.40276 22.0476 6.55016 21.9985 6.68129 21.9188L19.6188 12.575C19.7832 12.426 19.8857 12.2209 19.9063 12V12Z" fill="white"></path> </svg></div>
</div>
</div>

<div class="two-columns__video-text orange">
<p>In her March 2024 message, UN Women Goodwill Ambassador Anne Hathaway challenged leaders to invest in women.</p>
</div>
</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>$360 billion. That’s how much the world is short-changing investments to achieve gender equality in developing countries, based on UN Women’s <a href="https://www.unwomen.org/en/digital-library/publications/2023/09/progress-on-the-sustainable-development-goals-the-gender-snapshot-2023" target="_blank">2023 Gender Snapshot</a>. Underspending is a short-sighted choice. Closing gender gaps in employment alone would boost economies by 20 per cent and make societies more just.</p>

<p>Through Generation Equality, a feminist movement-building initiative, UN Women has mobilized $47 billion in additional resources from commitment makers in 83 countries to deliver some 1,300 actions, ranging from <a href="https://forum.generationequality.org/news/cnn-lists-action-coalition-leader-fos-feministas-fadekemi-akinfaderin-30-defenders-women" target="_blank">defending LGBTIQ+ rights</a> to boosting gender-targeted foreign aid. Concurrently, UN Women in 2023 worked with 236 government institutions to apply gender-budgeting practices that align public funds with gender equality goals. Mexico’s Sustainable Taxonomy, the first of its kind globally, comprehensively steers public investment towards closing gender gaps.</p>

<p>The sixty-eighth session of the Commission on the Status of Women in 2024 drew 4,000 government delegates and 5,000 civil society representatives to find solutions to improve the amount and quality of investment in gender equality. The session cast a global spotlight on innovative feminist models for finance. It resulted in the Commission’s 45 Member States issuing <a href="https://undocs.org/E/CN.6/2024/L.3" target="_blank">agreed conclusions</a> on accelerating investment in women and girls. FEMNET Executive Director <a href="https://www.unwomen.org/en/news-stories/news/2024/03/at-csw68-generation-equality-calls-for-feminist-financing-and-collective-action-for-womens-economic-justice" target="_blank">Memory Kachambwa</a> offered a look forward: “May we be the generation that will push for funding…that is trust-based, flexible, multi-year and sustainable—and feminist funding models that actively listen and respond, with conviction and action!”</p>

<p><strong>Unite to act:</strong> Pick your favourite cause and fund a local women’s rights organization. Learn more about <a href="https://www.unwomen.org/en/news-stories/explainer/2023/11/what-is-gender-responsive-budgeting" target="_blank">gender-based budgeting</a> and advocate for your local government to apply it.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg purple section-reasons" id="climate-action">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">08</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text purple">We made numbers <strong>tell women’s stories</strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#more-people"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/Tayfun Dalkılıç" src="/sites/default/files/assets/annual-reports/2023/assets/img/Türkiye_GenderData_87_1500px.jpg" />
<div class="footnote">Photo: UN Women/Tayfun Dalkılıç</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>Data and statistics tell stories of what happens in women’s lives and what needs to change, but only if the numbers capture sex and gender differences properly. Since 2018, working with committed donors and national statistical offices, UN Women has invested nearly $70 million in developing gender statistics and sex-disaggregated data, doubling the supply of data that can be used to track the gender dimensions of the global Sustainable Development Goals.</p>

<p>With our assistance, more than 40 countries drew on gender data in 2023 to improve laws and policies. <strong>Mongolia</strong> boosted its quota for women nominees for Parliament from 20 to 30 per cent. <strong>Georgia</strong> applied data on women’s time use, including for unpaid care, to adopt more flexible employment policies for public servants. Eye-opening analyses from two <a href="https://www.unwomen.org/en/news-stories/press-release/2023/07/press-release-less-than-1-percent-of-women-and-girls-live-in-a-country-with-high-womens-empowerment-and-high-gender-parity" target="_blank">global indices</a> launched in 2023 pushed for accelerated action almost everywhere; they showed that less than 1 per cent of women live in countries with high scores on both women’s empowerment and gender parity.</p>

<p>UN Women also leads comprehensive data collection to keep the United Nations system on track in realizing in-house commitments to gender equality and women’s empowerment. A network of more than 500 gender focal points across 130 United Nations entities monitors gender parity at all levels of staffing. Global and country <a href="https://www.unwomen.org/en/how-we-work/un-system-coordination/promoting-un-accountability" target="_blank">monitoring frameworks</a> support the systematic delivery of results for women and girls through programmes, operations, and funding choices. Annual assessments show steady progress. We keep tabs on humanitarian action through the <a href="https://interagencystandingcommittee.org/operational-policy-and-advocacy-group/iasc-gender-accountability-framework-gaf-report-2022" target="_blank">IASC Gender Accountability Framework</a>. The latest report showed that 83 per cent of humanitarian response plans integrated key gender equality priorities, such as provisions for women’s livelihoods.</p>

<p><strong>Unite to act:</strong> Find out more <a href="https://data.unwomen.org/features/why-data-matters-progress-gender-equality" target="_blank">about why data matter</a>. Learn about data on gender and the environment and the <a href="https://data.unwomen.org/publications/call-action-counting-sustainable-future-all-through-gender-and-environment-data" target="_blank">call to action</a> to “count” on a sustainable future.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg blue section-reasons" id="more-people">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">09</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text blue">We <strong>put every dollar</strong> into our mission</div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#bust-norms"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/ Michele Pasquale" src="/sites/default/files/assets/annual-reports/2023/assets/img/Jordan_GazaHumanitarian_56_1500px.jpg" />
<div class="footnote">Photo: UN Women/ Michele Pasquale</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>How much UN Women can do for gender equality and women’s empowerment depends on partnership, including funding partnership with those who support us. Effective, transparent, and accountable business practices make every dollar count towards realizing equal rights for women and girls in the 99 countries and territories where we operate.</p>

<p>We hold ourselves to the highest standards for the funds entrusted to us by our donors including governments, philanthropies, and individuals to achieve shared goals. In 2023, for the twelfth consecutive year, we received an unqualified audit opinion, and met milestones for acting on internal and external audit recommendations. We continued developing our interactive digital <a href="https://open.unwomen.org/" target="_blank">Transparency Portal</a>—where anyone can see our results achieved with our funding resources, measured against our <a href="https://www.unwomen.org/en/un-women-strategic-plan-2022-2025" target="_blank">Strategic Plan</a>. We have created an independent ethics function to uphold integrity, and maintained rigorous evaluations to support organizational learning.</p>

<p>UN Women lives its values of equality and justice on all fronts. We make information, knowledge, goods, resources, and services available to women with disabilities. Regular training and a network of 100 focal points across our country offices ensures that every one of our staff members understands how to prevent and report sexual exploitation and abuse and sexual harassment. We systematically track our own progress in addressing sexual misconduct and provide expertise across the United Nations by sponsoring a <a href="https://shknowledgehub.unwomen.org/en#:~:text=The%20UN%20System%2Dwide%20Knowledge,prevent%20and%20address%20sexual%20harassment." target="_blank">system-wide knowledge hub</a> of resources and best practices.</p>

<p><strong>Unite to act:</strong> Offer your skills and commitment to the world’s women by becoming a <a href="https://www.unv.org/Partners/unv-partnering-un-women" target="_blank">UN Volunteer</a> and serving at UN Women. Learn more about UN Women’s <a href="https://www.unwomen.org/en/partnerships/national-committees" target="_blank">national committees</a>, and consider giving time or a donation.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange section-reasons" id="bust-norms">
<div class="section__bg-content">
<div class="small-container">
<div class="reasons-nav__mobile">
<div class="reasons-nav__mobile-dots">&nbsp;</div>
</div>

<div class="row">
<div class="col-100">
<div class="number fade-in-y">10</div>
</div>
</div>

<div class="row">
<div class="col-75">
<div class="section-subtitle text-with-brush masked-text orange">What’s next: We are <strong>constantly learning to do more </strong></div>
</div>

<div class="col-25 text-right">
<div class="button-down_icon"><a class="button-down fade-in-y" href="#our-partners"><svg fill="none" height="36" viewbox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"> <path d="M30 18L27.88 15.88L19.5 24.26L19.5 6L16.5 6L16.5 24.26L8.12 15.88L6 18L18 30L30 18Z" fill="black"></path> </svg> </a></div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="Photo: UN Women/Ryan Brown" src="/sites/default/files/assets/annual-reports/2023/assets/img/Section10_DoingMore_CSW68_YouthForum(1)_1500px.jpg" />
<div class="footnote">Photo: UN Women/Ryan Brown</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll">
<p>A world of learning comes together at UN Women, through our presence in countries all over the globe and our networks of partnerships. In connecting diverse perspectives and experiences, we learn together to dismantle barriers and do more for gender equality. Our support for the <a href="https://www.genderatworkindia.org/fll" target="_blank">Feminist Leadership Lab</a> allowed 25 young women leaders from across <strong>India</strong> to share political engagement strategies. They gained new ideas and, in the words of Gender at Work researcher Arundhati Sridhar, “two of the most precious resources for movement building: solidarity and hope.”</p>

<p>Supporting women’s organizing is essential to push forward against the current pushback on women’s rights and the weakening of democratic institutions. Women’s movements are also at the forefront of addressing discriminatory norms. UN Women is working with gender experts, social norms researchers, and corporate evaluators to define an approach based on feminist perspectives. It emphasizes addressing intersections among a variety of discriminatory notions, such as those based on race and gender, as these combine to create some of the most stubborn barriers to equality. Early efforts to develop gender statistics that apply intersectionality include an innovative survey module for Eastern and Southern Africa that captures links between gender, mental health, and disability, designed with the Washington Group on Disability Statistics. Such surveys help policymakers to design better policies for all.</p>

<p>UN Women is making steady progress in linking different programmes to respond to the diverse issues women face. One example is rethinking services to respond to gender-based violence so they also offer the economic empowerment that many women need to escape abusive situations for good. In humanitarian settings, where our gender expertise is unique and highly valued, we are fine-tuning support by engaging women in co-creating humanitarian responses, including to respond to intersecting drivers of inequalities and to bridge short-term relief with longer-term services and investments to achieve lasting gains.</p>

<p><strong>Unite to act:</strong> Catch up on some of the latest thinking on <a href="https://www.unwomen.org/en/news-stories/news/2024/03/pushing-forward-for-gender-equality-csw68-event-showcases-strategies-for-countering-pushback-and-advancing-womens-rights-around-the-world">partnerships and practices to push forward for gender equality.</a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section section__bg orange" id="our-partners">
<div class="section__bg-content">
<div class="small-container fade-in-y">
<div class="text-center">
<div class="section-title">We are grateful to our donors</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left order-2"><img alt="Photo: UN Women/James Ochweri" src="/sites/default/files/assets/annual-reports/2023/assets/img/Kenya_WEE_DonorRecognition_Japan_01_1500px.jpg" />
<div class="footnote">Photo: UN Women/James Ochweri</div>
</div>

<div class="col-50 two-columns__right order-1">
<div class="two-columns__scroll">
<p>>Our donors exemplify unity in action through their commitment to UN Women. In 2023, UN Women received USD 562.9 million in total contributions, an increase of 3.2 per cent over 2022 (USD 545.4 million).</p>

<p>Core, or Regular Resources (RR), increased by 7 per cent, from USD 153.3 million in 2022 to USD 164.1 million in 2023, and non-core or Other Resources (OR) grew by 1.5 per cent, from USD 382.7 million in 2022 to USD 388.3 million in 2023, surpassing the integrated budget projections (USD 300m) for the fifth year in a row. For the third time in the history of UN Women, RR growth outpaced OR growth. This is an affirmation of support for UN Women’s mandate during a critical period. We are grateful to our 182 funding partners, especially to Germany, Finland, Switzerland, the United States, and Denmark, who were the top five RR contributors, and to governments that substantially increased RR contributions in 2023, namely Germany, the United States, the Republic of Korea, Spain, and Iceland.</p>

<p>We appreciate our top five total (RR and OR) funding partners: the Multi-Partner Trust Fund Office, Sweden, Germany, the European Commission, and Finland, and our top five OR private sector partners: the Bill &amp; Melinda Gates Foundation, the Foundation to Promote Open Society, the Ford Foundation, BHP Billiton Foundation, and De Beers PLC.</p>

<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="two-columns fade-in-y">
<div class="row row-align-center">
<div class="col-50 two-columns__left"><img alt="Photo: UN Women/Prashanth Vishwanathan" src="/sites/default/files/assets/annual-reports/2023/assets/img/GratefulToDonors_02_Antigua_SIDS4Conference_GenderEqualityForum_Day2_26May2024__UNW9575_1500px.JPG" />
<div class="footnote">Photo: UN Women/Ryan Brown</div>
</div>

<div class="col-50 two-columns__right">
<div class="two-columns__scroll" style="text-;direction: ltr;">
<p>In 2023, UN Women surpassed funding milestones for both the public and private sectors. We continued to enlarge our partner base, achieving an 18 per cent increase in active partners through expanded engagements with the private sector and international financial institutions.</p>

<p>UN Women National Committees increased contributions to regular resources by 24 per cent compared to 2022 based on higher levels of giving by individuals committed to gender equality and women’s empowerment.</p>

<p>For more details on our 2023 contributions and funding partners, please visit the <a href="https://open.unwomen.org/partners" target="_blank">UN Women Transparency Portal</a>.</p>

<p><a data-renderer-mark="true" data-testid="link-with-safety" href="https://unwomen.org/sites/default/files/2024-09/UN-Women-financial-brochure-2023-en.pdf" title="https://unwomen.org/sites/default/files/2024-09/UN-Women-financial-brochure-2023-en.pdf"><strong data-renderer-mark="true">Financial Statements 2023</strong></a></p>

<p><a data-renderer-mark="true" data-testid="link-with-safety" href="https://www.unwomen.org/en/digital-library/publications/2024/09/regular-resources-report-2023" title="https://www.unwomen.org/en/digital-library/publications/2024/09/regular-resources-report-2023"><strong data-renderer-mark="true">Regular Resources Report</strong></a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="section" id="revenue">
<div class="section__bg-content fade-in-y">
<div class="small-container">
<div class="item">
<div class="text-center">
<div class="title">2023 in revenue, an all-time high</div>

<div class="section-title">USD <span data-count="562.9" style="color: black;">562.9</span> M</div>
</div>
</div>

<div class="item">
<div class="text-center">
<div class="title">2023 contributions compared to 2022</div>

<div class="row">
<div class="col-33">
<div class="section-title">+ <span data-count="3.1" style="color: black; font-weight: bold;">3.1</span> %</div>

<p style="font-size: 22px;color: #0397D6;">Voluntary contributions</p>

<p style="font-size: 14px; color: #495057;"><em>USD 536.0M in 2022 to 552.4M in 2023</em></p>
</div>

<div class="col-33">
<div class="section-title">+ <span data-count="7.0" style="color: black; font-weight: bold;">7.0</span> %</div>

<p style="font-size: 22px;color: #0397D6;">Regular resources</p>

<p style="font-size: 14px; color: #495057;"><em>USD 153.3M in 2022 to 164.1M in 2023</em></p>
</div>

<div class="col-33">
<div class="section-title">+ <span data-count="1.5" style="color: black; font-weight: bold;">1.5</span> %</div>

<p style="font-size: 22px;color: #0397D6;">Other resources</p>

<p style="font-size: 14px; color: #495057;"><em>USD 382.7M in 2022 to 388M in 2023</em></p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="small-container">
<div class="item">
<div class="text-center">
<div class="title">Funding partners in 2023</div>

<div class="row">
<div class="col-25">
<div class="section-title" data-count="182" style="color: black; font-weight: bold;">182</div>

<p style="font-size: 22px;color: #0397D6;">funding partners</p>

<p style="font-size: 14px; color: #495057;"><em>from 179 in 2022</em></p>
</div>

<div class="col-25">
<div class="section-title" data-count="86" style="color: black; font-weight: bold;">86</div>

<p style="font-size: 22px;color: #0397D6;">UN Member States</p>

<p style="font-size: 14px; color: #495057;"><em>from 88 in 2022</em></p>
</div>

<div class="col-25">
<div class="section-title" data-count="13" style="color: black; font-weight: bold;">13</div>

<p style="font-size: 22px;color: #0397D6;">National Committees</p>

<p style="font-size: 14px; color: #495057;"><em>from 12 in 2022</em></p>
</div>

<div class="col-25">
<div class="section-title" data-count="51" style="color: black; font-weight: bold;">51</div>

<p style="font-size: 22px;color: #0397D6;">Private sector partners contributed USD 25.5 M in 2023</p>

<p style="font-size: 14px; color: #495057;"><em>compared to 49 partners with a total funding of USD 23.9 M in 2022</em></p>
</div>
</div>
</div>
</div>

<div class="item">
<div class="text-center">
<div class="title">Selected corporate partnerships</div>

<div class="row">
<div class="col-50">
<div class="section-title" data-count="237">237</div>

<p>advertising industry leaders support the <a class="bluelink" href="https://www.unstereotypealliance.org/en" target="_blank" title="Unstereotype Alliance">Unstereotype Alliance</a></p>
</div>

<div class="col-50">
<div class="section-title" data-count="9180">9180</div>

<p>businesses have signed the <a class="bluelink" href="https://www.weps.org/" target="_blank" title="Women's Empowerment Principles">Women's Empowerment Principles</a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<footer class="fade-in-y" id="footer">
<div class="container">
<div id="footer-top">
<div class="social">&nbsp;</div>

<div id="footer-external-links">
<div class="flex"><a class="footer-title" href="https://www.unwomen.org/en/copyright" target="_blank">© 2022 UN WOMEN</a> <a class="footer-title" href="https://www.unwomen.org/en/privacy-notice" target="_blank">PRIVACY NOTICE</a> <a class="footer-title" href="https://www.unwomen.org/en/terms-of-use" target="_blank">TERMS OF USE</a></div>
</div>
</div>
</div>

<div class="container" id="footer-bottom"><a href="https://www.unwomen.org/" id="footer-logo" target="_blank"><img alt="UN Women logo" src="/sites/default/files/assets/annual-reports/2022/assets/img/unwomen-logo.svg" /> </a>

<div class="social">
<h5 class="footer-title">FOLLOW US:</h5>

<div class="icons"><a class="social-link" href="https://twitter.com/UN_Women" target="_blank"><svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M38.17 22.85a4.64 4.64 0 002.17-2.52c-.95.52-2 .9-3.13 1.1a5.12 5.12 0 00-3.6-1.43c-3.17 0-5.5 2.74-4.8 5.58a14.4 14.4 0 01-10.14-4.75 4.34 4.34 0 001.52 6.07 5.22 5.22 0 01-2.23-.57c-.05 2.1 1.59 4.07 3.95 4.51-.69.18-1.45.22-2.22.08a4.9 4.9 0 004.6 3.16A10.5 10.5 0 0117 35.96 14.8 14.8 0 0024.55 38c9.14 0 14.3-7.13 14-13.52A9.63 9.63 0 0041 22.13c-.88.36-1.83.6-2.83.72z"> </path> </svg> </a> <a class="social-link" href="https://www.facebook.com/unwomen" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M31.42 21.99c-.9 0-1.09.37-1.09 1.3v2.03h3.34l-.35 3.34h-2.99v11.66h-5V28.66H22v-3.34h3.33v-3.83c0-2.95 1.56-4.49 5.05-4.49h3.29v5h-2.25v-.01z"> </path> </svg> </a> <a class="social-link" href="https://www.linkedin.com/company/un-women/" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M20.3 21.57a2.28 2.28 0 110-4.56 2.28 2.28 0 010 4.56zM18 23.39V38h4.58V23.4H18v-.01zM25.35 38V23.4h4.55v1.96c1.92-3.54 10.1-3.8 10.1 3.39V38h-4.57v-7.67c0-4.61-5.53-4.26-5.53 0V38h-4.55z" fill-rule="evenodd"></path> </svg> </a> <a class="social-link" href="https://www.instagram.com/unwomen/" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M17.5 32.84v-8.68a6.67 6.67 0 016.66-6.66h8.68a6.67 6.67 0 016.66 6.66v8.68a6.67 6.67 0 01-6.66 6.66h-8.68a6.67 6.67 0 01-6.66-6.66zm16.79-8.97a1.16 1.16 0 100-2.32 1.16 1.16 0 000 2.32zm0 4.63a5.8 5.8 0 11-11.601-.01 5.8 5.8 0 0111.601.01zm-8.66-2.87a4.051 4.051 0 115.73 5.73 4.051 4.051 0 01-5.73-5.73z" fill-rule="evenodd"></path> </svg> </a> <a class="social-link" href="https://www.tiktok.com/@unwomen" target="_blank"> <svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"> <path d="M37.92 26.22a6.22 6.22 0 01-5.25-2.92v9.89a7.198 7.198 0 01-7.09 7.31 7.12 7.12 0 01-7.08-7.23 7.2 7.2 0 017.08-7.3H26v3.6c-.17 0-.25-.08-.42-.08a3.702 3.702 0 00-3.66 3.78 3.651 3.651 0 003.66 3.79 3.7 3.7 0 003.75-3.7V16.5h3.34a6.4 6.4 0 005.75 5.76v3.96h.08-.58z"> </path> </svg> </a></div>
</div>
</div>
</footer>
<!-- /Page 🔚 --></main>
<!-- /Main 🔚 --><script nomodule type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/ie.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/loading.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/home.js"></script><script type="text/javascript" src="/sites/default/files/assets/annual-reports/2022/js/integration.js"></script>


