.contact__block--item {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  padding: 0 16px;
}
.contact__block--item .row {
  align-items: center;
}
@media (max-width: 767.98px) {
  .contact__block--item .row {
    align-items: start;
  }
}
.contact__block--item .row .contact__image {
  padding: 0;
}
.contact__block--item .row .contact__image img {
  border-radius: 50%;
  margin-bottom: 0;
}
.contact__person {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .contact__person {
    font-size: 18px;
    line-height: 28px;
  }
}
.contact__email {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  color: #0397d6;
  margin-left: 5px;
}
@media (max-width: 1179.98px) {
  .contact__email {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767.98px) {
  .contact__email {
    margin-left: 0;
  }
}
.contact__email:hover, .contact__email:focus {
  text-decoration: underline;
}
.contact__email--wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .contact__email--wrapper {
    flex-direction: column;
    align-items: start;
  }
}
.contact__email--statictext {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .contact__email--statictext {
    font-size: 16px;
    line-height: 24px;
  }
}
.contact__clicktext {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  color: #0397d6;
  cursor: pointer;
  margin-left: 5px;
}
@media (max-width: 1179.98px) {
  .contact__clicktext {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767.98px) {
  .contact__clicktext {
    margin-left: 0;
  }
}
.contact__clicktext:hover, .contact__clicktext:focus {
  text-decoration: underline;
}