{% if items|length >= 2 and items_per_view >= 2 %}
  <ul{{ attributes.addClass(classes, 'swiper-wrapper') }}>
    {% for item in items %}
      {% set slide_classes = ['swiper-slide'] %}
      {% if items_per_view == 4 %}
        {% set slide_classes = slide_classes|merge(['four-cards']) %}
      {% endif %}
      <li{{ item.attributes.addClass(slide_classes) }}>
        {{ item.content }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% for item in items %}
    {% if loop.first %}
      {{ item.content }}
    {% endif %}
  {% endfor %}
{% endif %}
