.page--404,
.page-403 {
  padding: 40px 16px;
  min-height: 300px;
}
.page--404 .block-breadcrumbs-2,
.page--404 .field--name-field-title,
.page--404 .field--name-field-landing-page,
.page-403 .block-breadcrumbs-2,
.page-403 .field--name-field-title,
.page-403 .field--name-field-landing-page {
  display: none;
}