@mixin typography-title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 700;
  letter-spacing: -2%;

  @include media-breakpoint-down(md) {
    font-size: 42px;
    line-height: 60px;
  }
}

@mixin typography-title-m {
  @include typography-title;

  font-weight: 500;
}

@mixin typography-title-sb {
  @include typography-title;

  font-weight: 600;
}

@mixin typography-title-r {
  @include typography-title;

  @include media-breakpoint-down(md) {
    font-size: 19px;
    line-height: 27px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 26px;
  }
}

@mixin typography-h5 {
  font-family: $font-family-montserrat;
  font-size: $h5-font-size;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin typography-label-b {
  @include typography-label;

  font-weight: 700;
}

@mixin typography-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 20px;
  }
}

@mixin typography-link-m {
  @include typography-link;

  font-weight: 500;
}

@mixin typography-link-sb {
  @include typography-link;

  font-weight: 600;
}

@mixin typography-link-b {
  @include typography-link;

  font-weight: 700;
}


@mixin typography-links {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin typography-link-m {
  @include typography-links;

  font-weight: 500;
}

@mixin typography-link-sb {
  @include typography-links;

  font-weight: 600;
}

@mixin typography-link-b {
  @include typography-links;

  font-weight: 700;
}

@mixin typography-tag {
  @include typography-label-b;
  color: $white;
  text-align: left;
  background: $pink_new;
  border-radius: 3px;
  padding: 8px 20px;

  &:hover,
  &:focus,
  &:focus-within {
    filter: brightness(95%);
  }

  a {
    color: $white;
  }
}

@mixin typography-card {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin typography-card-des {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin typography-card-date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin typography-body-menu {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

@mixin typography-h6 {
  font-family: $font-family-montserrat;
  font-size: $h6-font-size;
  line-height: 32px;
  font-weight: 400;
}


@mixin typography-title2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -2%;

  @include media-breakpoint-down(md) {
    font-size: 42px;
    line-height: 60px;
  }
}

@mixin typography-title2-m {
  @include typography-title2;

  font-weight: 500;
}

@mixin typography-title2-sb {
  @include typography-title2;

  font-weight: 600;
}

@mixin typography-title2-r {
  @include typography-title2;

  font-weight: 400;
}


@mixin typography-h1 {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -2%;

  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 44px;
  }
}

@mixin typography-h1-m {
  @include typography-h1;

  font-weight: 500;
}

@mixin typography-h1-sb {
  @include typography-h1;

  font-weight: 600;
}

@mixin typography-h1-4 {
  @include typography-h1;

  font-weight: 400;
}

@mixin typography-h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}

@mixin typography-h2-m {
  @include typography-h2;

  font-weight: 500;
}

@mixin typography-h2-sb {
  @include typography-h2;

  font-weight: 600;
}

@mixin typography-h2-r {
  @include typography-h2;

  font-weight: 400;
}

@mixin typography-h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: -2%;

  @include media-breakpoint-down(md) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin typography-h3-m {
  @include typography-h3;

  font-weight: 500;
}

@mixin typography-h3-sb {
  @include typography-h3;

  font-weight: 600;
}

@mixin typography-h3-b {
  @include typography-h3;

  font-weight: 700;
}

@mixin typography-h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 32px;
  }
}

@mixin typography-h4-m {
  @include typography-h4;

  font-weight: 500;
}

@mixin typography-h4-sb {
  @include typography-h4;

  font-weight: 600;
}

@mixin typography-h4-b {
  @include typography-h4;

  font-weight: 700;
}

@mixin typography-h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    line-height: 32px;
  }
}

@mixin typography-h5-m {
  @include typography-h5;

  font-weight: 500;
}

@mixin typography-h5-sb {
  @include typography-h5;

  font-weight: 600;
}

@mixin typography-h5-b {
  @include typography-h5;

  font-weight: 700;
}

@mixin typography-h6 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 28px;
  }
}

@mixin typography-h6-m {
  @include typography-h6;

  font-weight: 500;
}

@mixin typography-h6-sb {
  @include typography-h6;

  font-weight: 600;
}

@mixin typography-h6-b {
  @include typography-h6;

  font-weight: 700;
}

@mixin typography-bodyl {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 28px;
  }
}

@mixin typography-bodyl-m {
  @include typography-bodyl;

  font-weight: 500;
}

@mixin typography-bodyl-sb {
  @include typography-bodyl;

  font-weight: 600;
}

@mixin typography-bodyl-b {
  @include typography-bodyl;

  font-weight: 700;
}


@mixin typography-body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin typography-body-m {
  @include typography-body;

  font-weight: 500;
}

@mixin typography-body-sb {
  @include typography-body;

  font-weight: 600;
}

@mixin typography-body-b {
  @include typography-body;

  font-weight: 700;
}


@mixin typography-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin typography-label-m {
  @include typography-label;

  font-weight: 500;
}

@mixin typography-label-sb {
  @include typography-label;

  font-weight: 600;
}

@mixin typography-label-b {
  @include typography-label;

  font-weight: 700;
}

@mixin typography-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 20px;
  }
}

@mixin typography-link-m {
  @include typography-link;

  font-weight: 500;
}

@mixin typography-link-sb {
  @include typography-link;

  font-weight: 600;
}

@mixin typography-link-b {
  @include typography-link;

  font-weight: 700;
}


@mixin typography-links {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin typography-link-m {
  @include typography-links;

  font-weight: 500;
}

@mixin typography-link-sb {
  @include typography-links;

  font-weight: 600;
}

@mixin typography-link-b {
  @include typography-links;

  font-weight: 700;
}

@mixin typography-tag {
  @include typography-label-b;
  color: $white;
  text-align: left;
  background: $pink_new;
  border-radius: 3px;
  padding: 8px 20px;

  &:hover,
  &:focus,
  &:focus-within {
    filter: brightness(95%);
  }

  a {
    color: $white;
  }
}

@mixin typography-card {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin typography-card-des {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin typography-card-date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin typography-body-menu {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 22px;
  }
}

@mixin typography-footer-menu {
  @include typography-link;
}

@mixin typography-footer-menu-bottom {
  @include typography-links;
}

@mixin typography-select2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin typography-select2-sb {
  @include typography-select2;

  font-weight: 600;
}

@mixin typography-select2-m {
  @include typography-select2;

  font-weight: 500;
}
