@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.timeline-filter {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .timeline-title {
    @include typography-h1;

    color: $text-gray;
    margin: 64px 0;

    @include media-breakpoint-down(md) {
      margin: 44px 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 80px;
      margin-bottom: 44px;
    }
  }

  .filter-year {
    display: flex;
    padding: 4px 0;
    align-items: baseline;
    flex-shrink: 0;
    cursor: pointer;

    &:last-child {
      padding-right: 40px;
    }

    &.active {
      padding: 4px 16px;
      border-radius: 20px;
      background-color: $blue;
      color: $white;

      .year-text {
        font-weight: bold;
        color: $white;

        &:hover,
        &:focus {
          color: $white;
        }
      }

      .months {
        width: auto;
        display: flex;
      }

      .month-text {
        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
  }

  .year-text {
    @include typography-body;

    color: $text-gray;

    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
    }
  }

  .month-text {
    @include typography-label;

    color: inherit;

    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
    }
  }

  .months {
    width: 0;
    overflow: hidden; 
    display: none;
    transition: width 0.2s ease-out;

     li {
       a {
        margin-left: 12px;
      }
    }
  }

  .sticky-container {
    padding-top: 1px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $white;

    @include media-breakpoint-down(sm) {
      top: -56px;
    }
  }

  .timeline-filter-wrapper {
    margin-bottom: 64px;
    gap: 40px;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: $white;
    min-width: calc(1296px + ((100vw - 1296px)/2));
    padding-bottom: 40px;
    padding-right: 32px;

    @include media-breakpoint-down(md) {
      min-width: calc(100% + 16px);
      margin-bottom: 44px;
      padding-bottom: 24px;
      padding-right: 0;
      gap: 20px;
    }

    @include media-breakpoint-down(sm) {
      gap: 12px;
    }

    &::-webkit-scrollbar {
      width: 16px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: linear-gradient(0deg, $scroll-track 0%, $scroll-track 100%), $frost-blue;
      height: 8px;
    }   
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(0deg, $blue 0%, $blue 100%), $input-background;
      height: 8px;
    }
  }

  .field__items {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include media-breakpoint-down(md) {
      gap: 44px;
      padding: 0;
      margin-bottom: 44px;
    }
  }
}

.node--type-hq-article {
  &:hover {
    .timeline-filter {
      .image-wrapper {
        .field--name-field-media-image {
          transform: scale(1);
        }
      }
    }
  }
}

.paragraph--type--timeline-component-item {

  &.alignment-right {
    .timeline-item-wrapper {
      flex-direction: row-reverse;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    .year {
      text-align: left;

      @include media-breakpoint-down(sm) {
        text-align: right;
      }
    }
  }

  &.orientation-vertical {
    .video-wrapper {
      padding-bottom: 177.78%; /* 9:16 aspect ratio (16 / 9 * 100) */
      width: 360px;

      @include media-breakpoint-down(md) {
        width: 344px;
      }
  
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .image-wrapper {
      width: 360px;


      @include media-breakpoint-down(md) {
        width: 344px;
      }
  
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &.fill-hollow {
    .year {
      @include media-breakpoint-down(md) {
        -webkit-text-stroke-width: 2px;
      }
    }
  }

  .timeline-item-wrapper {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(sm) {
      gap: 20px;
      flex-direction: column;
      gap: 40px;
    }
  }
  
  .date {
    @include typography-body-sb;

    color: $brown;
    margin-bottom: 4px;
  }
  
  .title {
    @include typography-h2;

    color: $darkish-gray;
    margin-bottom: 12px;
    
    @include media-breakpoint-down(md) {
      color: $text-gray;
    }
  }
  
  .timeline-description p {
    @include typography-body;

    color: $brown;
    text-align: left;
    position: relative;
    align-self: stretch;
  }

  .media-wrapper {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    object-fit: cover;

    @include media-breakpoint-down(md) {
      width: 344px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .image-wrapper {
      .field--name-field-media-image {
        &:hover {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }
  }

  .video-wrapper {
    position: relative;
    width: 540px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    height: 0;
    overflow: hidden;
    background-color: $black;

    @include media-breakpoint-down(md) {
      width: 344px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .contextual-region {
      position: static;
    }
  }

  &.alignment-left {
    .video-wrapper {
      margin-left: auto;
    }

    .image-wrapper {
      text-align: right;
      margin-left: auto;
    }
  }

  .field--name-field-description {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .video-wrapper {
    video,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .year {
    margin: -48px 0 0 0;
    text-align: right;
    font-size: 200px;
    line-height: 1;
    position: relative;
    -webkit-text-stroke: 4px;
    color: transparent;

    @include media-breakpoint-down(md) {
      font-size: 64px;
      line-height: 1.1;
      margin: -16px 0 0 0;
    }
  }
}
