.paragraph-ct-basic-cta__wrapper.image-left {
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .paragraph-ct-basic-cta__wrapper.image-left {
    flex-direction: column-reverse;
  }
}
.paragraph-ct-basic-cta__body {
  max-width: 100%;
  margin-left: 0;
}
@media (max-width: 767.98px) {
  .paragraph-ct-basic-cta__image-wrapper {
    padding: 0 15px 15px;
  }
}
.paragraph-ct-basic-cta__image-wrapper .image-link img {
  width: 100%;
}