.paragraph-topic-card__row {
  gap: 30px 0;
}
.paragraph-topic-card__column > .field--name-field-component {
  height: 100%;
  border: 1px solid #BAC6D5;
}
.paragraph-topic-card__column .paragraph--type--topic-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.paragraph-topic-card__column .paragraph--type--topic-card-item:hover {
  background: #EDF4FC;
}
.paragraph-topic-card__column .paragraph--type--topic-card-item:hover .global-card__title span {
  background-size: 100% 2px;
}
.paragraph-topic-card__column .global-card__image {
  display: block;
}
.paragraph-topic-card__details {
  padding: 20px 20px 25px;
}
.paragraph-topic-card__details .global-card__title {
  -webkit-line-clamp: 3;
}
.paragraph-topic-card__summary .field--name-field-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #181818;
}
.paragraph-topic-card__button {
  padding: 25px 20px 20px;
}

.paragraph--type--topic-card {
  padding: 40px 16px;
}