/* CSS Styling */
.info-card--wrapper {
  position: relative;
}
@media (max-width: 1179.98px) {
  .info-card--wrapper {
    gap: 20px;
  }
}
.info-card--details.tab-pane {
  position: unset;
  display: block;
  opacity: 1;
}
@media (max-width: 1179.98px) {
  .info-card--details.tab-pane {
    min-height: auto;
  }
}
.info-card--header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 60px 28px 35px;
  background: rgba(245, 246, 246, 0.75);
}
@media (max-width: 1179.98px) {
  .info-card--header a {
    position: relative;
    align-items: flex-start;
    min-height: auto;
    padding: 20px;
  }
}
.info-card--header a[aria-expanded=true] {
  background: #EDF4FC;
}
.info-card--header a[aria-expanded=true] .info-card--title .field--name-field-title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.info-card--header a[aria-expanded=true] .info-card--title .field--name-field-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -17px;
  height: 4px;
  width: 100%;
  background: #0397d6;
}
.info-card--header a[aria-expanded=true] .icon-arrow-left::before {
  transform: rotate(-90deg);
  transition: all 0.2s 0.2s;
}
.info-card--header a:hover, .info-card--header a:focus {
  background: #EDF4FC;
}
.info-card--header a .icon-arrow-left {
  display: none;
  color: #181818;
}
.info-card--header a .icon-arrow-left::before {
  transform: rotate(90deg);
  transition: all 0.2s 0.2s;
}
@media (max-width: 1179.98px) {
  .info-card--header a .icon-arrow-left {
    display: block;
  }
}
.info-card--icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  background-color: #202056;
  border-radius: 50%;
}
.info-card--icon__img .field--type-image img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.info-card--title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
  text-align: center;
}
@media (max-width: 1179.98px) {
  .info-card--title {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1179.98px) {
  .info-card--title {
    width: 80%;
    text-align: right;
  }
}
@media (max-width: 1179.98px) {
  .info-card--title__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}
.info-card--body {
  position: absolute;
  right: 0;
  width: calc(100% - 32px);
  margin: 0 16px;
  background: #EDF4FC;
}
@media (min-width: 768px) {
  .info-card--body {
    transition: none;
  }
}
@media (max-width: 1179.98px) {
  .info-card--body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.info-card--body__wrapper {
  padding: 40px 40px 60px;
}
@media (max-width: 1179.98px) {
  .info-card--body__wrapper {
    padding: 0 0 20px;
  }
}
.info-card--description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 24px;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .info-card--description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1179.98px) {
  .info-card--description {
    padding: 20px 20px 0;
  }
}
.info-card--button {
  padding-top: 20px;
}
@media (max-width: 1179.98px) {
  .info-card--button {
    padding: 0 20px;
    margin-bottom: 15px;
  }
}
.info-card--button a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
}
@media (max-width: 1179.98px) {
  .info-card--button a {
    font-size: 14px;
  }
}
.info-card--button a:hover, .info-card--button a:focus {
  color: #fff;
}
.info-card--button a:hover, .info-card--button a:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: -1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}

.paragraph--type--info-card-detail {
  padding: 40px 16px;
}