{% extends "themes/custom/hq/templates/views/views-latest-resources-carousel.html.twig" %}

{% block blockCustomClass %}
  <div class="hq-carousel-global-card cards_container pt-0 position-relative">
    <span class="card-carousel-items hidden">{{items_amount}}</span>
    <span class="card-carousel-slide hidden">3</span>
{% endblock %}
