{% extends "themes/custom/hq/templates/views/hq-carousel/views-global-card-attachment.html.twig" %}

{% block blockTitle %}
  <h2 class="card-carousel__header-wrapper__title swiperHeader_title">{{ "Podcasts"|t }}</h2>
{% endblock %}
