@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

header {
  &.header--main-menu {
    .nav-wrapper {
      @include make-container();
      @include make-container-max-widths();

      display: flex;
      height: 75px;
      min-height: 70px;
      padding-block: 20px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        height: 70px;
        align-items: center;
      }
    }

    .search {
      margin-right: 0;

      @include media-breakpoint-down(md) {
        display: none;
      }

       &.active {
        .search-input-wrapper {
          grid-template-columns: 1fr 24px;
        }
      }

      button {
        position: relative;
        text-align: right;
        margin: 0;

        &:hover,
        &:focus-within,
        &:focus {
          color: $blue;

          &::before {
            color: $blue;
          }
        }
      }

      .icon-search::before {
        margin: 0;
        font-size: 24px;
      }

      .icon-close:before {
        margin: 0;
        width: 24px;
        font-size: 22px;
      }
    }
  }

  .hq-logo {
    &__wrapper {
      @include media-breakpoint-up(lg) {
        margin-right: 85px;
      }

      a {
        display: flex;
        align-items: center;
        margin: 0;
      }

      img {
        width: auto;
        height: 45px;
        max-width: 145px;
        object-fit: scale-down;
        object-position: center;

        @include media-breakpoint-down(md) {
          max-height: 32px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 80px;
        }
      }

      .field--name-field-block-country {
        @include typography-card;
        line-height: 24px;
        margin-left: 12px;
        padding-left: 12px;
        color: $text-gray;
        border-left: 1px solid $blue;
        max-width: 200px;

        @include media-breakpoint-down(sm) {
          margin-left: 10px;
          padding-left: 10px;
        }
      }
    }
  }

  .hq-main-menu {
    &__wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      background-color: $white;

      @include media-breakpoint-down(md) {
        display: flex !important;
      }
    }

    &__content {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      line-height: normal;

      @include media-breakpoint-down(md) {
        gap: 32px;
      }

      @include media-breakpoint-down(sm) {
        gap: 20px;
      }


      .navbar-toggler {
        position: relative;
        display: flex;
        width: 26px;
        height: 26px;
        align-items: center;
        border: 0;
        padding: 0;

        @include media-breakpoint-down(sm) {
          width: 22px;
          height: 22px;
        }

        &::after {
          content: '\e805';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "UN-Women";
          font-style: normal;
          font-weight: normal;
          speak: never;
          font-size: 20px;
          color: $black;

          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }

        &.collapsed {
          &::after {
            display: none;
          }

          .navbar-toggler-icon {
            width: 26px;
            height: 26px;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H19M1 1H19M1 13H19' stroke='%23181818' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

            @include media-breakpoint-down(sm) {
              width: 22px;
              height: 22px;
            }
          }
        }

        .navbar-toggler-icon {
          width: 26px;
          height: 26px;
          background-image: none;
        }
      }

      .navbar {
        position: static;
        padding: 0;

        @include media-breakpoint-up(lg) {
          position: relative;
          padding: 0 32px;
        }

        &-nav {
          gap: 32px;

          .menu-item--expanded {
            .dropdown-toggle {
              display: flex;
              align-items: center;

              @include media-breakpoint-down(md) {
                justify-content: space-between;
                align-items: center;
              }

              &::after {
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
                border: 0;


                @include media-breakpoint-down(md) {
                  display: block;
                  width: 32px;
                  height: 32px;
                  background-size: 32px;
                }
              }

              &:hover,
              &:focus {
                &::after {
                  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
              }
            }

            &.show {
              .dropdown-toggle {
                position: relative;
                color: $blue;
                z-index: 9;

                &::after {
                  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
                  transform: rotate(180deg);
                }
              }
            }

            .dropdown-menu {
              padding: 0;
              border: 0;
              background: none;
              z-index: 999;

              .field--name-field-block {
                font-size: 0;
                opacity: 0;
                overflow: hidden;
              }
            }
          }

          .menu {
            display: flex;
            list-style: none;
            white-space: nowrap;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 8px;
            gap: 8px;
            border: $border-light-gray;
            border-radius: 4px;
            background: $white;
            box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04), 0px 20px 24px -4px rgba(16, 24, 40, 0.10);

            &-item {
              width: 100%;

              &.active {
                .nav-link {
                  color: $blue;
                }
              }
            }

            a {
              @include typography-label-m;

              display: block;
              padding: 4px 8px;
              border-radius: 2px;

              &:hover,
              &:focus {
                text-decoration: none;
                background-color: $frost-blue;
              }
            }
          }
        }

        .nav-link {
          @include typography-body-menu;
          font-weight: 500;
          padding: 0;
          color: $text-gray;

          &:hover,
          &:focus-within,
          &:focus {
            color: $blue;
          }
        }
      }

      .menu-dropdown {
        @include media-breakpoint-up(lg) {
          margin-top: 25px;
        }

        h2 {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {

    .hq-hamburger,
    .hq-search {
      &__mobile-btn {
        background: none;
        border: 0;
        padding: 0;

        .icon-search {
          display: none;
          font-size: 22px;

          &::before {
            margin: 0;
          }
        }

        .icon-close {
          display: block;
          font-size: 20px;

          &::before {
            margin: 0;
          }
        }

        &.collapsed {
          .icon-close {
            display: none;
          }

          .icon-search {
            display: block;
          }
        }
      }

      &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 0;
        height: calc(100vh - 70px);
        background-color: $white;
        overflow: scroll;
      }

      &__content {
        width: calc(100vw - 32px);
        padding-block: 24px;
        min-height: 350px;
        clear: both;

        .hq-header-search {
          display: block;
          margin: 0;
          border: 0;

          .search-input-wrapper {
            .form-text {
              height: 48px;
              padding: 12px 48px 12px 24px;
              line-height: 48px;
              border: $border-yellow;
              border-radius: 6px;
            }
          }

          .form-item-search-api-fulltext {
            position: relative;

            &::after {
              content: '\e808';
              position: absolute;
              right: 24px;
              top: 0;
              bottom: 0;
              display: flex;
              align-items: center;
              content: '\e808';
              font-family: "UN-Women";
              font-style: normal;
              font-weight: normal;
              speak: never;
              font-size: 20px;
            }
          }

          .tablet.icon-search {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .hq-search {
      .icon-search {
        font-size: 18px;
      }
    }
  }
}

.hq-navbar {
  .block-unwknowledgecountryblock {
    min-width: 200px;
    @include media-breakpoint-up(lg) {
      max-width: 230px;
    }
  }
}

.unw-kp-country {
  opacity: 0;

  &+.select2-container {
    opacity: 0;

    .select2-selection--single {
      @include typography-body-menu;

      visibility: hidden !important;
      padding-block: 0;
      margin-top: -45px;
    }
  }

  &+.ajax-progress+.select2 .selection {
    opacity: 0;
  }
}

.unw-kp-country__open {
  .select2-dropdown {
    border: $border-light-gray !important;
    border-radius: 4px;
    background: $white;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04), 0px 20px 24px -4px rgba(16, 24, 40, 0.10);
    
    @include media-breakpoint-up(lg) {
      width: 230px !important;
      max-width: 230px;
    }
  }

  .select2-selection__choice,
  .select2-selection__rendered {
    opacity: 0;
  }

  .select2-search__field {
    @include typography-body-menu;

    padding: 12px 8px;
    color: $text-gray;
    border: 0 !important;
    border-bottom: $border-yellow !important;
    color: $black;
    outline: 0;

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
    }

    &::-ms-input-placeholder {
      font-size: 12px;
      font-weight: 400;
    }

    &:focus-within,
    &:focus {
      &::placeholder {
        color: $blue;
      }
    }
  }

  .select2-selection__clear,
  .select2-search.select2-search--dropdown {
    position: relative;
    display: block;
    clear: both;
  }

  .select2-search.select2-search--dropdown {
    &::after {
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      content: '\e808';
      font-family: "UN-Women";
      font-style: normal;
      font-weight: normal;
      speak: never;
      font-size: 20px;
    }

    &:focus-within {
      &::after {
        color: $blue;
      }
    }
  }

  .select2-results__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 388px !important;
    padding: 12px 8px;
    box-shadow: none !important;
  }

  .select2-results__option {
    @include typography-body-menu;

    display: block;
    padding: 4px 8px !important;
    margin: 0;
    border-radius: 2px;
    color: $text-gray;

    &:hover,
    &:focus-within,
    &:focus {
      text-decoration: none;
      background-color: $frost-blue !important;
    }

    &::before {
      display: none;
    }

    &--highlighted {
      color: $text-gray !important;
    }
  }

  &.select2-container--default {
    .select2-results {
      &>.select2-results__options {
        min-height: unset !important;
      }
    }
  }
}
