@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.top-header {
  &__wrapper {
    background-color: $frost-blue;

    .region-top-bar & {
      @include media-breakpoint-down(md) {
        opacity: 0;
        height: 0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    }

    @include media-breakpoint-down(md) {
      margin-inline: calc((-100vw + 100%) / 2);
      margin-block: 32px;
      padding-top: 20px;
      background-color: $frost-blue;
    }

    .container {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    padding-block: 12px;

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 0;
    }

    nav {
      display: flex;
      flex: 1;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
    }
  }
}
