.webform-submission-form label {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  color: #333333;
}
@media (max-width: 1179.98px) {
  .webform-submission-form label {
    font-size: 16px;
    line-height: 24px;
  }
}
.webform-submission-form textarea,
.webform-submission-form textarea.form-textarea,
.webform-submission-form input:not([type=submit]) {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  height: 60px;
  max-height: unset;
  line-height: 60px;
  border-radius: 6px;
  color: #333333;
  border: 1px solid #D0D6DA;
  background-color: #F5F6F6;
  outline: none;
}
@media (max-width: 1179.98px) {
  .webform-submission-form textarea,
.webform-submission-form textarea.form-textarea,
.webform-submission-form input:not([type=submit]) {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1179.98px) {
  .webform-submission-form textarea,
.webform-submission-form textarea.form-textarea,
.webform-submission-form input:not([type=submit]) {
    line-height: 60px;
  }
}
@media (max-width: 767.98px) {
  .webform-submission-form textarea,
.webform-submission-form textarea.form-textarea,
.webform-submission-form input:not([type=submit]) {
    line-height: 60px;
  }
}
.webform-submission-form textarea:focus,
.webform-submission-form textarea.form-textarea:focus,
.webform-submission-form input:not([type=submit]):focus {
  border: 1px solid #0397d6;
  outline: none !important;
}
.webform-submission-form textarea.error,
.webform-submission-form textarea.form-textarea.error,
.webform-submission-form input:not([type=submit]).error {
  border: 1px solid #dc3545;
  padding-left: 40px;
}
.webform-submission-form input[type=submit] {
  margin-top: 0;
  width: auto;
}
.webform-submission-form .form-item {
  position: relative;
  margin-bottom: 30px;
  clear: both;
}
@media (min-width: 1180px) {
  .webform-submission-form .form-item {
    margin-bottom: 40px;
  }
}
.webform-submission-form .form-required::after {
  display: inline-block;
  content: "*";
  font-size: 14px;
  margin-right: 2px;
  color: #0397d6;
  vertical-align: text-top;
}
.webform-submission-form .form-actions {
  text-align: left;
}
.webform-submission-form .form-actions .ajax-progress {
  display: none;
}
.webform-submission-form .icon.icon-error {
  display: block;
  position: absolute;
  left: 12px;
  top: 46px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V12M12 16H12.01M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='%23E35B66' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.webform-confirmation-modal.ui-widget.ui-widget-content {
  width: 70% !important;
  max-width: unset !important;
  right: 15% !important;
  left: 15% !important;
  top: 15% !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}
.webform-confirmation-modal.ui-widget.ui-widget-content .ui-dialog-titlebar {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}
.webform-confirmation-modal.ui-widget.ui-widget-content .ui-dialog-titlebar-close {
  z-index: 99;
}
.webform-confirmation-modal.ui-widget.ui-widget-content .ui-button .ui-icon {
  display: none;
}
.webform-confirmation-modal--content.ui-dialog-content {
  display: flex;
  max-height: unset !important;
  padding-inline: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background: #fff !important;
}
@media (min-width: 768px) {
  .webform-confirmation-modal--content.ui-dialog-content {
    padding-inline: 25px;
  }
}
@media (min-width: 1180px) {
  .webform-confirmation-modal--content.ui-dialog-content {
    padding-inline: 30px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content .icon.icon-green {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='111' height='111' viewBox='0 0 111 111' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='55.5' cy='55.5' r='46.5' fill='%2354CC92'/%3E%3Ccircle cx='55.5' cy='55.5' r='54.5' stroke='%2358D197' stroke-width='2'/%3E%3Cpath d='M69.9253 50.3595L53.5967 66.909C52.9024 67.6127 51.9795 68 50.9977 68C50.0159 68 49.093 67.6127 48.3987 66.909L40.0767 58.4744C39.3824 57.7708 39 56.8354 39 55.8403C39 54.845 39.3824 53.9096 40.0767 53.2059C40.7707 52.5022 41.6936 52.1146 42.6757 52.1146C43.6574 52.1146 44.5806 52.5022 45.2747 53.2062L50.9974 59.006L64.7268 45.091C65.4211 44.3873 66.344 44 67.3257 44C68.3075 44 69.2304 44.3873 69.9247 45.091C71.3583 46.544 71.3583 48.9071 69.9253 50.3595Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media (min-width: 768px) {
  .webform-confirmation-modal--content.ui-dialog-content .icon.icon-green {
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1180px) {
  .webform-confirmation-modal--content.ui-dialog-content .icon.icon-green {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content h2 {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .webform-confirmation-modal--content.ui-dialog-content h2 {
    margin-bottom: 30px;
  }
}
@media (min-width: 1180px) {
  .webform-confirmation-modal--content.ui-dialog-content h2 {
    margin-bottom: 35px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 10px;
  color: #333333;
}
@media (max-width: 1179.98px) {
  .webform-confirmation-modal--content.ui-dialog-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
  display: block;
  margin-top: 25px;
  text-decoration: none;
}
@media (max-width: 1179.98px) {
  .webform-confirmation-modal--content.ui-dialog-content a {
    font-size: 14px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content a:hover, .webform-confirmation-modal--content.ui-dialog-content a:focus {
  color: #fff;
}
.webform-confirmation-modal--content.ui-dialog-content a:hover, .webform-confirmation-modal--content.ui-dialog-content a:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: -1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}
@media (min-width: 768px) {
  .webform-confirmation-modal--content.ui-dialog-content a {
    margin-top: 30px;
  }
}
@media (min-width: 1180px) {
  .webform-confirmation-modal--content.ui-dialog-content a {
    margin-top: 40px;
  }
}
.webform-confirmation-modal--content.ui-dialog-content a:hover, .webform-confirmation-modal--content.ui-dialog-content a:focus {
  text-decoration: none;
}