@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.field--name-field-impact-card-item {
  &.field__item {
    padding-inline: 16px;

    @include media-breakpoint-down(md) {
      padding-inline: 12px;
    }

    @include media-breakpoint-down(sm) {
      padding-inline: 16px;
    }
  }
}

.impact-cards {
  padding-block: 64px;

  @include media-breakpoint-down(md) {
    padding-inline: 30px;
  }

  @include media-breakpoint-down(sm) {
    padding-inline: 16px;
  }

  &__inner {
    @include media-breakpoint-down(sm) {
      row-gap: 38px;
    }
  }

  &__heading {
    margin-inline: auto;
    margin-bottom: 32px;
    padding-inline: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 52px;
    }

    h3 {
      @include typography-h3-b;

      margin-bottom: 0;
    }
  }

  &-backdrop {
    padding: 0;

    .impact-cards__heading {
      margin-bottom: 32px;
    }

    .impact-cards__inner {
      row-gap: 40px;
      flex-wrap: wrap;

      @include media-breakpoint-down(sm) {
        row-gap: 1rem;
        flex-wrap: nowrap;
        padding: 0 16px;
      }
    }

    @include media-breakpoint-down(sm) {
      .swiper-container {
        width: calc((100vw - 100%) / 2 + 100%);
      }

      .field--name-field-impact-card-item {
        &.field__item {
          padding: 0 20px 0 0;
          flex: unset;
        }
      }
    }

    .paragraph--type---impact-cards-items {
      @include media-breakpoint-down(sm) {
        width: 303px;
      }
    }
  }
}

.impact-card {
  position: relative;
  background-color: $white;
  height: 390px;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    height: 292px;
    padding: 18px;
  }

  @include media-breakpoint-down(sm) {
    height: 460px;
    padding: 24px;
  }

  &:hover {
    .impact-card__icon {
      transform: translateX(-200px);
    }

    .impact-card__content {
      color: $white;
    }

    .impact-card__stats {
      color: $white !important;
    }
  }

  &.img-bg {
    &:hover {
      .impact-card__image {
        opacity: 1;

        &::before {
          content: "";
        }
      }
    }
  }

  &.color-bg {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--bg-color);
    }
  }

  &__icon {
    max-height: 156px;
    transition: all 0.4s ease;
    position: relative;
    top: -12px;
    left: -42px;

    @include media-breakpoint-down(md) {
      left: -32px;
      max-height: 118px;
    }

    @include media-breakpoint-down(sm) {
      left: -48px;
      max-height: 184px;
    }

    svg {
      max-width: 148px;
      max-height: 156px;
      fill: var(--impact-icon-fill);

      g,
      path {
        fill: var(--impact-icon-fill);
      }

      #dark,
      #Dark {
        fill: var(--impact-icon-fill);

        path {
          fill: var(--impact-icon-fill);
        }
      }

      #light,
      #Light {
        path {
          fill: var(--impact-icon-fill);
          opacity: 0.25;
        }
      }

      #white {
        path {
          fill: $white;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: opacity 0.3s ease;

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(4, 4, 4, 0.65) 100%);
    }

    picture {
      height: 390px;

      @include media-breakpoint-down(sm) {
        height: 460px;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__stats {
    @include typography-h2;
    text-align: right;
    margin-bottom: 12px;
    transition: color 0.3s ease;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-bottom: 8px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }
  }

  &__desc {
    @include typography-body;

    text-align: right;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @supports (-webkit-line-clamp: 3) {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    p:last-child {
      margin: 0;
    }
  }

  // Impact Cards Backdrop Css
  &-backdrop {
    height: 292px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 40px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      height: 303px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
      transition: 0.3s;
    }

    &:hover::before {
      transform: scale(1.1);
    }

    &__content {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      z-index: 1;

      p {
        margin-bottom: 0;
      }
    }

    &__stats {
      @include typography-title2-sb;
      text-align: center;
      color: $white;
    }

    &__desc {
      @include typography-label-sb;
      text-align: center;
      color: $white;
    }

    &__image {
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;
    }
  }
}

.node--type-hq-complex-page.node--view-mode-full {
  .impact-card__icon {
    img {
      width: auto;
      max-height: 100%;
    }
  }

  .impact-card__image,
  .impact-card-backdrop__image {
    img {
      width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
}