@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";

.block-glossary-listing {
  &__alphabet-filter {
    display: none;
  }

  .views-field-copy-icon {
    display: none;
  }
  .views-field-title{
    margin-bottom: 0;
    line-height: normal;
  }
  &--row-title {
    width: 20px;
  }
}