{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{# Added 'col-full-width' classs to add css for hq_complex topic program page #}
{%
  set columns = [
    'col-12 offset-0',
    content.field_body_container.0['#markup'] == 'b_sm' ? 'col-md-8 offset-md-2',
    content.field_body_container.0['#markup'] == 'b_md' ? 'col-md-9 offset-md-1',
    content.field_body_container.0['#markup'] == 'b_lg' ? 'col-md-10 offset-md-1',
    'col-full-width', 
  ]
%}

{% block paragraph %}
  <div class="container">
    <div class="row">
      <div{{ content_attributes.addClass(columns) }}>
        <div{{ attributes.addClass(classes) }}>
          {% block content %}
            {{ content|without('field_body_container', 'field_image_alignment') }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
