.block-glossary-listing {
  padding-top: 40px;
}
@media (max-width: 767.98px) {
  .block-glossary-listing {
    padding-top: 20px;
  }
}
.block-glossary-listing__alphabet-filter .glossary-letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 32px;
  margin-bottom: 72px;
}
@media (max-width: 767.98px) {
  .block-glossary-listing__alphabet-filter .glossary-letters {
    gap: 24px 42px;
    text-align: center;
  }
}
.block-glossary-listing__alphabet-filter .glossary-letters .views-summary {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #C2C8CC;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing__alphabet-filter .glossary-letters .views-summary {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-glossary-listing__alphabet-filter .glossary-letters .views-summary a {
  font-weight: 700;
  color: #333333;
}
.block-glossary-listing__alphabet-filter .glossary-letters .views-summary a.is-active {
  padding: 2px 10px;
  border-radius: 6px;
  background: #202056;
  color: #fff;
}
.block-glossary-listing__alphabet-filter .glossary-letters .views-summary a.is-active:hover, .block-glossary-listing__alphabet-filter .glossary-letters .views-summary a.is-active:focus {
  color: #fff;
  background: #0397d6;
}
.block-glossary-listing__alphabet-filter .glossary-letters .views-summary a:hover, .block-glossary-listing__alphabet-filter .glossary-letters .views-summary a:focus {
  color: #0397d6;
}
.block-glossary-listing--row-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 52px;
  padding: 10px 16px;
  text-transform: uppercase;
  color: #000;
  background: #e2186f;
  border-radius: 10px;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing--row-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.block-glossary-listing .views-field-copy-icon {
  position: relative;
  min-width: 340px;
  margin-bottom: 62px;
  padding-right: 0;
  background: none;
  border: none;
}
.block-glossary-listing .views-field-copy-icon:focus, .block-glossary-listing .views-field-copy-icon:hover {
  outline: 0;
}
.block-glossary-listing .views-field-copy-icon:focus .views-field-copy-quote, .block-glossary-listing .views-field-copy-icon:hover .views-field-copy-quote {
  color: #202056;
}
.block-glossary-listing .views-field-copy-quote {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  color: #0397d6;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .views-field-copy-quote {
    font-size: 16px;
    line-height: 24px;
  }
}
.block-glossary-listing .views-field-copy-quote img {
  margin-left: 10px;
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
}
.block-glossary-listing .views-field-title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  margin-bottom: 26px;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .views-field-title {
    font-size: 32px;
  }
}
.block-glossary-listing .views-field-title a {
  color: #181818;
}
.block-glossary-listing .views-field-body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .views-field-body {
    font-size: 16px;
    line-height: 24px;
  }
}
.block-glossary-listing .views-field-field-source {
  margin-bottom: 40px;
}
.block-glossary-listing .views-field-field-source .views-label {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  margin-left: 5px;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .views-field-field-source .views-label {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-glossary-listing .views-field-field-source .field-content {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .views-field-field-source .field-content {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-glossary-listing .views-field-field-source .field-content a {
  color: #181818;
  word-break: break-all;
  text-decoration-line: underline;
}
.block-glossary-listing .views-field-field-source .field-content a:hover, .block-glossary-listing .views-field-field-source .field-content a:focus {
  color: #0397d6;
}
.block-glossary-listing .copied-button {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px 34px;
  color: #fff;
  text-align: center;
  background: #7e7e7e;
  border: 0;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .copied-button {
    font-size: 16px;
    line-height: 24px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 {
  position: relative;
  margin-bottom: 86px;
}
@media (max-width: 767.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 {
    margin-bottom: 74px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text label {
  display: none;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input {
  height: 50px;
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 88%;
  margin-top: 0;
  padding-inline: 40px;
  color: #181818;
  text-transform: none;
  background: #fff url("/themes/custom/hq/img/search.svg") no-repeat 12px center;
  border: 1px solid #e2186f;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input {
    height: 46px;
    font-size: 16px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input:focus {
  border-color: #0397d6;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input::-moz-placeholder {
  color: #68737D;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input::placeholder {
  color: #68737D;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input {
    width: 85%;
  }
}
@media (max-width: 767.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-item-text input {
    width: 100%;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 26px;
       column-gap: 26px;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing {
    font-size: 14px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing:hover, .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing:focus {
  color: #fff;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing:hover, .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: -1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}
@media (max-width: 767.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-submit-glossary-listing {
    position: relative;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #0397d6;
  border: 1px solid #0397d6;
  color: #fff;
  transition: 0.4s;
  width: auto;
  height: auto;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset {
    font-size: 14px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset:hover, .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset:focus {
  color: #fff;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset:hover, .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-reset:focus {
  background-color: #027cb0;
  border-color: #0274a4;
  box-shadow: -1px 2px 18px 0 rgba(101, 101, 101, 0.5);
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0397d6;
  background-color: #fff;
  color: #0397d6;
  position: relative;
  padding-right: 40px;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf {
    font-size: 14px;
  }
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf:hover, .block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf:focus {
  color: #fff;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf:hover {
  background-color: #EDF4FC;
  color: #0397d6;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf:focus {
  color: #0397d6;
  background-color: #fff;
}
.block-glossary-listing #views-exposed-form-glossary-listing-page-1 .form-actions #edit-download-pdf::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("/themes/custom/hq/img/download.svg") no-repeat center;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.block-glossary-listing .no-result {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  padding: 30px 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .block-glossary-listing .no-result {
    font-size: 24px;
    line-height: 32px;
  }
}