@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";

.sdg-color-1 {
  background-color: $sdg-1;
}

.sdg-border-1 {
  border-color: $sdg-1;
}

.sdg-color-2 {
  background-color: $sdg-2;
}

.sdg-border-2 {
  border-color: $sdg-2;
}

.sdg-color-3 {
  background-color: $sdg-3;
}

.sdg-border-3 {
  border-color: $sdg-3;
}

.sdg-color-4 {
  background-color: $sdg-4;
}

.sdg-border-4 {
  border-color: $sdg-4;
}

.sdg-color-5 {
  background-color: $sdg-5;
}

.sdg-border-5 {
  border-color: $sdg-5;
}

.sdg-color-6 {
  background-color: $sdg-6;
}

.sdg-border-6 {
  border-color: $sdg-6;
}

.sdg-color-7 {
  background-color: $sdg-7;
}

.sdg-border-7 {
  border-color: $sdg-7;
}

.sdg-color-8 {
  background-color: $sdg-8;
}

.sdg-border-8 {
  border-color: $sdg-8;
}

.sdg-color-9 {
  background-color: $sdg-9;
}

.sdg-border-9 {
  border-color: $sdg-9;
}

.sdg-color-10 {
  background-color: $sdg-10;
}

.sdg-border-10 {
  border-color: $sdg-10;
}

.sdg-color-11 {
  background-color: $sdg-11;
}

.sdg-border-11 {
  border-color: $sdg-11;
}

.sdg-color-12 {
  background-color: $sdg-12;
}

.sdg-border-12 {
  border-color: $sdg-12;
}

.sdg-color-13 {
  background-color: $sdg-13;
}

.sdg-border-13 {
  border-color: $sdg-13;
}

.sdg-color-14 {
  background-color: $sdg-14;
}

.sdg-border-14 {
  border-color: $sdg-14;
}

.sdg-color-15 {
  background-color: $sdg-15;
}

.sdg-border-15 {
  border-color: $sdg-15;
}

.sdg-color-16 {
  background-color: $sdg-16;
}

.sdg-border-16 {
  border-color: $sdg-16;
}

.sdg-color-17 {
  background-color: $sdg-17;
}

.sdg-border-17 {
  border-color: $sdg-17;
}

/* SDG font colors */
.sdg-1 {
  color: $sdg-1;
}

.sdg-2 {
  color: $sdg-2;
}

.sdg-3 {
  color: $sdg-3;
}

.sdg-4 {
  color: $sdg-4;
}

.sdg-5 {
  color: $sdg-5;
}

.sdg-6 {
  color: $sdg-6;
}

.sdg-7 {
  color: $sdg-7;
}

.sdg-8 {
  color: $sdg-8;
}

.sdg-9 {
  color: $sdg-9;
}

.sdg-10 {
  color: $sdg-10;
}

.sdg-11 {
  color: $sdg-11;
}

.sdg-12 {
  color: $sdg-12;
}

.sdg-13 {
  color: $sdg-13;
}

.sdg-14 {
  color: $sdg-14;
}

.sdg-15 {
  color: $sdg-15;
}

.sdg-16 {
  color: $sdg-16;
}

.sdg-17 {
  color: $sdg-17;
}
