.paragraph--type--hero {
  min-height: 600px;
  position: relative;
  padding: 120px 0 78px 0;
  margin-bottom: 78px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    min-height: 550px;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .hero-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    top: -30px;
    bottom: -30px;
    right: 0;
    left: 0;
    position: absolute;
    background-color: $blue-100;
  }

  .field {
    position: relative;
    z-index: 2;

    &--name-field-title-html {
      max-width: 473px;
      color: $white;
      margin-bottom: 22px;

      @include media-breakpoint-down(sm) {
        max-width: 299px;
      }

      em,
      span {
        font-style: normal;
        color: $pink_new;
      }
    }

    &--name-field-body {
      @include typography-body;
      
      max-width: 475px;
      color: #f2f2f2;
      margin-bottom: 30px;

      @include media-breakpoint-down(sm) {
        max-width: 290px;
      }
    }
  }

  a button {
    text-transform: uppercase;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 31, 53, 0.6) 40%,
      rgba(237, 244, 252, 0.01) 65%,
      rgba(237, 244, 252, 0) 100%
    );
    background-size: cover;

    @include media-breakpoint-down(md) {
      background: linear-gradient(
        90deg,
        rgba(0, 31, 53, 0.6) 60%,
        rgba(237, 244, 252, 0.01) 95%,
        rgba(237, 244, 252, 0) 100%
      );
    }
  }
}
