@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.hq-hero-banner {
  display: block;
  position: relative;
  width: 100vw;
  min-height: 450px;
  margin-bottom: 40px;
  background-color: $frost-blue;
  z-index: 1;

  &.banner-large {
    @include media-breakpoint-up(lg) {
      min-height: 640px;
    }
  }

  .container {
    position: relative;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    div,
    article,
    picture {
      height: 100%;
    }

    img {
      height: 100% !important;
      min-width: 100%;
      width: auto !important;
      max-width: unset !important;
      max-height: unset !important;
      object-fit: cover;
      object-position: center;
      margin-bottom: 0 !important;
    }
  }

  &__wrapper {
    display: flex;
    min-height: inherit;
    padding-block: 75px;
    background: linear-gradient(270deg, rgba(11, 50, 79, 0.00) 34.81%, #072336 99.87%);

    @include media-breakpoint-up(md) {
      padding-block: 65px;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      padding-block: 40px;
    }

    &.right {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.57) 0.09%, rgba(0, 0, 0, 0.18) 55.28%);
    }

    &.center {
      background: linear-gradient(90deg, rgba(4, 29, 47, 0.95) 28.9%, rgba(4, 31, 52, 0.00) 96.96%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &.left {
      justify-content: left;
    }

    &.right {
      justify-content: right;
    }

    &.center {
      justify-content: center;
      text-align: center;
    }
  }

  &__date {
    @include typography-bodyl-b;

    margin-bottom: 25px;
    text-transform: uppercase;
    color: $white;
    opacity: 0.8;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
    }
  }

  &__title {
    @include typography-h1;

    color: $white;

    .parallax  & {
      @include typography-title;
    }

    .slider &,
    .slider-with-zoom & {
      @include typography-title2;
    }
  }

  &__body {
    @include typography-h6;

    margin-top: 30px;
    color: $white;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 30px;

    .field--name-field-cta {
      a {
        @include btn;
        @include btn-primary;
      }
    }
  }
}
