.paragraph--type--timeline-carousel {
  padding: 50px 0;

  @include media-breakpoint-down(md) {
    padding: 30px $gutter;
  }

  .swiperHeader-wrapper {
    padding-bottom: 20px;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 0;
    }
  }

  .timeLineText-wrapper {
    display: grid;
    grid-template-columns: 370px 1fr;
    gap: 30px;

    @include media-breakpoint-down(sm) {
      grid-template-columns: none;
    }

    .image-container {
      width: 100%;

      @include media-breakpoint-down(sm) {
        img {
          width: 100%;
        }
      }
    }
  }

  .text-wrapper {
    @include typography-body;
    
    display: flex;
    align-items: center;
    color: #333333;

    p {
      margin-bottom: 0;
    }

    .card_title {
      @include typography-card;
      
      margin-bottom: 10px;
    }

    .more-link {
      margin-top: 19px;

      a {
        display: flex;
      }
    }
  }

  .swiper-container-timeLine {
    overflow: hidden;
  }

  .swiper-pagination {
    position: unset !important;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 30px 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &::before {
      content: '';
      background: $pink_new;
      height: 4px;
      width: 100%;
      display: block;
      position: absolute;
      top: 12px;
    }

    .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
      background-color: $white;
      box-shadow: 1px 2px 4px 0 rgba(101, 101, 101, 0.25);
      z-index: 100;
      opacity: 1;
      outline: none;
      color: $white;
      cursor: pointer;

      &::after {
        content: attr(bullet-label);
        position: relative;
        left: -20px;
        top: -55px;
        min-width: 200px;
        color: #656565;
        font-size: 14px;
        display: flex;
        text-transform: uppercase;
        z-index: 1;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $blue;
      box-shadow: unset;
      z-index: 100;
      outline: none;
      color: $blue;
      cursor: pointer;

      &::after {
        content: attr(bullet-label);
        position: relative;
        display: flex;
        left: -20px;
        top: -55px;
        min-width: 200px;
        color: #656565;
        font-size: 14px;
        text-transform: uppercase;
        z-index: 1;
      }
    }
  }

  .pagination-title {
    display: none;
  }

  .timeLine-select {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    & ~ .select2 {
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 25.5px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
      }
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }
}
