.hq-main-menu {
  display: flex;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}
@media (max-width: 1179.98px) {
  .hq-main-menu {
    flex-direction: column;
  }
}
@media (max-width: 1179.98px) {
  .hq-main-menu.menu-level-0 {
    margin: 0;
  }
}
.hq-main-menu.menu-level-0 > .menu-item > .nav-link {
  position: relative;
  border-bottom: 3px solid #fff;
  line-height: 78px;
}
@media (max-width: 1179.98px) {
  .hq-main-menu.menu-level-0 > .menu-item > .nav-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1180px) {
  .hq-main-menu.menu-level-0 > .menu-item > .nav-link:hover, .hq-main-menu.menu-level-0 > .menu-item > .nav-link:focus, .hq-main-menu.menu-level-0 > .menu-item > .nav-link:focus-within {
    border-color: #0397d6;
  }
}
.hq-main-menu.menu-level-0 > .menu-item.show > .nav-link {
  color: #0397d6;
}
@media (min-width: 1180px) {
  .hq-main-menu.menu-level-0 > .menu-item.show > .nav-link {
    border-color: #0397d6;
  }
}
.hq-main-menu .nav-item {
  position: static;
  display: flex;
  align-items: center;
  padding-inline: 18px;
}
@media (min-width: 1180px) and (max-width: 1280px) {
  .hq-main-menu .nav-item {
    padding-inline: 15px;
  }
}
@media (max-width: 1179.98px) {
  .hq-main-menu .nav-item {
    padding-inline: 0;
    flex-direction: column;
  }
}
.hq-main-menu .nav-item.show .dropdown-toggle {
  color: #0397d6;
}
@media (min-width: 1180px) {
  .hq-main-menu .nav-item.show .dropdown-toggle {
    border-color: #0397d6;
  }
}
.hq-main-menu .nav-item.show .dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}
.hq-main-menu .nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  display: block;
  padding: 0;
  color: #4b4b4b;
  font-weight: 500;
  letter-spacing: 0.5px;
}
@media (max-width: 1179.98px) {
  .hq-main-menu .nav-link {
    font-size: 14px;
    line-height: 22px;
  }
}
.hq-main-menu .nav-link:hover, .hq-main-menu .nav-link:focus {
  color: #0397d6;
}
.hq-main-menu .nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
}
@media (max-width: 1179.98px) {
  .hq-main-menu .nav-link.dropdown-toggle {
    justify-content: space-between;
    align-items: center;
  }
}
.hq-main-menu .nav-link.dropdown-toggle::after {
  display: none;
}
@media (max-width: 1179.98px) {
  .hq-main-menu .nav-link.dropdown-toggle::after {
    display: block;
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    border: 0;
  }
}
.hq-main-menu .nav-link.dropdown-toggle:hover::after, .hq-main-menu .nav-link.dropdown-toggle:focus::after {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.hq-main-menu .dropdown-menu.show {
  left: 0 !important;
  right: 0 !important;
  top: 98% !important;
  transform: none !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  padding-block: 45px;
  margin-top: 3px;
}
@media (max-width: 1179.98px) {
  .hq-main-menu .dropdown-menu.show {
    position: relative !important;
    padding-block: 0;
    box-shadow: none;
    width: 100%;
  }
}
.hq-main-menu ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hq-main-menu ul.menu .menu_link_content {
  padding: 0;
}
.hq-main-menu ul.menu .nav-link:hover, .hq-main-menu ul.menu .nav-link:focus {
  color: #0397d6;
}
.hq-main-menu ul.menu .nav-link span.no-link {
  font-weight: 600;
  cursor: default;
  color: #4b4b4b;
}
@media (min-width: 1180px) {
  .hq-main-menu ul.menu .nav-link span.no-link {
    display: block;
  }
}
.hq-main-menu ul.menu .nav-link span.no-link:hover, .hq-main-menu ul.menu .nav-link span.no-link:focus {
  color: #4b4b4b;
}
.hq-main-menu ul.menu.menu-level-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}
@media (max-width: 1179.98px) {
  .hq-main-menu ul.menu.menu-level-1 {
    gap: 30px;
  }
}
.hq-main-menu ul.menu.menu-level-1 > .menu-item {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden;
}
@media (min-width: 1180px) {
  .hq-main-menu ul.menu.menu-level-1 > .menu-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 1179.98px) {
  .hq-main-menu ul.menu.menu-level-1 > .menu-item {
    padding: 0;
  }
}
.hq-main-menu ul.menu.menu-level-1 > .menu-item > .nav-link {
  display: block;
  margin-bottom: 20px;
}
.hq-main-menu ul.menu.menu-level-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hq-main-menu ul.menu.menu-level-2 .nav-link {
  font-weight: 400;
}

@media (min-width: 1180px) {
  .region-navbar nav {
    position: static;
  }
}
@media (max-width: 1179.98px) {
  .region-navbar nav {
    order: 2;
    width: 100%;
    margin-bottom: 30px;
  }
}
.region-navbar nav .block-wrapper {
  position: relative;
}

@media (max-width: 1179.98px) {
  .menu-item__image {
    display: none;
  }
}
.menu-item__image .image-container {
  margin-bottom: 20px;
}

@media (min-width: 1180px) {
  header.header--main-menu .nav-wrapper {
    max-width: 1296px;
  }
}
@media (max-width: 1179.98px) {
  header.header--main-menu .nav-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 975px) {
  #toolbar-administration {
    height: 40px;
  }
}

.search + .contextual-region {
  position: relative;
}