.block-donatesociallogofooter {
  @include media-breakpoint-down(md) {
    grid-column: 1/-1;
  }
}

.block.related-topics {
  padding: 20px 0 40px;

  @include media-breakpoint-down(sm) {
    padding: 40px 0 40px;
  }

  h2 {
    position: relative;
    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      margin-bottom: 40px;
      border-top: 1px solid $border-tags;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      display: inline-block;
    }

    li {
      @include typography-tag;
      
      margin-bottom: 10px;
      margin-right: 10px;

      @include media-breakpoint-down(sm) {
        display: inline-block;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        text-transform: none;
      }
    }
  }
}

.block.related-content {
  padding: 20px 0 70px;

  @include media-breakpoint-down(md) {
    padding: 20px 0 60px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0 30px;
  }

  h2 {
    position: relative;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      height: 1px;
      background: #b1b1b1;
      margin-bottom: 57px;
      display: block;

      @include media-breakpoint-down(md) {
        margin-bottom: 50px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }
  }

  h3 {
    @include typography-h4;
  }
}

.block-searchform-2 {
  align-items: flex-end;
}
