a {
  transition: 0.4s;

  &.focusable {
    text-decoration: underline;
  }
}

.webform-submission-form,
table,
p {
  a {
    color: $text-gray;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
    }
  }
}

.field--type-text-with-summary,
.field--type-text-long {
  li,
  ol {
    a {
      color: $text-gray;
      text-decoration: underline;
  
      &:hover,
      &:focus {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

.more-link {
  @include typography-link-sb;

  right: 14px;
  text-transform: uppercase;
  white-space: nowrap;

  a {
    &:after {
      content: "\e806";
      font-family: "UN-Women";
      transition: all 0.3s ease;
      margin-left: 5px;
    }

    &:hover,
    &:focus {
      &::after {
        margin-left: 15px;
      }
    }
  }
}

.ajax-progress-throbber,
.ajax-progress-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 4px;
  opacity: 1;
  background-color: rgba($white, 0.8);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &:after {
    content: url("../img/ajax-loader.svg");
  }
}

.link-full-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-donate {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.social-media-links--platforms {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

figure[role="group"] {
  display: grid;
  grid-template-columns: minmax(200px, 350px);
  margin: 0;

  &.align-left {
    margin-right: 30px;
  }

  &.align-right {
    margin-left: 30px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: minmax(200px, 350px);
    text-align: center;
    justify-content: center;

    &.align-left,
    &.align-right {
      float: none;
      margin: 0;
    }
  }
}

figure {
  margin: 0;

  figcaption {
    @include typography-label;
    
    padding: 7px 0;
    text-align: left;
    color: #333;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.content-tag {
  @include typography-tag;
}

.user-container {
  padding: 100px 0;
}

ul.field__items,
ul.swiper-wrapper,
ul.row {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.main-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(101, 101, 101, 0.25);
  z-index: 2;
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  right: 75px;
  bottom: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  z-index: 1000;
  width: 40px;
  height: 40px;
  padding: 0;
  float: right;

  &:before {
    transform: rotate(90deg);
  }

  @include media-breakpoint-down(md) {
    right: 25px;
    bottom: 25px;
  }

  @include media-breakpoint-down(sm) {
    right: 5px;
    bottom: 5px;
  }

  .frontpage & {
    // display-inline block style is added in script.js
    // the button should be disabled only on the homepage
    display: none !important;
  }
}

table {
  color: #333333;
  overflow-x: auto;
  border-radius: 6px 6px 0 0;
  border: 0;

  thead {
    th {
      @include typography-h5;

      margin-bottom: 0;
      background-color: $blue-100;
      color: $white;
      padding: 18px 20px;
      border: 0;

      &:first-child {
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }

  tr {
    &:nth-child(even) {
      background-color: #edf4fc;
    }
  }

  td {
    @include typography-body;

    min-width: 130px;
    padding: 12px 20px;
    border: 0;
  }

  tbody {
    th {
      padding: 12px 20px;
    }
  }
}

.toast.show {
  z-index: 10000;
}

.drupal-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.e-date-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  background-image: $e-date-icon;
}

.location-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  background-image: $location-icon;
}

.user-icon {
  width: 75px;
  height: 75px;
  flex: 0 0 75px;
  background-image: $user-icon;
}

.video-icon {
  width: 56px;
  height: 56px;
  flex: 0 0 65px;
  background-image: $video-icon;
}

.video-icon-default {
  width: 56px;
  height: 56px;
  flex: 0 0 65px;
  background-image: $video-icon-default;
}

.podcast-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $podcast-icon;
}

.event-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $event-icon;
}

.course-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $course-icon;
}

.publication-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $publication-icon;
}

.resource-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $resource-icon;
}

.download-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $download-icon;
}

.default-icon {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  background-image: $default-icon;
}

.global-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $global-icon;  
}

.dollar-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $dollor-icon;  
}

.language-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $language-icon;
}

.share-icon {
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
  background-image: $share-icon;
}

.date-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $date-icon;
}

.time-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $time-icon;
}

.copy-icon {
  width: 26px;
  height: 26px;
  flex: 0 0 26px;
  background-image: $copy-icon;
}

.close-icon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  background-image: $close-icon;
}

.download-arrow-icon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  background-image: $download-arrow-icon;
}

picture {
  display: block;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;

  .scroll-top {
    z-index: 1;
  }

  .select2-container--open .select2-dropdown {
    margin-top: unset;
  }
}

.hidden {
  display: none !important;
}

.global-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $global-icon;
}

.dollar-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $dollor-icon;
}

.language-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $language-icon;
}

.date-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $date-icon;
}

.time-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-image: $time-icon;
}

.copy-icon {
  width: 26px;
  height: 26px;
  flex: 0 0 26px;
  background-image: $copy-icon;
}

.close-icon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  background-image: $close-icon;
}

.download-arrow-icon {
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
  background-image: $download-arrow-icon;
}
