@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../custom";
@import "../mixins";
@import "../bootstrap-override/mixins";

input,
textarea,
.form-control {

  &::placeholder {
    @include typography-body;
    color: #333333;
  }
}

.webform-submission-form {
  .form-control {
    padding: 0;
    height: auto;
    padding: 10px 16px;
    max-height: 48px;
  }

  .form-wrapper {
    label {
      font-size: 12px;
      line-height: normal;
      color: #333333;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 0 0 16px;
      transition: all 0.3s linear;
    }
  }

  textarea,
  input:not([type='submit']) {
    color: #333333;
    width: 100%;
    border-radius: 6px;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown {
      & ~ label {
        @include typography-body;
        
        color: #333333;
        top: 0;
        left: 0;
        padding: 9px 0 0 16px;
        transition: all 0.3s linear;
      }
    }

    &.error {
      border: 1px solid red;
    }
  }

  input[type='submit'] {
    position: relative;
    z-index: 10;
  }

  .webform-flexbox {
    margin-bottom: 0;
  }

  .form-text,
  .form-email {
    margin-top: 0;
  }

  .form-item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-text,
  .form-email,
  .form-textarea {
    @include btn-input;

    padding: 10px 15px;
    border: 1px solid $blue-100;
    color: #333333;
  }

  .form-textarea {
    padding: 10px 15px 15px 15px;
    min-height: 200px;
  }

  input[type='submit'] {
    @include btn;
    @include btn-primary;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      width: auto;
    }
  }

  

  .webform-element-description {
    @include typography-label-sb;

    color: $white;
    text-transform: uppercase;
    margin-bottom: 14px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .webform-flex {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .select2 {
    @include typography-h5;

    margin-bottom: 0;

    .select2-selection--single.select2-selection--single {
      padding: 16px 43px 16px 15px;
      border: 1px solid $blue-100;
      outline: none;
    }
  }

  .select2-selection__arrow {
    top: 21px !important;
    right: 14px !important;
  }

  .select2-container--open {
    .select2-selection__arrow {
      top: 10px !important;
      right: 14px !important;
    }
  }

  .select2-container--default {
    .select2-selection--single {
      .select2-selection__rendered {
        line-height: 16px;
        padding-left: 0;
      }
    }
  }
}

.webform-confirmation-modal {
  background: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px $gray-100;
  padding: 0;
  max-width: 300px;
  max-height: 250px;
  min-height: 250px;

  // Suscribe form
  .ui-dialog-titlebar {
    @include typography-body;
    
    padding: 60px 40px 25px 40px;
  }

  .ui-dialog-content {
    @include typography-label-sb;

    padding: 0;
    padding: 0 40px 60px 40px;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    top: 30px;
    right: 56px !important;
    font-size: 0px;
    text-indent: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.061' height='20.061' viewBox='0 0 21.061 20.061'%3E%3Cpath d='M380,39l-9-9,9,9,9-9Zm0,0,10,10L380,39,370,49Z' transform='translate(-369.47 -29.47)' fill='none' stroke='%23000000' stroke-linecap='square' stroke-width='1.5' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  & + .ui-widget-overlay {
    background: rgba($black, 0.25);
  }
}

.webform-submission-subscribe-form-form {
  .input-group-subscribe {
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;

    .form-item {
      margin-bottom: 0;
    }

    input.form-email {
      border-radius: 6px 0 0 6px;
      border: 0;
      background: $white;
      width: calc(100% + 5px);
      margin-bottom: 0;
    }
  }

  .form-item-description {
    @include typography-label-sb;

    color: $white;
    text-transform: uppercase;
    margin-bottom: 14px;

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}

.webform-submission-subscribe-form-full-form {
  background: #edf4fc;
  padding: 80px 0;
  margin-top: 43px;

  @include media-breakpoint-down(md) {
    padding: 68px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  .webform-flexbox.form-wrapper {
    display: grid;
    grid-template-columns: 250px 250px 1fr;
    grid-gap: 20px;
    margin: 0;

    .webform-flex--container {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;

      .webform-flex.webform-flex--1:last-child {
        grid-column: span 2;
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;

      .webform-flex.webform-flex--1 {
        grid-column: span 1;
        margin-bottom: 0;

        &:last-child {
          grid-column: span 1;
        }
      }

      input[type='submit'] {
        margin-top: 30px;
      }
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  input {
    border: 1px solid $blue-100;
  }

  .form-item {
    position: relative;
    margin-bottom: 0;
  }

  input.form-email {
    border-radius: 6px 0 0 6px;
    width: calc(100% + 5px);

    @include media-breakpoint-down(sm) {
      width: 100%;
      border-radius: 6px;
    }
  }

  .email-submit-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.search-block-form {
  @include media-breakpoint-up(lg) {
    margin-bottom: 36px;
  }

  label {
    @include hidden-label;
  }

  form {
    width: 100%;
  }

  .form-submit {
    display: none;
  }

  .form-control {
    @include btn-input;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='fill: %2319486A; enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cpath d='M9.9,9.3L6.7,6.1c0.5-0.6,0.8-1.4,0.8-2.3C7.5,1.7,5.8,0,3.8,0S0,1.7,0,3.8s1.7,3.8,3.8,3.8 c0.9,0,1.7-0.3,2.3-0.8l3.2,3.2l0.1,0c0.2,0.1,0.4,0.1,0.5,0C10,9.7,10,9.5,9.9,9.3z M3.8,6.7c-1.6,0-2.9-1.3-2.9-2.9 s1.3-2.9,2.9-2.9s2.9,1.3,2.9,2.9S5.4,6.7,3.8,6.7z'/%3E%3C/svg%3E%0A");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-color: $white;
    margin-bottom: 14px;
    box-sizing: border-box;
    padding-right: 45px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}

.user-login-form {
  width: 600px;
  max-width: calc(100% - 30px);
  margin: 100px auto;

  .form-item {
    margin-bottom: 30px;
  }

  .description {
    @include typography-label-sb;
  }

  input[type='submit'] {
    @include btn;
    @include btn-primary;

    height: auto;
    line-height: 1;
    width: auto;
    margin: 0 auto;
  }
}

.webform-submission-contact-form-form {
  input[type='submit'] {
    margin-top: 10px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}
