@import "../custom";

.language_fr,
.language_es {
  .search-news-story-hq {
    .block-facet--select2-multi-checkboxes.hidden {
      display: none;
    }
    .block-facet--select2-multi-checkboxes {
      width: 234px;
      max-width: calc(100% / 4 - 65px);
      @include media-breakpoint-down(md) {
        width: 375px;
        max-width: calc(100% - 36px);
      }
      @include media-breakpoint-down(sm) {
        width:100%;
        max-width: 100%;
      }
    }
  }
}
.search-news-story-hq {
  .block-breadcrumbs {
    display: none;
  }
  .block-facet--select2-multi-checkboxes {
    width: 234px;
    max-width: calc(100% / 4 - 51px);
    @include media-breakpoint-down(md) {
      width: 375px;
      max-width: calc(100% - 36px);
    }
    @include media-breakpoint-down(sm) {
      width:100%;
      max-width: 100%;
    }
  }
 .facet-inactive.hidden {
    display: none;
  }
  .facet-inactive {
    display: inline-block;
    padding: 20px $gutter 0;
  }

  .facets-reset-button {
    display: inline-block;
    padding: 20px 0 0 $gutter;
    a {
      @include btn;
      @include btn-primary;
    }
  }
  .views-exposed-form {
    h2 {
      padding: 124px 0 53px;
      color: $blue-100;
      @include media-breakpoint-down(sm) {
        padding: 60px 0 25px;
      }
    }
    .form-item-search-api-fulltext {
      padding-bottom: 16px;
    }
    input {
      border-top: 1px solid #FCC30B;
      border-bottom: 1px solid #FCC30B;
      border-right: none;
      border-left: none;
      border-radius: 0;
      height: 53px;
      padding-top: 9px;

      &::placeholder {
        @include typography-h3;
      }
    }
  }
 }
.featured-news-story {
  background: #EDF4FC;
  padding: 84px 0;
  margin-top: 32px;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .views-row {
    max-width: $max-width-xl;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;
    display: flex;
    @include media-breakpoint-down(lg) {
      max-width: 1024px;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
    .views-field-field-media-image {
      position: relative;
      overflow: hidden;
      min-width: 638px;
      height: 100%;
      @include media-breakpoint-down(sm) {
        min-width: 100%;
      }
      @include media-breakpoint-down(md) {
        min-width: 350px;
      }

      .image-wrapper {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          max-width: 100%;
        }
      }
    }

    &:hover {
      .views-field-field-media-image {
        .image-wrapper {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }
    .views-field-field-media-image {
      margin-right: 65px;
      @include media-breakpoint-down(sm) {
        margin: 0 0 20px 0;
      }
    }
    h4 {
      padding-bottom: 34px;
      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
      }
    }
    h2 a {
      color: #181818;
      display: inline;
      --line-color: black;
      background-image: linear-gradient(
        to right,
        var(--line-color) 0%,
        var(--line-color) 100%
      );
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }
    &:hover {
      h2 a {
        background-size: 100% 2px;
        color: #181818;
      }
    }
    .search-item-date {
      @include typography-h3;

      color: $blue;
    }
  }
}

#filter-top > .row {
  display: block;
}

.view-news-story {
  padding-top: 87px;
  padding-bottom: 87px;
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .views-row {
    padding-top: 11px;
    padding-bottom: 11px;
    .views-field-field-media-image {
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;
      .image-wrapper {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          width: 100%;
          height: auto;
          max-width: 100%;
          min-height: 130px;
          object-fit: cover;
          aspect-ratio: 4 / 3;
        }
      }
    }

    &:hover {
      .views-field-field-media-image {
        .image-wrapper {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }
    .views-field-field-story-type {
      position: relative;
      .card_tag {
        @include typography-tag;
        
        max-width: fit-content;
        top: -15px;
        position: relative;
      }
    }
    .views-field-title  {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
      a {
      @include typography-card;

      display: inline;
      --line-color: black;
      background-image: linear-gradient(
        to right,
        var(--line-color) 0%,
        var(--line-color) 100%
      );
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
      color: #181818;
      }
    }
    
    &:hover {
      .views-field-title a {
        background-size: 100% 2px;
      }
    }
    time {
      @include typography-card-date;

      color: #656565;
    }
  }
}

