@import "../custom";

.node--type-video,
.node--type-event,
.node--type-news-and-stories,
.node--type-podcast,
.node--type-topics,
.node--type-hq-complex-page,
.node--type-hq-article,
.node--type-news-and-stories {
  &.node--view-mode-full {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;

      @include media-breakpoint-up(md) {
        max-height: 450px;
      }

      @include media-breakpoint-up(lg) {
        max-height: 597px;
      }
    }

    .story-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      .story-tag {
        @include typography-tag;

        text-transform: none;
        margin-top: 80px;
      }

      .story-title {
        text-align: center;
        margin-top: 30px;
      }

      .story-subtitle {
        @include typography-bodyl-b;
        margin-bottom: 30px;
        color: #181818;
      }

      .social-media-links--platforms {
        @include typography-h6;

        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(11px, max-content));
        grid-auto-flow: column;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-right: 25px;
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 60px;
        }

        a {
          margin: 0;

          &:hover,
          &:focus {
            filter: brightness(50%);
          }
        }
      }

      .story-author-date {
        @include typography-body-sb;

        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 30px;
        }

        .story-border {
          width: 1px;
          background: $black;
          height: 12px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    figure.parallax-image {
      text-align: center;
      margin-bottom: 40px;

      .field--name-field-image,
      .field--name-field-media-image,
      .field--name-field-media-image-hero {
        height: 600px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
          height: 450px;
        }

        @include media-breakpoint-down(sm) {
          height: 230px;
        }
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 32px;
      }

      .story-caption {
        margin-bottom: 27px;

        @include media-breakpoint-down(md) {
          margin-top: 8px;
        }
      }

      img {
        @include media-breakpoint-down(md) {
          height: 450px;
          max-height: unset;
        }

        @include media-breakpoint-down(sm) {
          height: 230px;
        }

        @include media-breakpoint-up(lg) {
          max-height: 600px;
        }
      }
    }

    .field--name-body {
      @include typography-bodyl;

      line-height: 34px;
      margin: 50px 0 30px;

      @include media-breakpoint-down(md) {
        margin: 40px 0 20px;
      }
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      video {
        @media only screen and (min-width: 1700px) {
          display: block;
          margin: 0 auto;
          transform: none !important;
        }
      }
    }
  }

  &.node--view-mode-teaser,
  &.node--type-hq-article-card,
  &.node--view-mode-video-carousel {
    position: relative;

    &:hover {
      .field--name-field-video-upload {
        &:before {
          color: $blue;
          transition: all .3s ease-in-out .2s;
          transform: translateX(0);
        }
      }
    }

    .field--name-field-video-upload {
      width: 100%;
      height: 230px;
      position: relative;
      color: #fff;

      &:before {
        content: "\e804";
        font-size: 35px;
        font-family: 'UN-Women';
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        text-align: center;
        transition: all .3s ease-in .2s;
        opacity: 1;
      }

      & * {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background-color: transparent;
    }

    .card_title span {
      --line-color: #181818;
      text-decoration: none;
      background-image: linear-gradient(to right,
          var(--line-color) 0%,
          var(--line-color) 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }

    &.no-image.no-video {
      background-color: $blue-100;
      padding-left: $gutter;
      padding-bottom: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .card_tag {
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
      }

      .card_title,
      time {
        color: $white;

        span {
          color: $white;
          --line-color: #fff;
        }
      }
    }

    .head-wrapper {
      position: relative;
    }

    time {
      @include typography-card-date;

      color: #656565;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;

      .field--name-field-image,
      .field--name-field-media-image {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    &:hover {
      .image-wrapper {

        .field--name-field-image,
        .field--name-field-media-image,
        .field--name-field-video {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }

    .card_title {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }
  }

  &.node--view-mode-menu-highlight {
    a {
      max-width: 226px;
      display: block;
      margin-bottom: 20px;

      &:hover {
        figcaption {
          color: $blue;
        }
      }
    }

    img {
      display: block;
      width: 226px;
      max-width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    figcaption {
      @include typography-label;

      padding: 0;
      max-width: 226px;
    }
  }
}

.node-type--hq-profile .node--view-mode-full,
.node--type-hq-profile {
  &>.container:not(.not-top) {
    max-width: $max-width-xl;

    @include media-breakpoint-down(lg) {
      max-width: 1024px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  .profile-page {
    .quote-text-image.profile-page {
      display: flex;
      justify-content: initial;
      padding: 67px 0;

      @media (max-width: 970px) {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: initial;
      }

      .quote-image-profile {
        margin-right: 60px;

        @include media-breakpoint-down(sm) {
          max-width: 100%;
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }

        img {
          object-fit: unset;
          width: auto;

          @include media-breakpoint-down(lg) {
            max-width: 445px;
            max-height: 520px;
          }

          @include media-breakpoint-down(sm) {
            max-height: 335px;
            max-width: 100%;
          }
        }
      }
    }

    .field--name-field-body-qoa {
      @include typography-h2;
    }

    .quote-text-profile {
      position: relative;
      padding-left: 19px;
      padding-top: 65px;
      max-width: 920px;

      &.include-image {
        max-width: 540px;

        @include media-breakpoint-down(md) {
          max-width: 500px;
        }
      }

      &::before {
        content: '';
        background: url('/themes/custom/hq/img/quotes.png');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 58px;
        height: 50px;
      }

      .quote-body-profile {
        @include typography-h3;

        text-align: left;
        margin-bottom: 20px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .quote-author-profile {
    display: flex;
    padding: 20px;

    .field--name-field-quote-author {
      @include typography-h6;

      margin-bottom: 0;
      padding: 0;
    }
  }

  .paragraph--section--body-text {
    padding-top: 15px;

    .field--name-field-body {
      @include typography-h3;

      font-weight: normal;
      margin: 0 auto;
      width: 1096px;
    }
  }

  .story-header {
    .story-title {
      @include typography-h1;

      text-transform: capitalize;
      // margin: 80px 0 37px;
    }

    .field--name-field-subheader-long {
      margin-bottom: 100px;
    }

    .social-media-links--platforms {
      @include typography-h2;

      display: grid;
      gap: 70px;
      grid-template-columns: repeat(auto-fit, minmax(11px, max-content));
      grid-auto-flow: column;
      align-items: center;
      padding: 0;
      margin: 0;
      justify-content: start;
      margin-top: 50px;

      @include media-breakpoint-down(sm) {
        gap: 32px;
      }

      a {
        margin: 0;

        &:hover,
        &:focus {
          filter: brightness(50%);
        }
      }
    }

    .story-author-date {
      @include typography-label-b;

      display: flex;
      align-items: center;
      text-transform: uppercase;
      padding: 20px;

      .story-border {
        width: 1px;
        background: $black;
        height: 12px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  figure.parallax-image {
    text-align: center;
    // margin-bottom: 40px;

    .field--name-field-image,
    .field--name-field-media-image,
    .field--name-field-media-image-hero {
      max-height: 600px;
      height: 100%;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        max-height: 450px;
        height: 100%;
      }

      @include media-breakpoint-down(sm) {
        max-height: 230px;
        height: 100%;
      }
    }

    .story-caption {
      margin-bottom: 27px;

      @include media-breakpoint-down(md) {
        margin-top: 8px;
      }
    }
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    video {
      @media only screen and (min-width: 1700px) {
        display: block;
        margin: 0 auto;
        transform: none !important;
      }
    }
  }

  // Follow ambasador
  .follow-section {
    display: flex;
    max-width: $max-width-xl;
    width: 100%;
    margin: 0 auto;
    padding: 60px $gutter 50px;

    @include media-breakpoint-down(lg) {
      max-width: 1024px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      // text-align: center;
    }

    img {
      width: 200px;
      height: 246px;
    }
  }

  .right-section {
    padding-top: 64px;

    .field--name-field-item-id {
      @include typography-h3;

      padding-left: 28px;

      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }

    .social-media-links--platforms {
      a:last-of-type {
        margin: 0 6px;
      }
    }
  }

  .fallow-social {
    @include typography-h5;

    margin-top: 8px;
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  //Focal point.
  .focal-point {
    background: #EDF4FC;
    width: 100%;
    padding: 0 $gutter;
    margin: 50px 0;

    .wrapp-focal-point {
      max-width: $max-width-xl;
      width: 100%;
      margin: 0 auto;
      padding: 35px $gutter 48px;

      @include media-breakpoint-down(lg) {
        max-width: 1024px;
      }

      @include media-breakpoint-down(md) {
        max-width: 100%;
        padding: 35px 0 48px;
      }

      .field--name-field-focal-point-title {
        @include typography-h2;

        padding: 0 0 20px;
      }

      .icon-contact {
        background-image: url('../img/focus-icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;
      }

      .field--node--field-email-focal-point {
        margin: 0;
      }

      .field--name-field-contact-focal-point,
      .field--node--field-email-focal-point {
        @include typography-h5;

        padding: 0 0 0 24px;
      }

      .email-wrapp,
      .contact-wrapper {
        display: flex;
        padding: 0 0 10px;
      }

      .icon-email {
        font-size: 24px;
        color: $blue;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:before {
          margin-left: 0;
        }
      }
    }
  }
}

.node-type--hq-profile {

  &.node--view-mode-teaser {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background-color: transparent;
    }

    .card_title span {
      --line-color: #181818;
      text-decoration: none;
      background-image: linear-gradient(to right,
          var(--line-color) 0%,
          var(--line-color) 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }

    &.no-image {
      background-color: $blue-100;
      padding-left: $gutter;
      padding-bottom: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .card_tag {
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
      }

      .card_title,
      time {
        color: $white;

        span {
          color: $white;
          --line-color: #fff;
        }
      }
    }

    .head-wrapper {
      position: relative;
    }

    time {
      @include typography-card-date;

      color: #656565;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;

      .field--name-field-image,
      .field--name-field-media-image {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    &:hover {
      .image-wrapper {

        .field--name-field-image,
        .field--name-field-media-image {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }

    .card_title {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }
  }

  &.node--view-mode-menu-highlight {
    a {
      max-width: 226px;
      display: block;
      margin-bottom: 20px;

      &:hover {
        figcaption {
          color: $blue;
        }
      }
    }

    img {
      display: block;
      width: 226px;
      max-width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    figcaption {
      @include typography-label;
      padding: 0;
      max-width: 226px;
    }
  }
}

.node--type-hq-complex-page {
  &.node--view-mode-full {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;

      @include media-breakpoint-up(md) {
        max-height: 450px;
      }

      @include media-breakpoint-up(lg) {
        max-height: 597px;
      }
    }

    .paragraph--section--body-text {
      padding-top: 15px;

      .field--name-field-body {
        @include typography-h3;

        font-weight: normal;
        margin: 0 auto;
        width: 1096px;
      }
    }

    .story-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      >.story-tag {
        @include typography-h1;

        text-align: center;
        background: $pink_new;
        border-radius: 10px;
        padding: 3px 47px 3px;
        margin: 20px 0 40px;

        &:hover,
        &:focus {
          filter: brightness(95%);
        }
      }

      .story-title {
        @include typography-h1;

        margin: 80px 0 37px;
      }

      .story-subtitle {
        @include typography-h2;

        margin-bottom: 45px;
      }

      .story-author-date {
        @include typography-label-b;

        display: flex;
        align-items: center;
        margin-bottom: 80px;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
          margin-bottom: 30px;
        }

        .story-border {
          width: 1px;
          background: $black;
          height: 12px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    figure.parallax-image {
      text-align: center;
      // margin-bottom: 40px;

      .field--name-field-image,
      .field--name-field-media-image,
      .field--name-field-media-image-hero {
        max-height: 600px;
        height: 100%;
        overflow: hidden;

        @include media-breakpoint-down(md) {
          max-height: 450px;
          height: 100%;
        }

        @include media-breakpoint-down(sm) {
          max-height: 230px;
          height: 100%;
        }
      }

      // @include media-breakpoint-down(md) {
      //   margin-bottom: 32px;
      // }

      .story-caption {
        margin-bottom: 27px;

        @include media-breakpoint-down(md) {
          margin-top: 8px;
        }
      }

      img {
        @include media-breakpoint-down(md) {
          height: 450px;
          max-height: unset;
        }

        @include media-breakpoint-down(sm) {
          height: 230px;
        }

        @include media-breakpoint-up(lg) {
          max-height: 600px;
        }
      }
    }

    .field--name-body {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      video {
        @media only screen and (min-width: 1700px) {
          display: block;
          margin: 0 auto;
          transform: none !important;
        }
      }
    }
  }

  &.node--view-mode-teaser,
  &.node--type-hq-article-card {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background-color: transparent;
    }

    .card_title span {
      --line-color: #181818;
      text-decoration: none;
      background-image: linear-gradient(to right,
          var(--line-color) 0%,
          var(--line-color) 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }

    &.no-image {
      background-color: $blue-100;
      padding-left: $gutter;
      padding-bottom: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .card_tag {
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
      }

      .card_title,
      time {
        color: $white;

        span {
          color: $white;
          --line-color: #fff;
        }
      }
    }

    .head-wrapper {
      position: relative;
    }

    time {
      @include typography-card-date;

      color: #656565;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;

      .field--name-field-image,
      .field--name-field-media-image {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    &:hover {
      .image-wrapper {

        .field--name-field-image,
        .field--name-field-media-image {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }

    .card_title {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }
  }

  &.node--view-mode-menu-highlight {
    a {
      max-width: 226px;
      display: block;
      margin-bottom: 20px;

      &:hover {
        figcaption {
          color: $blue;
        }
      }
    }

    img {
      display: block;
      width: 226px;
      max-width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    figcaption {
      @include typography-label;
      padding: 0;
      max-width: 226px;
    }
  }
}

.node--type-story,
.node--type-multimedia,
.node--type-publication,
.node--type-resource,
.node--type-event,
.node--type-article,
.node--type-complex-page,
.node--type-video,
.node--type-podcast,
.node--type-hq-article {

  &.node--view-mode-teaser,
  &.node--type-hq-article-card {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background-color: transparent;
    }

    .card_title span {
      --line-color: #181818;
      text-decoration: none;
      background-image: linear-gradient(to right,
          var(--line-color) 0%,
          var(--line-color) 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }

    &.no-image {
      background-color: $blue-100;
      padding-left: $gutter;
      padding-right: $gutter;
      padding-bottom: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .card_tag {
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
      }

      .card_title,
      time {
        color: $white;

        span {
          color: $white;
          --line-color: #fff;
        }
      }
    }

    .head-wrapper {
      position: relative;
    }

    time {
      @include typography-card-date;

      color: #656565;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;

      .field--name-field-image,
      .field--name-field-media-image {
        width: 100%;
        transition: opacity 0.5s, transform 1s;

        img {
          object-fit: cover;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    &:hover {
      .image-wrapper {
        .field--name-field-image {
          transform: scale(1.05);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }

    .card_title {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }
  }

  &:hover {
    .image-wrapper {

      .field--name-field-image,
      .field--name-field-media-image {
        transform: scale(1.05);
        transition: opacity 0.5s, transform 1s;
      }
    }
  }
}


//Node publication.
.content-publications {
  max-width: $max-width-xl;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 43px $gutter 0;
  position: relative;

  @include media-breakpoint-down(md) {
    display: block;
  }

  .paragraph--type--three-cards,
  .paragraph--type--two-cards {
    .container {
      padding-left: 0;
      padding-right: 0;

      // @include media-breakpoint-down(sm) {
      //   padding-right: 0;
      // }
      .field--name-field-content-reference-three.col-md-4 {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }

  .right-content {
    width: 35%;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  .sidebar {
    min-height: 758px;

    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }

  .left-content {
    width: 65%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    h1 {
      @include typography-h2;
    }

    .col-md-4 {
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .col-md-4:nth-of-type(1) {
      padding-left: 0;

    }

    .col-md-4:nth-of-type(3) {
      padding-right: 0;
    }

    .views-view-grid h3 {
      @include typography-card;
    }

    .field--name-field-body {
      @include typography-h3;

      font-weight: normal
    }
  }

  .related-title {
    padding: 20px 0 0;
    margin-top: 50px;
  }

  .field--name-body {
    @include typography-body;

    width: 730px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .fixed-sidebar {
    position: fixed;
    top: 20px;
    transition: all 5s ease 5s, all 5s ease-in-out 5s;

    @include media-breakpoint-down(md) {
      position: relative;
      top: auto;
    }
  }

  .bottom-fix {
    position: absolute;
    transition: all 5s ease 5s, all 5s ease-in-out 5s;
    top: auto;
    bottom: 0;

    @include media-breakpoint-down(md) {
      position: relative;
      bottom: auto;
    }
  }

  a.content-tag {
    display: inline-block;
    margin: 0 8px 10px 0;
    color: $white;
  }

  .image-background {
    width: 388px;
    height: 481px;
    padding: 46px;
    background: #EDF4FC;
    margin-right: 60px;

    @include media-breakpoint-down(sm) {
      margin: auto;
      width: 100%;
      height: auto;
    }

    .image-container {
      overflow: hidden;
      display: inline-table;
      width: 388px;
      height: 481px;
      width: 100%;
      height: 100%;
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);
    }

    img {
      transition: 0.3s;
      max-width: 300px;
      max-height: 389px;
      // object-fit: cover;
      width: 100%;
      height: 100%;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .wrapp-year-social {
    display: flex;
    border-bottom: 2px solid $pink_new;
    padding: 0 0 30px 0;
    margin: 80px 0 40px 0;
    width: 100%;

    @include media-breakpoint-down(sm) {
      margin: 40px 0 30px 0;
      display: block;
    }

    .publication-year {
      width: 50%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .social-sharing-buttons {
      margin: 0;
      // justify-content: left;
      width: 50%;

      @include media-breakpoint-down(sm) {
        margin: 20px 0;
      }

      >li:nth-of-type(3) {
        margin: 0 0 0 9px;
      }

      >li:nth-of-type(4) {
        display: none;

        i,
        a {
          display: none;
        }
      }

      i {
        font-size: 26px;
      }

      &__button {

        &:hover,
        &:focus {
          filter: brightness(50%);
        }
      }
    }
  }

  .publication-year {
    h4 {
      margin: 15px 0 0;
    }
  }

  a[class*="tag-entities"] {
    @include typography-body;

    color: #181818;
    text-decoration-line: underline;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  .tag-entities {

    a,
    a[class*="tag-entities"] {
      @include typography-body;

      color: #181818;
      text-decoration-line: underline;

      &:hover,
      &:focus {
        color: $blue;
      }
    }

    ul {
      padding: 0;
      margin-left: 20px;

      li,
      p {
        @include typography-body;
      }

      // list-style-type: none;
    }

    p {
      @include typography-body;
    }
  }

  // .field--name-body {
  //   p:last-of-type {
  //     padding-bottom: 60px;
  //   }
  // }

  .download-files {
    padding: 15px 0 30px;

    .title {
      @include typography-body-sb;
      color: $blue;
      padding-left: 10px;
      position: relative;
      top: 8px;
    }

    .field--name-field-download-files {
      display: flex;
      max-width: 400px;
      width: 100%;
      flex-wrap: wrap;
      padding-top: 10px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    .paragraph--type--download-in {
      max-width: 132px;
      width: 100%;
      margin: 15px 24px 0 0;
    }

    .paragraph--type--download-in a {
      @include btn;
      @include btn-primary;

      display: inline-block;
    }

    //download animation
    .download-animated {
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: flex-end;
      // height: 12px;
    }

    .download-animated i {
      display: block;
      width: 1.125rem;
      height: 6px;
      border: 2px solid $blue;
      border-top: 0;
      box-sizing: content-box;
    }

    .download-animated::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 2px;
      height: 10px;
      background: $blue;
      left: 10px;
      bottom: 7px;
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transition: translate(0, 0);
      transition: all .3s;
    }

    .download-animated::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 8px;
      height: 8px;
      border-left: 2px solid $blue;
      border-bottom: 2px solid $blue;
      left: 7px;
      bottom: 6px;
      -webkit-transform: rotate(-45deg) translate(0);
      -moz-transform: rotate(-45deg) translate(0);
      -ms-transform: rotate(-45deg) translate(0);
      -o-transform: rotate(-45deg) translate(0);
      transition: rotate(-45deg) translate(0, 0);
      transition: all .3s;
    }

    .download-animated:hover:before {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transition: translate(0, -10px);
    }

    .download-animated:hover:after {
      -webkit-transform: rotate(-45deg) translate(7px, -7px);
      -moz-transform: rotate(-45deg) translate(7px, -7px);
      -ms-transform: rotate(-45deg) translate(7px, -7px);
      -o-transform: rotate(-45deg) translate(7px, -7px);
      transition: rotate(-45deg) translate(7px, -7px);
    }
  }

  .field--name-field-page-no,
  .field--name-field-isbn,
  .field-publishing-entity {
    margin-bottom: 20px;

    .field__label {
      padding-right: 8px;
      font-weight: 700;

      &:after {
        content: ":";
      }
    }
  }

  .field--name-field-page-no,
  .field--name-field-isbn {
    display: flex;
  }

  .semi-colon-terms {
    a {
      color: $text-gray;
      text-decoration-line: underline;

      &:hover,
      &:focus {
        color: $blue;
      }

      &:not(:last-child) {
        &:after {
          content: ";";
        }
      }
    }
  }

  .field-publishing-entity {
    a {
      color: $text-gray;
      text-decoration-line: underline;

      &:hover,
      &:focus {
        color: $blue;
      }

      &:not(:last-child) {
        &:after {
          content: none;
        }
      }
    }
  }
}

.node-type--hq-complex-page,
.page-node-type-publication {
  .publication-view {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    >a {
      background-color: transparent;
      font-size: 0;
    }

    .card_title {
      &:hover {
        text-decoration: none !important;
      }

      span {
        --line-color: #181818;
        text-decoration: none;
        background-image: linear-gradient(to right,
            var(--line-color) 0%,
            var(--line-color) 100%);
        background-position: 0px 95%;
        background-size: 0px 2px;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
        padding: 0.1% 0px;
        background-repeat: no-repeat;

        a {
          color: #181818;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &:hover {
      .card_title span {
        background-size: 100% 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }

    .head-wrapper {
      position: relative;
    }

    time {
      @include typography-card-date;

      color: #656565;
    }

    .image-wrapper {
      margin-bottom: 34.5px;
      position: relative;
      overflow: hidden;
      min-height: 147px;
      max-height: 357px;

      .contextual-region {
        width: 100%;
        transition: 0.3s;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          transition: 0.3s;
        }
      }
    }

    &:hover {
      .image-wrapper {
        .contextual-region {
          transform: scale(1.1);
        }
      }
    }

    .card_title {
      @include typography-card;

      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: underline;
      }
    }

    .card_tag {
      @include typography-tag;

      left: 0;
      bottom: -16.5px;
      position: absolute;
      display: inline-block;
    }
  }
}

//node preview hq theme
.node-preview-form-select {
  display: flex;
  justify-content: center;
  margin: 30px;

  a {
    padding: 0 30px
  }
}

.node-type--ro-co-s-homepage {
  .paragraph-list {
    >section {
      margin-bottom: 80px;

      @include media-breakpoint-down(md) {
        margin-bottom: 48px;
      }

      .block-quicktabsresources {
        padding: 0 16px;

        .hq-carousel-global-card {
          padding-bottom: 0;

          .swiperHeader-wrapper {
            margin-bottom: 0;
          }
        }
      }

      .paragraph--type--video-carousel {
        .swiper-container {
          margin-bottom: 0;

          .video-crousel__date {
            margin-bottom: 0;
          }
        }
      }

      .paragraph--type--cta-carousel {
        padding: 0 16px;
      }
    }

    .single-card {
      .video-crousel__wraper {
        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }
      }
    }
  }
}

// Program Page css
.node--type-hq-complex-page__topic {
  .gap-container {
    margin-left: 32px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  .paragraph-list {
    margin-top: 80px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 48px;
      margin-top: 0;
    }

    >section {
      margin-bottom: 80px;

      @include media-breakpoint-down(md) {
        margin-bottom: 48px;
      }
    }

    .paragraph--section--basic-text-image {
      margin-bottom: 60px;

      @include media-breakpoint-down(md) {
        margin-bottom: 28px;
      }

      .offset-md-1, .offset-md-2 {
        margin-left: 0;
      }

      .col-full-width {
        padding: 0;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 20px;
      }

      .field--type-text-long {
        margin-top: 10px;
      }
    }

    .block-quicktabsresources {
      padding: 0;

      .hq-carousel-global-card {
        paddin-bottom: 0;

        .swiperHeader-wrapper {
          margin-bottom: 0;
        }
      }
    }

    .block-views-block-related-resources-explore-issues,
    .block-quicktabsresources {
      width: 100%;
      margin: auto;

      @include media-breakpoint-up(md) {
        width: calc(100% + 33% + 16px);
        margin-left: calc(-33% - 16px);
      }
    }
  }
}

.paragraph-list {
  .paragraph--section--basic-text-image {
    &:last-child {
      margin-bottom: 40px;
    }

    +.paragraph--section--data-snapshot {
      margin-top: 60px;

      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }
  }
}
