@import "../custom";

.search-publication-hq {
  .hq-listing-page {
    .search-results,
    .resource-list-no-rst,
    .kp-filter-block {
      padding-inline: 0;
    }

    .block-facets-summary {
      ul {
        padding-inline: 0;
      }
    }
  }

  h2 {
    color: $blue-100;
    padding: 120px 0 25px;

    @include media-breakpoint-down(md) {
      padding: 60px 0 15px;
    }
  }

  .block-breadcrumbs {
    display: none;
  }
}

.featured-publication-hq {
  background: #EDF4FC;
  padding: 88px 0;
  margin-top: 30px;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  .views-row {
    max-width: $max-width-xl;
    width: 100%;
    min-height: 100%;
    padding: 0 $gutter;
    margin: 0 auto;
    display: flex;

    @include media-breakpoint-down(lg) {
      max-width: 1024px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .views-field-field-media-image {
      overflow: hidden;
      display: inline-table;
      width: 353px;
      height: 470px;
      margin-right: 65px;
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);

      @include media-breakpoint-down(sm) {
        margin: 0 auto 20px;
        text-align: center;
        width: 100%;
      }
    }

    img {
      width: 353px;
      height: 470px;
      transition: 0.3s;
      object-fit: cover;

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
        width: 100%;
      }
    }

    h1 a {
      color: $blue-100;
      display: inline;
      --line-color: $blue-100;
      background-image: linear-gradient(to right,
          var(--line-color) 0%,
          var(--line-color) 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }

    .featured-item-body {
      padding-bottom: 30px;
      font-weight: 400;

      h4 {
        font-weight: 400;
      }
    }

    .search-item-date {
      @include typography-h6-b;

      margin-bottom: 20px;
      color: $blue-100

      span {
        font-weight: 600;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      h1 a {
        color: $blue-100;
        background-size: 100% 2px;
      }
    }
  }
}

.view-publications {
  .views-row {
    display: flex;
    border-bottom: 3px solid $blue-100;
    padding: 110px 0 25px;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 50px 0 15px;
    }

    .views-field-field-media-image-1,
    .views-field-field-media-image {
      max-height: 408px;
      min-width: 315px;
      overflow: hidden;
      display: inline-table;
      margin-right: 74px;

      @include media-breakpoint-down(sm) {
        height: 408px;
        width: 315px;
        overflow: hidden;
        display: block;
        margin: 0 0 20px;
      }
    }

    img {
      transition: 0.3s;
      max-width: 315px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .search-item-date {
      @include typography-h6-b;

      margin-bottom: 32px;

      span {
        padding-right: 5px;
      }
    }

    .search-item-body {
      @include typography-card-des;
      
      margin-bottom: 45px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    .not-unw {
      display: none;
    }

    .search-item-title {
      @include typography-h2;
      
      padding-bottom: 20px;

      a {
        display: inline;
        --line-color: black;
        background-image: linear-gradient(to right,
            var(--line-color) 0%,
            var(--line-color) 100%);
        background-position: 0px 95%;
        background-size: 0px 2px;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
        padding: 0.1% 0px;
        background-repeat: no-repeat;
        color: #181818;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .search-item-title a {
        color: #181818;
        background-size: 100% 2px;
      }
    }
  }

  .btn {
    margin-bottom: 43px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  //add arrow
  .paragraph--type--download-in a:after{
    content: '';
    background-image: url('../img/icon-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: relative;
  }

  .dowload-files {
    @include typography-h6-b;
    
    display: flex;
    flex-wrap: wrap;

    .paragraph--type--download-in {
      margin-bottom: 10px;
      margin-right: 10px;

      a {
        @include btn;
        @include btn-outline-primary;

        display: flex;
        align-items: center;

        &:after {
          margin-left: 8px;
        }
      }
    }
  }
}

.facets-reset-link {
  display: block !important;
}
