.speaker--block .field__items {
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .speaker--block .field__items {
    align-items: start;
    grid-template-columns: 1fr;
  }
}
.speaker--image-column {
  padding: 0;
}
.speaker--image-column img {
  border-radius: 50%;
  margin-bottom: 0;
}
.speaker__details {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .speaker__details {
    flex-direction: column;
    align-items: flex-start;
  }
}
.speaker__name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
  margin-right: 12px;
}
@media (max-width: 1179.98px) {
  .speaker__name {
    font-size: 18px;
    line-height: 28px;
  }
}
.speaker__host {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #fff;
  text-align: left;
  background: #e2186f;
  border-radius: 3px;
  padding: 8px 20px;
  text-transform: uppercase;
}
.speaker__host:hover, .speaker__host:focus, .speaker__host:focus-within {
  filter: brightness(95%);
}
.speaker__host a {
  color: #fff;
}
@media (max-width: 767.98px) {
  .speaker__host {
    margin-top: 15px;
  }
}
.speaker__description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #181818;
  margin-top: 8px;
}
@media (max-width: 1179.98px) {
  .speaker__description {
    font-size: 16px;
    line-height: 24px;
  }
}