{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 offset-md-2 justify-content-center">
            <h3 class="accordion-title">{{content.field_title }}</h3>
            {{ content|without('field_title') }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
