.paragraph--type--table {
  padding-top: 30px;
  padding-bottom: 30px;

  table {
    --first-column-size: 250px;
    display: grid;
    color: #333333;
    overflow-x: auto;
    border-radius: 6px 6px 0 0;
  
    .table-row {
      display: grid;
      grid-template-columns: var(--first-column-size) repeat(
        var(--columns-number),
        1fr
      );
    }
  
    .table-cell {
      min-width: 130px;
  
      &.odd {
        background-color: #edf4fc;
      }

      &--header {
        @include typography-h5;
        
        margin-bottom: 0;
        background-color: $blue-100;
        color: $white;
        padding: 18px 20px;
    
        &:first-child {
          width: var(--first-column-size);
          border-top-left-radius: 6px;
        }
    
        &:last-child {
          border-top-right-radius: 6px;
        }
      }

      &--row {
        @include typography-body;

        padding: 12px 20px;
      }
    }
  
  }
  
  .table-caption {
    @include typography-label;

    color: #656565;
    grid-column: 1/-1;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
