@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.latest-news-card {
  position: relative;

  .node--type-news-and-stories {
    &.node--view-mode-teaser {

      .card_tag {
        color: $text-gray;
      }

      .card_title {
        @include typography-card;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      a {

        &:hover,
        &:focus {
          .image-wrapper {
            .field--name-field-media-image {
              transform: scale(1.1);
              transition: 0.3s;
            }
          }

          .card_title {
            span {
              background-size: 100% 2px;
            }
          }
        }
      }

      img {
        width: 100%;
      }
    }

    .default-image {
      width: 100%;
    }
  }

  .node--view-mode-latest-news-card {
    margin-bottom: 25px;
    border-block-end: $border-gray;

    @include media-breakpoint-down(sm) {
      border: 0;
    }

    &:last-child {
      border: 0;
    }
  }

  &__wrapper {
    padding-bottom: 25px;

    @include media-breakpoint-down(sm) {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__details-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
  }

  .more-link {
    position: absolute;
    top: -45px;

    @include media-breakpoint-down(sm) {
      position: unset;
      margin-bottom: 30px;

      a {
        @include btn;
        @include btn-primary;

        &::after {
          display: none;
        }
      }
    }
  }

  img {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__right {
    .card_title {
      @include typography-card;
    }

    .card_wrapper {
      .card_title {
        -webkit-line-clamp: 3;
      }
    }
  }

  &__left {
    .head-wrapper {
      .image-wrapper {
        @include media-breakpoint-up(sm) {
          min-height: auto;
          margin-bottom: 10px;
        }
      }

      .card_tag {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }
  }
}

.field--name-field-views-reference {
  padding: 40px 0;
}

#block-views-block-latest-news-hq-latest-news {
  padding: 40px 0;

  h2 {
    @include make-container();
    @include make-container-max-widths();

    @include media-breakpoint-down(md) {
      max-width: 100vw;
    }
  }
}
