@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.block-topic-hierarchical {
  position: relative;
  padding: 0;

  &__body {
    position: absolute;
    max-height: 50vh;
    overflow: auto;
    width: 100%;
    background: $white;
    border-radius: 4px;
    z-index: 11;
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);

    &.without-active {
      ul {
        ul {
          display: none;
        }
      }
    }

    &.with-active {
      ul {
        ul {
          ul {
            display: none;

            &.li-active__tree-element {
              display: block;
            }
          }
        }

        &>li {
          &>ul {
            &>li {

              &.li-active__tree-element,
              &.active {
                span {
                  display: none;
                }
              }
            }
          }

        }
      }
    }

    ul {
      padding: 20px 24px 4px 24px;

      &.li-active__tree-element {
        display: block;
      }

      li {
        list-style-type: none;

        &.active {

          &>a {
            color: $blue;
          }
        }

        a {
          @include typography-h6-b;

          color: $text-gray;

          &:hover,
          &:focus {
            color: $blue;
          }
        }

        &.li-active__tree-element {
          display: block;
        }

        li {
          position: relative;
          line-height: 2em;
        }

        ul {
          position: relative;
          margin: 0 0 0 11px;
          padding: 0;
          list-style: none;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: 2px solid $darkish-gray;
          }

          li {
            padding-left: 25px;

            &:after {
              content: "";
              position: absolute;
              top: 15px;
              left: 0;
              width: 14px;
              height: 1px;
              border-top: 2px solid $darkish-gray;
            }

            &:last-child:after {
              background-color: $white;
              height: auto;
              top: 15px;
              bottom: 0;
            }

            &::before {
              content: "";
              position: absolute;
            }

            &:last-child:before {
              width: 16px;
              height: calc(100% - 10px);
              top: 16px;
              left: -12px;
              background-color: $white;
            }

            a {
              &::before {
                content: "";
                position: absolute;
                top: 13.4px;
                left: 10px;
                height: 5px;
                width: 5px;
                background: center / contain no-repeat url('/themes/custom/hq/img/circle-fill.svg');
                z-index: 1;
              }
            }
          }
        }
      }
    }

    .accordion-icon {
      position: relative;
      padding-right: 28px;

      &.plus {
        &::before {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          margin-top: 6px;
          background: center / contain no-repeat url('/themes/custom/hq/img/plus.svg');
        }
      }

      &.minus {
        &::before {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          margin-top: 6px;
          background: center / contain no-repeat url('/themes/custom/hq/img/minus.svg');
        }
      }
    }
  }

  &__header {
    position: relative;
    padding: 12px 10px;
    margin-bottom: 12px;
    border-width: 1px 0 1px;
    border-style: solid;
    border-color: $pink_new;

    a {
      @include typography-bodyl-b;

      display: block;
      width: 90%;
      color: $black;

      &:focus {
        color: $blue;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transition: transform 0.5s ease-in-out;
        transform: translateY(-50%);
        right: 20px;
        width: 16px;
        height: 10px;
        background: url('/themes/custom/hq/img/caret-down.svg') no-repeat center;

        @include media-breakpoint-down(sm) {
          right: 10px;
        }
      }

      &[aria-expanded="true"] {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
