@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.worldwide-listing {
  &__wrapper {
    margin-block: 60px;
  }

  &__title {
    @include typography-h2;

    margin: 0;
    color: $text-gray;
    text-transform: capitalize;
  }

  &__sub-title {
    a {
      @include typography-h6-b;

      margin-bottom: 20px;
      color: $text-gray;
      display: block;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: none;
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 45px;
    }

    .ajax-progress {
      .throbber {
        display: none;
      }
    }

    .views-field-name {
      a {
        @include typography-link;

        display: inline-block;
        margin-bottom: 12px;
        color: $blue;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    &.show {
      display: block !important;
    }
  }

  &__select-box {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    select {
      opacity: 0;
    }

    .select2-container {
      width: 100% !important;
    }

    .select2 .select2-selection--single.select2-selection--single {
      padding: 10px 45px 10px 14px !important;
      gap: 8px;
      border: 1px solid $text-disabled;
      border-radius: 8px !important;
      box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.05);
      background-color: $white;
      color: $text-gray;
    }

    .select2.select2-container--open .select2-selection--single.select2-selection--single .select2-selection__rendered,
    .select2.select2-container--open .select2-selection--single.select2-selection--single .select2-selection__placeholder {
      color: $text-gray !important;
    }

    .select2 .select2-selection--single.select2-selection--single .select2-selection__rendered {
      @include typography-body;

      padding: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      display: flex;
      top: 0 !important;
      right: 14px !important;
      bottom: 0;
      height: 100%;
      align-items: center;
    }
  }

  &__select-dropdown {
    .select2-dropdown {
      border: $border-light-gray !important;
      border-radius: 6px;
      background: $white;
      box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
    }

    &.select2-container--default .select2-results>.select2-results__options {
      min-height: unset !important;
      max-height: unset !important;
      border: $border-light-gray !important;
      border-radius: 6px;
      box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
    }

    .select2-results__option {
      @include typography-body;
      
      display: block;
      padding: 10px 14px !important;
      margin: 0;
      color: $text-gray;

      &:hover,
      &:focus-within,
      &:focus {
        text-decoration: none;
        background-color: $frost-blue !important;
        color: $blue-100;
      }

      &::before {
        display: none !important;
      }

      &--highlighted {
        color: $blue-100 !important;
        background-color: $frost-blue !important;
      }
    }

    &.select2-container--default .select2-results__option--highlighted[aria-selected] {
      text-decoration: none;
      color: $blue-100 !important;
      background-color: $frost-blue !important;
    }
  }
}
