@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

// ==============================================
// Overlay Styles for Video Popup
// ==============================================
.video-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($text-gray, 0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-popup-inner {
  width: 470px;
  height: 85vh;

  .video-popup-content {
    height: 100%;

    @include media-breakpoint-down(md) {
      padding: 0 16px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}

.video-popup-close {
  @include media-breakpoint-down(md) {
    top: 10px;
  }

  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: $white;
  font-size: 28px;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
  width: 35px;
  height: 35px;
  line-height: 28px;
  text-align: center;
  user-select: none;
}

// ==============================================
// Swiper Carousel Container & Header
// ==============================================
.paragraph--type--video-carousel {
  position: relative;

  .swiperHeader-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
    }

    .header-left {
      display: flex;
      align-items: center;
      width: 80%;

      .header-title {
        @include typography-h1;
        color: $text-gray;
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      @include media-breakpoint-down(md) {
        position: absolute;
        bottom: 0px;
        right: 18px;
      }

      .header-link {
        @include typography-body-sb;
        color: $blue;
      }

      .carouselNav-wrapper {
        display: flex;
        gap: 5px;
      }
    }
  }

  .swiper-container {
    margin-bottom: 32px;

    @include media-breakpoint-down(md) {
      position: relative;
      padding-bottom: 24px;
    }

    .not-swiper {
      display: none;
    }

    .swiper-slide {
      cursor: pointer;

      // Title underline on parent hover
      &:hover {
        .video-crousel__title {
          text-decoration: underline;
          text-decoration-color: $brown;
        }

        .video-poster {
          transform: scale(1.1);
        }
      }

      // Image zoom on parent hover
      .video-wrapper {
        overflow: hidden;

        .video-poster {
          transition: transform 0.4s ease;
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .swiper-data {
        @include media-breakpoint-down(md) {
          display: block;
        }

        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }
    }

    .four-cards {
      display: block;
      margin-right: 0;

      .swiper-data {
        display: block;
      }

      .video-crousel {
        &__left {
          &.vertical {
            @include media-breakpoint-up(md) {
              margin-right: 0;
            }

            @include media-breakpoint-up(lg) {
              margin-right: 0;
            }
          }
        }

        &__right {
          position: relative;
          bottom: 24px;
          z-index: 999;
        }

        &__body {
          display: none;
        }
      }
    }

    .video-crousel {
      &__left {
        &.vertical {
          @include media-breakpoint-down(sm) {
            height: 560px;
          }

          @include media-breakpoint-up(md) {
            height: 500px;
          }

          @include media-breakpoint-up(lg) {
            flex: 0 0 292px;
            max-width: 292px;
            height: 519px;
            margin-right: 20px;
          }
        }
      }

      &__right {
        @include media-breakpoint-down(md) {
          position: relative;
          bottom: 24px;
          z-index: 999;
        }
      }
    }
  }

  .three {
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    width: calc((100vw - 100%) / 2 + 100%);
  }
}

// ==============================================
// Single card container
// ==============================================
.single-card {
  .swiper-data {
    display: none;
  }

  .video-crousel {
    &__wraper {
      @include media-breakpoint-down(md) {
        margin-block: 60px;
      }

      @include media-breakpoint-up(lg) {
        margin-block: 160px;
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      clear: both;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        background: $frost-blue;
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
      }

      &.vertical {
        &.full-width {
          @include media-breakpoint-up(lg) {
            height: 380px;
            padding: 64px 72px;
          }
        }
      }

      // Title underline on parent hover
      &:hover {
        .video-crousel__title {
          text-decoration: underline;
          text-decoration-color: $brown;
        }
      }

      // Image zoom on parent hover
      .video-wrapper {
        overflow: hidden;

        .video-poster {
          transition: transform 0.4s ease;
          display: block;
          width: 100%;
          height: auto;
        }
      }

      &:hover {
        .video-poster {
          transform: scale(1.1);
        }
      }
    }

    &__left {
      @include media-breakpoint-down(md) {
        order: 2;
        position: relative;
        bottom: 24px;
        z-index: 999;
      }

      @include media-breakpoint-up (lg) {
        width: 540px;
      }

      .cta-button {
        display: inline-block;
        padding: 10px 16px;
        border: 2px solid $blue;
        border-radius: 6px;
        background-color: $white;
        color: $blue;
        text-decoration: none;
        transition: background-color 0.2s;

        a {
          @include typography-label-sb;
        }

        &:hover {
          background-color: $frost-blue;
        }
      }
    }

    &__right {
      @include media-breakpoint-down(md) {
        order: 1;
      }

      @include media-breakpoint-up(lg) {
        margin-left: 70px;
        order: 2;
      }

      &.vertical {
        @include media-breakpoint-down(md) {
          height: 560px;
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 292px;
          max-width: 292px;
          height: 519px;
          margin-top: -118px;
        }
      }
    }
  }
}

// common scss
.swiper-container,
.single-card {
  .video-crousel {
    &__title {
      @include typography-h6-b;
      color: $text-gray;
      margin-bottom: 16px;
    }

    &__tag {
      width: fit-content;
      background-color: $pink_new;
      border-radius: 6px;
      padding: 8px 20px;
      margin-bottom: 16px;

      span {
        @include typography-select2;
        font-weight: 500;
        color: $white;
      }
    }

    &__body {
      .field--name-body {
        @include typography-card-des;
        color: $brown;
        margin-bottom: 16px;
        margin-top: 0;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    &__date {
      margin-bottom: 16px;

      @include media-breakpoint-down(md) {
        margin-bottom: 32px;
      }

      span {
        @include typography-label-b;
        color: $brown;
      }
    }

    &__right,
    &__left {
      .video-wrapper {
        position: relative;
        height: 100%;

        .video-poster {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 2;

          img {
            @include media-breakpoint-down(md) {
              width: 100%;
              object-fit: cover;
            }
          }
        }

        .video-iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
          z-index: 1;
        }

        .video-play-button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;
          z-index: 3;
          width: 64px;
          height: 64px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
