.gender-lexicon-view-title {
  color: #5E5A55;
  font-size: rem-calc(24);
  font-weight: $bitter-regular;
  line-height: 1.3;
  margin: rem-calc(0 0 12 0);
}

.view-gender-sensitive-lexicon {
  .bef-exposed-form {
    .form--inline {
      background: #039be5;
      display: flex;
      flex-wrap: wrap;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: rem-calc(25);
      padding: rem-calc(20 15);

      .form-item-title,
      .form-item-field-spanish-term-value,
      .form-item-field-french-term-value {
        flex: 1 0 100%;
        margin: rem-calc(-5 0 10 0);
        max-width: 210px;
        order: 1;
        width: 100%;

        @include media-breakpoint-up(sm) {
          margin: rem-calc(-5 0 17 0);
        }

        label {
          color: $white;
          font-size: rem-calc(14);
          font-weight: $bitter-regular;
          margin: rem-calc(0 0 5);
          padding: 0;
        }

        input {
          background-color: $white;
          box-sizing: border-box;
          border: 0px solid #ccc;
          border-radius: rem-calc(4);
          height: 32px;
          max-width: 210px;
          font-size: rem-calc(14);
          padding: rem-calc(8 20 8 40);
          width: 100%;

          &:focus {
            border: unset;
            box-shadow: unset;
            outline: unset;
          }
        }
      }

      > fieldset {
        order: 3;
        margin: 0;

        .form-radios {
          @include media-breakpoint-up(lg) {
            display: flex;
          }

          .form-item {
            display: inline-block;
            margin: rem-calc(0 0 10);
            
            @include media-breakpoint-up(sm) {
              margin: rem-calc(0 4 10 0);
            }

            &:first-of-type {
              display: none; // Hide first option (-All-).
            }

            input {
              display: none; // Hide input and leave only labels for actions.

              &:checked + label {
                background-color: #067ab3;
                border: 1px solid #0c76ab;
              }
            }
  
            label {
              background: #49b9f0;
              border-radius: rem-calc(4);
              color: $white;
              cursor: pointer;
              display: inline-block;
              font-size: rem-calc(14);
              font-weight: $bitter-regular;
              height: 24px;
              margin-bottom: rem-calc(0);
              padding: rem-calc(2 10);
              text-decoration: none;
              text-transform: uppercase;
              width: 100%;

              &:hover {
                background: #007db9;
              }
            }
          }
        }
      }

      .form-actions {
        margin: 0;
        order: 2;

        @include media-breakpoint-up(sm) {
          margin: rem-calc(23 3 0);
        }

        input {
          display: block;

          @include media-breakpoint-up(sm) {
            display: inline-block;
          }

          &:first-of-type {
            background: #2962ff;
            border: 0;
            border-radius: rem-calc(4);
            color: $white;
            cursor: pointer;
            font-size: rem-calc(13);
            height: 33px;

            &:hover {
              background: #205bfd;
            }
          }

          &:last-of-type {
            border: none;
            color: $white;
            background: none;
            font-size: rem-calc(12);
            margin: rem-calc(0 0 10 0);
            text-decoration: underline;
            text-transform: capitalize;

            @include media-breakpoint-up(sm) {
              margin: rem-calc(3 0 0 9);
            }

            &:hover {
              color: #d8d9da;
            }
          }

          &:focus {
            border: unset;
            box-shadow: unset;
            outline: unset;
          }
        }
      }
    }
  }

  .view-header {
    .header-main {
      margin-bottom: rem-calc(5);

      h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: rem-calc(20);
        font-weight: $bitter-regular;
        margin-bottom: 0;
        text-transform: uppercase;

        &.english-tab {
          color: #0581bd;
        }
      }

      .header-left {
        float: left;
        width: 40%;
      }

      .header-right {
        float: left;
        width: 60%;
      }
    }
  }

  .view-content {
    .terms-block {
      background: #f4f5f7;
      border-left: 3px solid #8c8787;
      border-top: 1px solid #dadadb;
      border-bottom: 1px solid #dadadb;
      border-right: 1px solid #dadadb;
      clear: both;
      display: block;
      margin-bottom: rem-calc(10);
      position: relative;
      min-height: 94px;

      .terms-left {
        align-items: center;
        background: #f4f5f7;
        display: flex;
        float: left;
        height: 100%;
        max-width: 39%;
        min-height: 94px;
        padding: rem-calc(10);
        position: relative;
        vertical-align: middle;
        width: 100%;

        p {
          color: #333;
          display: table-cell;
          font-family: 'Open Sans', sans-serif;
          font-size: rem-calc(14);
          font-weight: $bitter-regular;
          line-height: rem-calc(20);
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }

        .pop-icon {
          bottom: rem-calc(5);
          background: url('../images/note-icon.png') no-repeat center;
          color: transparent;
          float: right;
          position: absolute;
          right: rem-calc(5);;

          &:focus {
            outline: none;
          }
        }
      }

      .terms-right {
        border-left: 1px solid #dadadb;
        font-weight: $bitter-regular;
        font-family: 'Open Sans', sans-serif;
        float: left;
        max-width: 60%;
        min-height: 90px;
        width: 100%;

        .container-tabs {
          font-family: 'Open Sans', sans-serif;
          font-size: rem-calc(14);
          font-weight: $bitter-regular;
          margin: 0 auto;
          width: 100%;

          ul.tabs {
            background: $white;
            border: 0;
            font-size: 100%;
            font-family: inherit;
            font-style: inherit;
            font-weight: inherit;
            list-style: none;
            margin: 0;
            padding: 0;
            vertical-align: baseline;

            @include media-breakpoint-up(lg) {
              height: 37px;
            }

            li {
              background: none;
              color: #222;
              cursor: pointer;
              display: inline-block;
              font-family: 'Open Sans', sans-serif;
              font-size: rem-calc(13);
              font-weight: $bitter-bold;
              padding: rem-calc(7 15);

              &.current {
                border-bottom: 4px solid #039be5;
              }

              &.english-tab {
                color: #0581bd;
              }

              &.spanish-tab {
                color: #029d65;
              }
              
              &.french-tab {
                color: #e1881f;
              }

              &.arabic-tab {
                color: #00bcd4;
              }
            }
          }

          .tab-content {
            background: #f4f5f7;
            border-top: 1px solid #dadadb;
            display: none; // JQuery action.
            line-height: rem-calc(20);
            padding: rem-calc(17);
            position: relative;
            
            &.current {
              display: inherit;
            }

            &.rtl {
              direction: rtl;
              text-align: initial;
            }

            .pop-icon {
              bottom: rem-calc(2);
              background: url('../images/note-icon.png') no-repeat center;
              color: transparent;
              float: right;
              position: absolute;
              right: 0;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

.genderterm-body {
  .img-container {
    margin-bottom: rem-calc(16);

    .img-caption {
      margin: rem-calc(5 0 0 0);
    }
  }
}

.genderterm-resources {
  ul {
    padding: rem-calc(0 0 0 20px);

    li {
      line-height: 1.4;
      margin-bottom: rem-calc(10);

      a {
        color: $blue3;
      }
    }
  }
}