{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'col-12 col-md-6'
  ]
%}

{% for item in items %}
  <li{{ item.attributes.addClass(classes, 'field__item') }}>{{ item.content }}</li>
{% endfor %}
