{
  "root": true,
  
  "parserOptions": {
    "ecmaVersion": 6,
  },

  "globals": {
    "Drupal": true,
    "drupalSettings": true,
    "drupalTranslations": true,
    "domready": true,
    "jQuery": true,
    "_": true,
    "matchMedia": true,
    "Backbone": true,
    "Modernizr": true,
    "CKEDITOR": true,
    "s7viewers": true,
    "utag": true,
    "$clamp": true
  },
}
