.paragraph--type--two-cards,
.paragraph--type---two-cards-manually {
  .cardHighlights-header {
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &.mobile {
      margin-top: 30px;
      margin-bottom: 20px;
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }
  }
}

.paragraph--section--two-cards + .paragraph--section--three-cards,
.paragraph--section--two-cards-manually + .paragraph--section--three-cards-manually {
  .paragraph--type--three-cards,
  .paragraph--type---three-cards-manually {
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }
}

.paragraph-two-cards-image img {
  max-width: 700px!important;
  max-height: 460px;
  min-height: 460px;
  width: 100%!important;
}
