{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{{ attach_library('hq/rellax_library') }}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    <div class="hero-parallax" style="background-image: url('{{ backgroundImage }}')"></div>
    <div class="container">
      {% block content %}
        {{ content|without('field_media_image', 'field_title', 'field_publication_date', 'field_text_position') }}
      {% endblock %}
    </div>
  </div>
{% endblock %}
