@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";


.block-quicktabshighlightcomponent {

  h2 {
    margin-bottom: 20px;
  }

  .hq-carousel-global-card {
    padding-bottom: 0;
  }

  .quicktabs-main {
    position: relative;
  }

  .quicktabs-tabs {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 58px;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        gap: 25px 28px;
    }

    li {
      color: $text-gray;

      a {
        @include typography-bodyl-b;
        color: inherit;
        transition: none;

        &:hover,
        &:focus {
          color: $blue;
          border-bottom: 3px solid $blue;
        }
      }

      &[aria-selected="true"],
      &:hover,
      &:focus {
        a {
          color: $blue;
          border-bottom: 3px solid $blue;
        }
      }
    }
  }

  .global-card__title {
    margin-bottom: 16px;
  }

  .global-card__tag-text {
    font-weight: 500;
  }

  .global-card__date {
    text-transform: uppercase;
    color: $brown;
  }

  .swiper-container {
    .swiper-wrapper {
      @include media-breakpoint-down(md) {
        margin-bottom: 32px;
      }
    }
  }

  .swiperHeader-wrapper {
    position: absolute;
    right: 0;
    top: -76px;
    z-index: 9;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      position: static;
    }

    .carouselNav-wrapper {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  .more-link {
    position: absolute;
    top: -68px;
    right: 106px;
    @include typography-body;
    font-weight: 600;

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      margin-top: -30px;
      text-align: right;
    }

    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &::after {
        display: none;
      }
    }
  }
}
