{% set classes = [
  'paragraph',
  'container',
  'cardCarousel_container',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{{ attach_library('hq/swiper_library') }}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="swiperHeader-wrapper">
        {{ content.field_title }}
        <nav class="carouselNav-wrapper">
          <button class="swiper-button-prev btn btn-primary icon icon-arrow-left"><span class="sr-only">swipe left</span></button>
          <button class="swiper-button-next btn btn-primary icon icon-arrow-right"><span class="sr-only">swipe right</span></button>
        </nav>
      </div>
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          {{ content|without('field_title') }}
        </ul>
      </div>
    {% endblock %}
  </div>
{% endblock %}
