@import "../../../custom";

.paragraph--type--audio {

  padding: 40px 0;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  .video-js.vjs-audio {
    height: 100px;
    width: 100%;
    background-color: transparent;

    .vjs-big-play-button .vjs-icon-placeholder::before,
    .vjs-play-control .vjs-icon-placeholder, 
    .vjs-icon-play,
    .vjs-play-control.vjs-playing .vjs-icon-placeholder, 
    .vjs-icon-pause {
      font-family: 'UN-Women';
    }

    .vjs-big-play-button .vjs-icon-placeholder::before,
    .vjs-play-control .vjs-icon-placeholder::before,
    .vjs-icon-play::before {
      content: "\e804";
      padding-left: 5px;
    }

    .vjs-big-play-button .vjs-icon-placeholder::before, 
    .vjs-modal-dialog, 
    .vjs-button > .vjs-icon-placeholder::before, 
    .vjs-modal-dialog .vjs-modal-dialog-content {
      position: relative;
    }

    .vjs-play-control.vjs-playing .vjs-icon-placeholder::before,
    .vjs-icon-pause::before {
      content: "\e802";
    }

    .vjs-controls-disabled .vjs-big-play-button, 
    .vjs-error .vjs-big-play-button, 
    .vjs-has-started .vjs-big-play-button, 
    .vjs-using-native-controls .vjs-big-play-button,
    .vjs-remaining-time,
    .vjs-time-divider,
    .vjs-fullscreen-control,
    .vjs-big-play-button,
    .vjs-picture-in-picture-control {
      display: none;
    }

    .vjs-current-time,
    .vjs-duration {
      @include typography-h6-b;

      display: block;
      bottom: 0;
      position: absolute;
      height: auto;
      color: #656565;
    }

    .vjs-control-bar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      padding: 0 50px 0 35px;
      background: $white;

      border-radius: 6px;
      box-shadow: 1px 2px 10px rgba(101,101,101, 0.25);

      @include media-breakpoint-down(sm) {
        padding: 0 10px 0 10px;
      }

      .vjs-play-control {
        color: $blue-100;
        margin-right: 30px;
        order: 1;

        @include media-breakpoint-down(sm) {
          margin-right: 10px;
        }
      }

      .vjs-progress-control {
        order: 3;

        &:hover .vjs-progress-holder {
          font-size: 1.1em;
        }

        .vjs-progress-holder {
          border-radius: 10px;
          background: $gray-300;
          height: 6px;

          .vjs-load-progress,
          .vjs-load-progress div {
            background: $gray-300;
            border-radius: 10px;
          }
          
          .vjs-play-progress {
            background: $blue;
            border-radius: 10px;

            &::before {
              font-size: 1em;
            }
          }

          .vjs-play-progress::before, 
          .video-js .vjs-volume-level::before, 
          .vjs-icon-circle::before, 
          .vjs-seek-to-live-control .vjs-icon-placeholder::before {
            color: $blue;
            top: -0.2em;
          }
        }
      }

      .vjs-volume-panel {
        color: $blue-100;
        margin-left: 30px;
        order: 5;

        @include media-breakpoint-down(sm) {
          margin-left: 10px;
        }

        .vjs-volume-bar.vjs-slider-vertical {
          background: #fff;
        }

        .vjs-volume-level::before {
          color: #fff;
        }

        .vjs-volume-control.vjs-volume-vertical {
          width: 2em;
          margin-left: 5px;
          bottom: 5em;
          background-color: rgba(78, 91, 112, 0.4);
          height: 7.5em;
        }

        .vjs-theme-fantasy .vjs-play-progress, 
        .vjs-theme-fantasy .vjs-play-progress::before,
        .vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
          background: $blue;
        }
      }

      .vjs-current-time {
        left: 100px;

        @include media-breakpoint-down(sm) {
          left: 50px;
        }
      }

      .vjs-duration {
        order: 4;
        right: 112px;

        @include media-breakpoint-down(sm) {
          right: 60px;
        }
      }

      .vjs-button > .vjs-icon-placeholder::before {
        font-size: 3.2em;
        padding-top: 5px;

        @include media-breakpoint-down(sm) {
          font-size: 2.2em;
        }
      }
    }

    .title-overlay-container {
      @include typography-body-sb;

      position: absolute;
      top: 20px;
      left: 110px;
      line-height: 20px;
      color: $brown;
      visibility: visible !important;
      opacity: 1 !important;

      span {
        text-shadow: none !important;
        margin: 0 !important;
      }

      @include media-breakpoint-down(sm) {
        left: 65px;
      }
    }
  }

  .audio-caption {
    @include typography-label;

    p {
      margin: 30px 0 30px;
    }
  }
}
