@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";


.hq-listing-page {
  .region-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .block-hq-content {
    width: 100%;
    max-width: 100%;

    & > .views-element-container {
      width: 100%;
      max-width: 100%;

      .view-listing-results {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        padding-block: 40px;

        .page--resource-listing:not(.page--resource-listing__type)  & {
          padding: 0;

          .hq-carousel-global-card {
            padding-block: 40px;
          }
        }

        .views-element-container,
        .view-listing-results {
          width: 100%;
        }

        .views-row {
          @include make-col-ready();
          @include make-col(12);

          margin-bottom: 30px;

          @include media-breakpoint-up(sm) {
            @include make-col(6);
          }

          @include media-breakpoint-up(md) {
            @include make-col(4);
          }

          @include media-breakpoint-up(lg) {
            @include make-col(3);
          }
        }
      }
    }
  }

  .pager {
    @include make-col-ready();

    ul {
      @include make-col-ready();
      @include make-col(12);

      @include media-breakpoint-up(md) {
        @include make-col(8);
        @include make-col-offset(2);
      }
      
      @include media-breakpoint-up(lg) {
        @include make-col(6);
        @include make-col-offset(3);
      }

      padding: 0;
    }
  }

  .block-pagetitle-2 {
    @include make-container();
    @include make-container-max-widths();

    padding-top: 40px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    h1 {
      @include typography-h2;
      margin-bottom: 30px;
    }
  }

  .block-views-block-featured-publication-block-3,
  .block-views-block-featured-resource-block-header-block-1,
  .block--type-hero-banner {
    @include media-breakpoint-up(lg) {
      margin-inline: calc((-100vw + 100%) / 2);
      width: unset;
    }
  }

  .block-views-block-featured-publication-block-3 {
    .featured-news-story {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .block-exposedformnews-and-story-searchpage-1 {
    h2 {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }  
}
