@import "../../../custom";

//Fact and figure cards
.paragraph--type--facts-and-figures-cards {
	padding: 30px 0;
  
  .field--name-field-body {
    @include typography-body;

		padding-top: 30px;
		overflow: hidden;

		h3 {
			@include typography-card;
		}
  }

	.field--name-field-body + .field--name-field-title-number {
		padding-top: 0;
	}
	.field--name-field-title-number {
		font-size: 80px;
    line-height: 130px;
    font-weight: 700;
		margin-top: -28px;
	}
	.field--name-field-link-limited {
		text-align: center;
		padding: 30px 0 0;
    margin: 0 auto;
		a {
			@include btn;
			@include btn-primary;
			text-transform: uppercase;
			&:hover,
			&:focus {
				background: $blue-100;
			}
		}
	}
	
  .field--name-field__facts-and-figures-card  {
    display: flex;
    flex-wrap: wrap;
		width: 100%;
    > .field__item {
			margin: $gutter;
			width: calc(33.33% - 32px);
			max-width: 100%;
			text-align: center;
			position: relative;
			@include media-breakpoint-down(md) {
				width: calc(50% - 32px);
			}
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
			.field--name-field-card-link a {
				position: absolute;
				z-index: 2;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 0;
			}
			.text-elements {
				display: inline-block;
				align-self: flex-end;
				padding: 0 20px;
				> .field--name-field-title {
					@include typography-h3;
					
					padding: 0;
					margin-top: 15px;
					display: inline;
					--line-color: black;
					background-image: linear-gradient(
						to right,
						var(--line-color) 0%,
						var(--line-color) 100%
					);
					background-position: 0px 95%;
					background-size: 0px 2px;
					transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
						0s;
					padding: 0.1% 0px;
					background-repeat: no-repeat;
				}
			}
    }
		.field--name-field-media-image,
		.field--name-field-ff-image {
			min-height: 274px;
			min-width: 274px;
			height: 100%;
			width: 100%;
    	margin: 15px auto 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
  }
	.field--name-field__facts-and-figures-card > .field__item > .paragraph--type--facts-and-figures-card {
		&:hover {
			.field--name-field-title {
				background-size: 100% 2px;
			}
		}
	}
}
