@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.event {
  &__map {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;

    iframe {
      display: block;
      height: 175px;
      margin-block: 25px;
      transition: height 300ms ease;


      @include media-breakpoint-up(md) {
        height: 360px;
      }

      @include media-breakpoint-up(lg) {
        height: 482px;
      }

      &.map-hide {
        height: 0;
        margin: 0;
        transition: height 300ms ease;
      }
    }
  }

  &__map-link {
    @include typography-body-sb;

    margin-left: auto;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $blue-100;
    }
  }
}
