@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.theme_card {
  &__content {
    display: flex;
    background-color: $frost-blue;
    a{
      .theme_card__image{
        img{
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    color: $darkish-gray;

    &:hover,
    &:focus {
      .theme_card__title {
        span {
          background-size: 100% 2px;
        }
      }

      .theme_card__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    img {
      max-width: 100%;
      margin-bottom: 0;
      object-fit: cover;
      object-position: center;
      transition: 0.3s;
      aspect-ratio: 4 / 3;
    }
  }

  &__title-wrapper {
    padding: 10px $gutter;
  }

  &__title {
    @include typography-h4;

    display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: $darkish-gray;

    span {
      text-decoration: none;
      background-image: linear-gradient(to right,
        $text-gray 0%,
        $text-gray 100%);
      background-position: 0px 95%;
      background-size: 0px 2px;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      padding: 0.1% 0px;
      background-repeat: no-repeat;
    }
  }
}
.paragraph--type--paragraph-themes{
  padding: 40px $gutter;
  .row{
    gap: 32px 0;
  }
}
