.page-node-type-multimedia {
  .field--name-field-image {
    img {
      height: auto;
      width: 100%;
    }
  }
  .region-content {
    a {
      color: $blue;
    }
  }
  .field--name-body {
    font-size: rem-calc(18);
  }
  .field--name-field-caption {
    font-size: rem-calc(15);
  }
  .paragraph--type--timelines {
    .field--name-field-timeline-item {
      .group-timeline-event-body {
        .field--name-field-description {
          p {
            font-size: rem-calc(18);
          }
        }
      }
    }
  }
  .paragraph--type--image-with-caption {
    .field--name-field-body {
      li,
      p {
        font-size: rem-calc(18);
      }
    }
  }
  .node-date-element {
    font-size: rem-calc(18);
  }
}

.page-node-type-complex-page {
  .page-title {
    text-align: left!important;
    font-family: $font-bitter;
    font-size: rem-calc(33);
    font-weight: 400;
    color: $makara;
    line-height: 1.3;
    margin: 0 0 rem-calc(12) 0;
  }

  article.node {
    font-size: rem-calc(19.6);
  }
}
