.page-node-type-publication {
  .group-left {
    .top-container {
      .img-body{
        background: transparent;
        display: block;
        float: right;
        margin: 0 0 0 rem-calc(16);
        padding: 0;
        position: relative;
        .field--name-field-image {
          img {
            height: 302px;
            width: 234px;
          }
        }
      }
    }
    .field {
      margin: 0 0 rem-calc(12) 0;
    }
    a {
      color: $blue;
    }

    .field--name-field-media-image.field--type-entity-reference {
      display: block;
      float: right;
      padding: 0;
      margin: 0 0 0 1em;
      background: transparent;
      position: relative;
    }

    .doc-description {
      .clearfix::after {
        content: none;
      }
    }
  }
}

.ds-1col {
  .top-container {
    .img-body {
      background: transparent;
      display: block;
      float: right;
      margin: 0 0 0 rem-calc(16);
      padding: 0;
      position: relative;
      .field--name-field-image {
        img {
          width: 234px;
          height: 302px;
        }
      }
    }
  }
  .field {
    margin: 0 0 rem-calc(12) 0;
  }
  a {
    color: $blue;
  }
}
