.node--type-resource {
  .field--name-field-media-image {
    float: right;
    margin-left: rem-calc(15);

    .field--name-field-image {
      margin: rem-calc(0 0 8);
    }
  }

  .field {
    margin-bottom: rem-calc(12);
  }
}

.doc-description {
  img {
    border: 1px solid $black;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    width: auto;

    display: block;
    float: right;
    padding: 0;
    margin: 0 0 0 1em;
    background: transparent;
    position: relative;
  }

  .field--name-body,
  .field--name-field-attachments {
    &::after,
    &::before {
      content: none;
    }
  }

  a {
    color: $blue;
  }

  .field--type-entity-reference {
    .field__label,
    .field__items {
      display: inline;
      float: none;
      padding-right: 0;
    }

    .field__items {
      .field__item {
        &:last-of-type {
          a::after {
            content: none;
          }
        }

        a {
          &::after {
            content: ";";
          }
        }
      }
    }

    .field__item {
      display: inline-block;
    }
  }

  .field--name-field-story-publication-date {
    .field__label {
      padding-right: rem-calc(4);
    }
  }

  h2 {
    color: #5E5A55;
    font-family: $font-bitter;
    font-size: rem-calc(25);
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 rem-calc(12) 0;
  }
}

.field__label {
  padding-right: rem-calc(4);
}


