.paragraph--type--data-snapshot {
  margin-bottom: 40px;
}
@media (max-width: 1179.98px) {
  .paragraph--type--data-snapshot {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .paragraph--type--data-snapshot {
    margin-bottom: 40px;
  }
}
.paragraph--type--data-snapshot.single-item .data-snapshot {
  padding-block: 44px;
}
@media (max-width: 767.98px) {
  .paragraph--type--data-snapshot.single-item .data-snapshot {
    padding-block: 80px;
  }
}
.paragraph--type--data-snapshot.single-item .data-snapshot__description p:last-child {
  margin-bottom: 0;
}
.paragraph--type--data-snapshot.multiple-items .data-snapshot {
  padding-top: 44px;
  padding-bottom: 44px;
}

.data-snapshot {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .data-snapshot {
    flex-direction: column;
    align-items: center;
  }
}
.data-snapshot__wrapper.small-size {
  max-width: 940px;
}
.data-snapshot__wrapper.medium .data-snapshot div:first-of-type:is(div.data-snapshot__content) {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  margin: 0 auto;
}
.data-snapshot__wrapper.medium .data-snapshot div:first-of-type:is(div.data-snapshot__content) .data-snapshot__description {
  max-width: unset;
}
.data-snapshot__wrapper.large .data-snapshot div:first-of-type:is(div.data-snapshot__content) .data-snapshot__description {
  max-width: unset;
}
.data-snapshot.image-right, .data-snapshot.icon-right {
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .data-snapshot.image-right, .data-snapshot.icon-right {
    flex-direction: column;
  }
}
.data-snapshot__description {
  max-width: 658px;
}
@media (max-width: 1179.98px) {
  .data-snapshot__description {
    max-width: 438px;
  }
}
@media (max-width: 767.98px) {
  .data-snapshot__description {
    max-width: 100%;
  }
}
.data-snapshot__icon, .data-snapshot__image {
  flex-shrink: 0;
}
.data-snapshot__icon img, .data-snapshot__image img {
  width: 100%;
}
.data-snapshot__icon {
  display: flex;
  max-width: 200px;
  max-height: 200px;
}
@media (max-width: 767.98px) {
  .data-snapshot__icon {
    max-width: 160px;
  }
}
.data-snapshot__icon svg {
  max-width: 100%;
  height: 100%;
}
.data-snapshot__icon svg #dark,
.data-snapshot__icon svg #Dark {
  fill: var(--icon-fill);
}
.data-snapshot__icon svg #dark path,
.data-snapshot__icon svg #Dark path {
  fill: var(--icon-fill);
}
.data-snapshot__icon svg #light path,
.data-snapshot__icon svg #Light path {
  fill: var(--icon-fill);
  opacity: 0.25;
}
.data-snapshot__icon svg #white path {
  fill: #fff;
}
.data-snapshot__icon article {
  height: 100%;
}
.data-snapshot__icon article .field__item {
  height: 100%;
}
.data-snapshot__image {
  max-width: 328px;
}
@media (max-width: 1179.98px) {
  .data-snapshot__image {
    max-width: 33%;
  }
}
@media (max-width: 767.98px) {
  .data-snapshot__image {
    max-width: 100%;
  }
}
.data-snapshot__cta {
  margin-top: 24px;
}
.data-snapshot__cta .btn {
  text-transform: unset;
}