.paragraph--type--three-cards,
.paragraph--type---three-cards-manually {
  padding: 0 0 35px;

  .cardHighlights-header {
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &.mobile {
      margin-top: 20px;
      margin-bottom: 20px;
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  h3 {
    @include typography-h4;
  }
}

.paragraph--section--three-cards + .paragraph--section--cta-carousel {
  margin-top: 50px;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.paragraph-three-cards-image img {
  height: 229px!important;
}
