@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.thematic-news-letter-sign-up-block {
  @include typography-h4-b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  text-align: center;
  color: $text-gray;
  background-color: $frost-blue;

  @include media-breakpoint-up(md) {
    padding-block: 60px;
  }

  @include media-breakpoint-up(lg) {
    padding-block: 110px;
  }

  a {
    @include btn;
    @include btn-primary;

    margin-top: 30px;
  }
}
