/* Header */
header .navbar-collapse .region-nav-main .navbar-nav > li,
header .navbar-collapse .region-nav-main .navbar-nav > li > a:hover,
header .navbar-collapse .region-nav-main .navbar-nav > li > span:hover {
  background: #f15d22;
}

.navbar .navigation ul.navbar-nav > .nav-item .dropdown-menu a,
.navbar .navigation ul.navbar-nav > .nav-item .dropdown-menu span,
.navbar .navigation ul.navbar-nav > .nav-item ul a,
.navbar .navigation ul.navbar-nav > .nav-item ul span {
  color: #f15d22;
}

.navbar .navigation ul.navbar-nav > .nav-item .dropdown-menu li.active::before,
.navbar .navigation ul.navbar-nav > .nav-item .dropdown-menu li:hover::before,
.navbar .navigation ul.navbar-nav > .nav-item ul li.active::before,
.navbar .navigation ul.navbar-nav > .nav-item ul li:hover::before {
  border-left: 3px solid #ec9978;
}

.navbar .navigation ul.navbar-nav .dropdown .dropdown-toggle::after {
  border-left: 0.3em solid #ec9978;
}

html[dir="rtl"] .navbar .navigation ul.navbar-nav .dropdown .dropdown-toggle::after {
  border-right: 0.3em solid #ec9978;
}

/* Icons */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #ee561c;
}

/* Slider */
.slider-content::before {
  background-color: #ffffff;
}

.featured-slide-text {
  background: #ffffff;
}

.slick-dots li button {
  background-color: #797979;
}

.slick-dots li.slick-active button {
  background-color: #222222;
}

/* Highlights */
.paragraph--type--highlights a,
.paragraph--type--highlight-item a,
.paragraph--type--listing-reference .views-row a:hover,
.paragraph--type--listing-reference .more-link a,
.paragraph--type--featured-video .field--name-field-title,
.paragraph--type--featured-video .field--name-field-link a,
.paragraph--type--generic-module-migrate .more,
.paragraph--type--generic-module-migrate a,
.main-navigation-section .parent-node,
.path-frontpage .node .field--type-text-long a,
.paragraph--type--generic-module-migrate .field--type-text-long a {
  color: #0397d6;
}

/* Footer */
footer .menu--social-media  ul.menu,
footer .menu--social-media ul.menu li,
.main-navigation-section h5,
body .header-top {
  background: #e5e3dc;
}
