.courses-tab__wrapper {
  position: relative;
  margin-block: 40px;
}
@media (min-width: 768px) {
  .courses-tab__wrapper {
    margin-top: 45px;
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .courses-tab__item {
    position: static;
    flex: 0 0 23%;
    max-width: 23%;
    padding-left: 0;
  }
}
@media (min-width: 1180px) {
  .courses-tab__item {
    flex: 0 0 24%;
    max-width: 24%;
  }
}
.courses-tab__content {
  background-color: #fff;
}
@media (min-width: 768px) {
  .courses-tab__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 250px;
    margin-top: 28px;
    padding-top: 32px;
    border-top: 2px solid #E9EBED;
    z-index: 1;
  }
}
.courses-tab__btn {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
  color: #181818;
  text-transform: unset;
  text-align: right;
  background: none;
  border: 0;
  border-top: 1px solid #e2186f;
  border-radius: 0;
  z-index: 2;
  outline: 0 !important;
}
@media (max-width: 1179.98px) {
  .courses-tab__btn {
    font-size: 14px;
  }
}
.courses-tab__btn:hover, .courses-tab__btn:focus {
  color: #fff;
}
@media (max-width: 1179.98px) {
  .courses-tab__btn {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .courses-tab__btn {
    padding: 0;
    justify-content: flex-start;
    color: #0397d6;
    border: 0;
    border-bottom: 2px solid #0397d6;
  }
}
.courses-tab__btn .icon-arrow-left {
  transform: rotate(-90deg);
}
.courses-tab__btn:hover, .courses-tab__btn:focus {
  color: #0397d6;
}
.courses-tab__btn.collapsed {
  color: #181818;
}
@media (min-width: 768px) {
  .courses-tab__btn.collapsed {
    color: #68737D;
    border: 0;
    border-bottom: 2px solid transparent;
  }
}
.courses-tab__btn.collapsed .icon-arrow-left::before {
  transform: rotate(-180deg);
  transition: all 0.2s 0.2s;
}
.courses-tab__btn.collapsed:hover, .courses-tab__btn.collapsed:focus {
  color: #0397d6;
}
@media (min-width: 768px) {
  .courses-tab__btn .icon-arrow-left {
    display: none;
  }
}