<div class="menu-local-tasks--bg">
  <div class="menu-local-tasks--container container">
    {% if primary %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <div class="btn-group" role="group" aria-label="Primary tabs">{{ primary }}</div>
    {% endif %}

    {% if secondary %}
      <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
      <div class="btn-group" role="group" aria-label="Primary tabs">{{ secondary }}</div>
    {% endif %}
  </div>
</div>
