@import "../../../custom";

.paragraph--type--menu-hq-pages {
  background: #EDF4FC;
  max-height: 76px;
  height: 100%;

  li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dropdown-menu {
    border-radius: none;
    width: 100%;
    padding-top: 0;
    margin-top: 6px;

    ul {
      padding: 0;
    }
  }

  .field--name-field-anchor- {
    display: flex;
    padding: 10px 0 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .paragraph--type--anchor-elements {
    color: #000000;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 27px;

    a {
      padding: 0 28px;
      color: #000000;

      &:hover {
        color: $blue;
      }
    }

    a:first-of-type {
      padding-left: 0;
    }
  }

  .wrapp-menu {
    display: flex;
    justify-content: space-between;
    max-width: $max-width-xl;
    min-height: 76px;
    margin: auto;
    width: 100%;
    padding: 15px $gutter 0;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  button {
    background: transparent;
    border: none;
    display: flex;

    &:focus {
      outline: none;
    }
  }

  .dropdown-toggle:not(i)::after {
    display: none;
  }

  a.is-active {
    color: $blue !important;
  }

  i.dropdown-toggle::after {
    display: none;
  }

  i.dropdown-toggle {
    cursor: pointer;

    &::before {
      border: none;
      transform: rotate(-90deg);
      transition: all .12s ease-in;
      float: right;
      margin: 9px $gutter 0 0;
      display: block;
      font-size: 14px;
      font-weight: normal;
    }
  }

  ul.navbar-nav {
    position: relative;

    >li>.dropdown-fixed-backgound {
      position: absolute;
      z-index: 99;
      right: 0;

      @include media-breakpoint-down(md) {
        left: 0;
        right: auto;
      }
    }

    >.nav-item.dropdown>.dropdown-toggle-wrapper>a.nav-item:not(.active)+i,
    >.nav-item.dropdown>.dropdown-toggle-wrapper>a.nav-item:not(.active)+ul,
    >.nav-item.dropdown>.dropdown-toggle-wrapper>a.nav-item:not(.active),
    >.nav-item>a.nav-item {
      display: none;
    }

    .nav-item.dropdown>.dropdown-toggle-wrapper>a.active {
      display: block;
    }

    >li.nav-item {
      a {
        @include typography-label-sb;

        padding: 12px 0 12px $gutter;
        color: #000000;

        &:hover {
          color: $blue;
        }
      }

      >.dropdown-toggle-wrapper>span,
      >.dropdown-toggle-wrapper>a {
        min-width: 250px;
        font-weight: 600;
        border: 2px solid $blue-100;
        box-sizing: border-box;
        border-radius: 6px;
        padding-left: $gutter;
        cursor: default;
      }

      >.dropdown-toggle-wrapper.open {

        span,
        >a {
          background: $blue-100;
          transition: background-color 0.5s ease;
          transition: all -0.12s ease-out;
          color: white;
        }

        span+i.dropdown-toggle::before,
        >a+i.dropdown-toggle::before {
          transform: rotate(90deg);
          transition: all -0.12s ease-out;
          color: white;
        }
      }

      .dropdown-toggle-wrapper {
        .dropdown-menu {
          border: 1px solid $blue-100;
          box-sizing: border-box;
          border-radius: 6px;
          padding: 0;
          z-index: 1;

          >li>.dropdown-toggle-wrapper>.dropdown-menu {
            border: none !important;
            border-radius: 0;
            background: #EDF4FC;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            >li>.dropdown-toggle-wrapper>.dropdown-menu {
              border: none !important;
              border-radius: 0;
              background: #F2F2F2;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

              >li>.dropdown-toggle-wrapper>.dropdown-menu {
                border: none !important;
                border-radius: 0;
                background: white;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
              }
            }
          }
        }
      }
    }
  }

  ul.dropdown-menu.show {
    position: relative !important;
    transform: none !important;
    top: auto;
    left: auto;
    will-change: initial !important;
  }

  >.dropdown-toggle-wrapper {
    .open {
      transition: all .12s ease-out;
    }
  }

  .dropdown-toggle-wrapper {
    position: relative;
    z-index: 1;

    i {
      // width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 46px;
      padding-top: 8px;
    }

    .open {
      transition: all .12s ease-out;

      >i.dropdown-toggle::before {
        transform: rotate(90deg);
        transition: all .12s ease-out;
      }
    }
  }

  .select2-container--default .select2-results>.select2-results__options {
    padding: $gutter;
    border: 1px solid $blue-100;
    border-radius: 6px;
    margin-top: 6px;
  }
}

//fix menu
.page-node-type-hq-complex-page {
  .region-content>.block-breadcrumbs {
    display: none;
  }

  .breadcrumbs-nav {
    padding-top: 65px;
  }

  .fixed {
    position: fixed;
    width: 100%;
    z-index: 11;
    top: 0;
  }
}

.toolbar-horizontal {
  .fixed {
    top: 79px;
  }
}
