@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../mixins";

.top-header__wrapper {
  nav {
    &[aria-labelledby="block-universalmenuright-menu"] {
      @include media-breakpoint-up(lg) {
        margin-left: auto;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }

    &>.navbar-nav {
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        flex-wrap: wrap;
        gap: 0;
      }

      &>.nav-item {
        @include media-breakpoint-down(md) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-block: 10px;

        }

        &>.nav-link {
          @include media-breakpoint-down(md) {
            line-height: 32px !important;
          }
        }
      }
    }
  }

  .block-lang-dropdown {
    .select2 .select2-selection--single {
      display: flex;
      justify-content: center;
      align-items: center;
      width: unset;
      height: unset;
      padding: 0 0 0 20px;
      background: none;
      border: none;
      border-radius: 0 !important;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3332 10.5C18.3332 15.1023 14.6022 18.8333 9.99984 18.8333M18.3332 10.5C18.3332 5.89759 14.6022 2.16663 9.99984 2.16663M18.3332 10.5H1.6665M9.99984 18.8333C5.39746 18.8333 1.6665 15.1023 1.6665 10.5M9.99984 18.8333C12.0842 16.5513 13.2688 13.5899 13.3332 10.5C13.2688 7.40999 12.0842 4.44859 9.99984 2.16663M9.99984 18.8333C7.91544 16.5513 6.73088 13.5899 6.6665 10.5C6.73088 7.40999 7.91544 4.44859 9.99984 2.16663M1.6665 10.5C1.6665 5.89759 5.39746 2.16663 9.99984 2.16663' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
      }

      &:hover,
      &:focus-within {
        &::before {
          background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3332 10.5C18.3332 15.1023 14.6022 18.8333 9.99984 18.8333M18.3332 10.5C18.3332 5.89759 14.6022 2.16663 9.99984 2.16663M18.3332 10.5H1.6665M9.99984 18.8333C5.39746 18.8333 1.6665 15.1023 1.6665 10.5M9.99984 18.8333C12.0842 16.5513 13.2688 13.5899 13.3332 10.5C13.2688 7.40999 12.0842 4.44859 9.99984 2.16663M9.99984 18.8333C7.91544 16.5513 6.73088 13.5899 6.6665 10.5C6.73088 7.40999 7.91544 4.44859 9.99984 2.16663M1.6665 10.5C1.6665 5.89759 5.39746 2.16663 9.99984 2.16663' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .select2-selection__rendered,
        .select2-selection__placeholder {
          color: $blue;
        }

        .select2-selection__arrow {
          &::after {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
        }
      }

      .select2-selection__arrow {
        position: relative;
        top: auto !important;
        right: auto !important;
        height: unset;

        &::after {
          content: '';
          width: 18px;
          height: 18px;
          border: 0;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          transform: none;

          @include media-breakpoint-down(md) {
            width: 28px;
            height: 28px;
            background-size: 28px;
          }
        }
      }

      .select2-selection__rendered,
      .select2-selection__placeholder {
        @include typography-label-sb;

        padding: 0 4px 0 8px;
        color: $brown;
        text-transform: capitalize;
      }
    }

    .select2.select2-container--open {
      .select2-selection__arrow {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .form-item-lang-dropdown-select {
      position: relative;
      display: flex;
      align-items: center;
      min-width: 98px;

      select {
        opacity: 0;
        width: 1px !important;
      }
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;

    .nav-item {
      &.count-1 {
        @include media-breakpoint-up(lg) {
          margin-left: auto;
        }
      }

      &.right {
        &:last-of-type {
          @include media-breakpoint-up(lg) {
            margin-right: 12px;
            padding-right: 12px;
            border-right: 1px solid $blue;
          }
        }
      }
    }
  }

  .nav-item {
    a {
      @include typography-label-m;
      display: block;
      color: $brown;
      
      &:first-letter {
        text-transform: capitalize;
      }

      &:hover,
      &:focus {
        color: $blue;
      }
    }

    &.active {
      a {
        color: $blue !important;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    &.show {
      .dropdown-toggle {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .nav-link {
    padding: 0;
    margin: 0;

    &.dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(md) {
        justify-content: space-between;
      }

      &::after {
        width: 18px;
        height: 18px;
        border: 0;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include media-breakpoint-down(md) {
          width: 28px;
          height: 28px;
          background-size: 28px;
        }
      }

      &:hover,
      &:focus {
        &::after {
          background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .dropdown-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 8px;
    gap: 8px;
    border: $border-light-gray;
    border-radius: 4px;
    background: $white;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
      0px 20px 24px -4px rgba(16, 24, 40, 0.1);
    width: fit-content;

    &.show {
      display: flex;
      flex: 0 0 100%;
      width: fit-content;
      max-width: unset;
    }

    .navbar-nav {
      width: 100%;
      flex-direction: column;
      gap: 8px;

      @include media-breakpoint-up(lg) {
        white-space: nowrap;
      }
    }

    .nav-item {
      a {
        @include typography-label-sb;

        display: block;
        padding: 4px 8px;
        border-radius: 2px;

        @include media-breakpoint-down(md) {
          color: $text-gray;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $frost-blue;
        }
      }
    }
  }
}

.select2-container--default {
  .select2-results {
    #select2-edit-lang-dropdown-select-results {
      display: flex;
      min-height: unset !important;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 8px;
      gap: 8px;
      border: $border-light-gray;
      border-radius: 4px;
      background: $white;
      box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04), 0px 20px 24px -4px rgba(16, 24, 40, 0.10);

      .select2-results__option {
        @include typography-label-sb;

        margin: 0 !important;
        padding: 4px 8px !important;
        border-radius: 2px;
        color: $brown !important;
        width: 100%;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $blue !important;
          background-color: $frost-blue !important;
        }

        &::before {
          display: none;
        }

        &[aria-disabled="true"] {
          color: $gray-500 !important;

          &:hover,
          &:focus {
            text-decoration: none;
            color: $gray-500 !important;
            background: none !important;
          }
        }
      }

      .select2-results__option--highlighted {
        text-decoration: none;
        color: $blue !important;
        background-color: $frost-blue !important;
      }
    }
  }
}

.open-navbar,
.hq-hamburger__content {
  .top-header__wrapper {
    .block-lang-dropdown {
      margin-inline: calc((-100vw + 100%) / 2);
      padding: 32px 15px;
      background: $white;

      .lang-dropdown-form {
        margin: 0;
        padding: 0;
        border: 0;
      }

      .select2 {
        .select2-selection--single {
          justify-content: space-between;

          .select2-selection__arrow {
            margin-right: 6px;
            @include media-breakpoint-down(md) {
              width: 26px;
            }
          }
        }
      }
    }
  }
}


.open-navbar {
  .top-header__wrapper {
    .block-lang-dropdown {
      margin-block: 0;
      margin-inline: -$gutter;
    }   

    .block-lang-dropdown {
      order: 2;
    }

    .block-lang-dropdown {
      .select2 {
        .select2-selection--single {
          .select2-selection__arrow {
            display: flex;
            align-items: center;
            height: 20px;
            margin: 0;
          }
        }
      }
    }
  }

  .top-header__content {
    nav {
      order: 1;
    }
  }
}
