.block-topic-hierarchical {
  position: relative;
  padding: 0;
}
.block-topic-hierarchical__body {
  position: absolute;
  max-height: 50vh;
  overflow: auto;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  z-index: 11;
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}
.block-topic-hierarchical__body.without-active ul ul {
  display: none;
}
.block-topic-hierarchical__body.with-active ul ul ul {
  display: none;
}
.block-topic-hierarchical__body.with-active ul ul ul.li-active__tree-element {
  display: block;
}
.block-topic-hierarchical__body.with-active ul > li > ul > li.li-active__tree-element span, .block-topic-hierarchical__body.with-active ul > li > ul > li.active span {
  display: none;
}
.block-topic-hierarchical__body ul {
  padding: 20px 24px 4px 24px;
}
.block-topic-hierarchical__body ul.li-active__tree-element {
  display: block;
}
.block-topic-hierarchical__body ul li {
  list-style-type: none;
}
.block-topic-hierarchical__body ul li.active > a {
  color: #0397d6;
}
.block-topic-hierarchical__body ul li a {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .block-topic-hierarchical__body ul li a {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-topic-hierarchical__body ul li a:hover, .block-topic-hierarchical__body ul li a:focus {
  color: #0397d6;
}
.block-topic-hierarchical__body ul li.li-active__tree-element {
  display: block;
}
.block-topic-hierarchical__body ul li li {
  position: relative;
  line-height: 2em;
}
.block-topic-hierarchical__body ul li ul {
  position: relative;
  margin: 0 11px 0 0;
  padding: 0;
  list-style: none;
}
.block-topic-hierarchical__body ul li ul:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 2px solid #333333;
}
.block-topic-hierarchical__body ul li ul li {
  padding-right: 25px;
}
.block-topic-hierarchical__body ul li ul li:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 14px;
  height: 1px;
  border-top: 2px solid #333333;
}
.block-topic-hierarchical__body ul li ul li:last-child:after {
  background-color: #fff;
  height: auto;
  top: 15px;
  bottom: 0;
}
.block-topic-hierarchical__body ul li ul li::before {
  content: "";
  position: absolute;
}
.block-topic-hierarchical__body ul li ul li:last-child:before {
  width: 16px;
  height: calc(100% - 10px);
  top: 16px;
  right: -12px;
  background-color: #fff;
}
.block-topic-hierarchical__body ul li ul li a::before {
  content: "";
  position: absolute;
  top: 13.4px;
  right: 10px;
  height: 5px;
  width: 5px;
  background: center/contain no-repeat url("/themes/custom/hq/img/circle-fill.svg");
  z-index: 1;
}
.block-topic-hierarchical__body .accordion-icon {
  position: relative;
  padding-left: 28px;
}
.block-topic-hierarchical__body .accordion-icon.plus::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  margin-top: 6px;
  background: center/contain no-repeat url("/themes/custom/hq/img/plus.svg");
}
.block-topic-hierarchical__body .accordion-icon.minus::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  margin-top: 6px;
  background: center/contain no-repeat url("/themes/custom/hq/img/minus.svg");
}
.block-topic-hierarchical__header {
  position: relative;
  padding: 12px 10px;
  margin-bottom: 12px;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: #e2186f;
}
.block-topic-hierarchical__header a {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  display: block;
  width: 90%;
  color: #000;
}
@media (max-width: 1179.98px) {
  .block-topic-hierarchical__header a {
    font-size: 18px;
    line-height: 28px;
  }
}
.block-topic-hierarchical__header a:focus {
  color: #0397d6;
}
.block-topic-hierarchical__header a::after {
  content: "";
  position: absolute;
  top: 50%;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-50%);
  left: 20px;
  width: 16px;
  height: 10px;
  background: url("/themes/custom/hq/img/caret-down.svg") no-repeat center;
}
@media (max-width: 767.98px) {
  .block-topic-hierarchical__header a::after {
    left: 10px;
  }
}
.block-topic-hierarchical__header a[aria-expanded=true]::after {
  transform: translateY(-50%) rotate(-180deg);
}