.image-carousel__wrapper {
  background-color: #EDF4FC;
  padding-block: 32px;
}
@media (min-width: 1180px) {
  .image-carousel__wrapper {
    padding-block: 100px;
    cursor: pointer;
  }
}
.image-carousel__wrapper .carouselNav-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
@media (min-width: 1180px) {
  .image-carousel__wrapper .carouselNav-wrapper {
    display: none;
  }
}
.image-carousel__content .paragraph--type--photo-slider-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.image-carousel__content .paragraph-left {
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1180px) {
  .image-carousel__content .paragraph-left {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.image-carousel__content .paragraph-right {
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1180px) {
  .image-carousel__content .paragraph-right {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    margin-right: 8.33333333%;
    overflow: hidden;
  }
}
.image-carousel__content .field--name-field-image {
  margin-bottom: 20px;
}
@media (min-width: 1180px) {
  .image-carousel__content .field--name-field-image {
    margin-bottom: 0;
  }
}
.image-carousel__content .field--name-field-image img {
  width: 100%;
  max-height: 100%;
}
.image-carousel__content .field--name-field-caption-image {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 5px;
  color: #181818;
}
.image-carousel__content .field--name-field-title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  margin-block: 20px;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .image-carousel__content .field--name-field-title {
    font-size: 32px;
  }
}
@media (min-width: 1180px) {
  .image-carousel__content .field--name-field-title {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.image-carousel__content .field--name-field-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .image-carousel__content .field--name-field-description {
    font-size: 16px;
    line-height: 24px;
  }
}
.image-carousel__content .field--name-field-description p:last-child {
  margin-bottom: 0;
}

.paragraph-list > section:first-child.paragraph--section--photo-slider {
  margin-top: -40px;
}