@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

// contact component css
.contact {
  &__block {
    &--item {
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr;
      padding: 0 $gutter;
      .row{
        align-items: center;
        @include media-breakpoint-down(sm) {
          align-items: start;
        }
        .contact__image {
          padding: 0;
      
          img {
            border-radius: 50%;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__person {
    @include typography-bodyl-b;

    color: $text-gray;
  }

  &__email {
    @include typography-body-sb;

    color: $blue;
    margin-left: 5px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: start;
      }
    }

    &--statictext {
      @include typography-body;
      
      color: $text-gray;
    }
  }

  &__clicktext{
    @include typography-body-sb;

    color: $blue;
    cursor: pointer;
    margin-left: 5px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
