@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.featured-card {
  display: flex;
  align-items: center;
  min-height: 634px;
  margin-bottom: 40px;
  background: $frost-blue;

  &__wrapper {
    padding: 112px 0;
    gap: 80px;

    @include media-breakpoint-down(md) {
      gap: 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }

    &:hover,
    &:focus {
      .featured-card__title {
        a {
          span {
            background-size: 100% 2px;
          }
        }
      }

      .featured-card__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    a {
      @include typography-h2;
      
      color: $text-gray;

      span {
        text-decoration: none;
        background-image: linear-gradient(to right,
            $text-gray 0%,
            $text-gray 100%);
        background-position: 0px 95%;
        background-size: 0px 2px;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
        padding: 0.1% 0px;
        background-repeat: no-repeat;
      }

      &:hover,
      &:focus {
        span {
          background-size: 100% 2px;
        }
      }
    }
  }

  &__date {
    @include typography-h6-b;

    color: $blue-100;
  }

  &__body {
    @include typography-body;

    color: $black;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    a {
      display: flex;
      align-items: center;
    }

    .field--name-field-download-files {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .field__item {
      .paragraph--type--download-in {
        a {
          @include btn;
          @include btn-outline-primary;
          
          position: relative;
          padding-left: 45px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 22px;
            width: 18px;
            height: 18px;
            background: url('/themes/custom/hq/img/download.svg') no-repeat center;
          }

          &:hover,
          &:focus {
            &::before {
              background: url('/themes/custom/hq/img/download-white.svg') no-repeat center;
            }
          }
        }
      }
    }
  }

  &__image {
    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      transition: 0.3s;
    }

    a {
      position: relative;
      display: block;
      overflow: hidden;
      text-align: end;
    }

    .drupal-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .field__item {
      iframe {
        height: auto !important;
        aspect-ratio: 16/9;
      }
    }
  }
}
