.region-sub-navbar__wrapper {
  border-top: 1px solid #D0D6DA;
}
@media (max-width: 1179.98px) {
  .region-sub-navbar__wrapper .thematic-menu {
    display: none;
  }
}

.thematic-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 11px 0;
}
@media (max-width: 1179.98px) {
  .thematic-menu {
    justify-content: flex-start;
  }
}
.thematic-menu__items {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 1179.98px) {
  .thematic-menu__items {
    flex: 0 0 100%;
  }
}
.thematic-menu__items.menu-level-1 .nav-item:not(:last-child) {
  margin-right: 32px;
}
.thematic-menu__items.menu-level-1 .nav-item:first-child {
  margin-right: 0;
}
.thematic-menu__items.menu-level-1 .nav-item:first-child a {
  color: #0397d6;
}
@media (min-width: 1180px) {
  .thematic-menu__items.menu-level-1 .nav-item:first-child a {
    margin-right: 32px;
    padding-right: 32px;
    border-right: 1px solid #0397d6;
  }
}
.thematic-menu__items.menu-level-1 .nav-item:first-child a:hover, .thematic-menu__items.menu-level-1 .nav-item:first-child a:focus {
  color: #202056;
}
.thematic-menu__item.expanded {
  display: flex;
  align-items: center;
}
@media (max-width: 1179.98px) {
  .thematic-menu__item.expanded {
    align-items: normal;
    flex-direction: column;
    margin-bottom: 25px;
  }
}
@media (min-width: 1180px) {
  .thematic-menu__item.expanded > a {
    display: none;
  }
}
@media (min-width: 1180px) {
  .thematic-menu__item.expanded > a:hover, .thematic-menu__item.expanded > a:focus {
    text-decoration: underline;
  }
}
.thematic-menu__item.dropdown > a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .thematic-menu__item.dropdown > a {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1179.98px) {
  .thematic-menu__item.dropdown > a {
    justify-content: space-between;
    align-items: center;
  }
}
.thematic-menu__item.dropdown > a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%234B4B4B' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  border: 0;
}
@media (max-width: 1179.98px) {
  .thematic-menu__item.dropdown > a::after {
    width: 32px;
    height: 32px;
    background-size: 32px;
  }
}
.thematic-menu__item.dropdown > a:hover::after, .thematic-menu__item.dropdown > a:focus::after {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='baseIcons'%3E%3Cpath id='Icon' d='M5 8L10 13L15 8' stroke='%230397d6' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.thematic-menu__item.dropdown.show > a::after {
  transform: rotate(180deg);
}
.thematic-menu__item .dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.thematic-menu a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  display: block;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .thematic-menu a {
    font-size: 16px;
    line-height: 24px;
  }
}
.thematic-menu a:first-letter {
  text-transform: capitalize;
}
@media (max-width: 1179.98px) {
  .thematic-menu a {
    color: #181818;
  }
}
.thematic-menu a:hover, .thematic-menu a:focus {
  color: #0397d6;
  text-decoration: none;
}