.top-header__wrapper {
  background-color: #EDF4FC;
}
@media (max-width: 1179.98px) {
  .region-top-bar .top-header__wrapper {
    opacity: 0;
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
@media (max-width: 1179.98px) {
  .top-header__wrapper {
    margin-inline: calc((-100vw + 100%) / 2);
    margin-block: 32px;
    padding-top: 20px;
    background-color: #EDF4FC;
  }
}
@media (max-width: 1179.98px) {
  .top-header__wrapper .container {
    display: block;
  }
}
.top-header__content {
  display: flex;
  padding-block: 12px;
}
@media (min-width: 1180px) {
  .top-header__content {
    justify-content: space-between;
  }
}
@media (max-width: 1179.98px) {
  .top-header__content {
    flex-direction: column;
    padding: 0;
  }
}
.top-header__content nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media (max-width: 1179.98px) {
  .top-header__content nav {
    flex-wrap: wrap;
  }
}