.node--type-call-for-proposals {
  .cfp-documents h2,
  .cfp-contact-information h2 {
    color: #5E5A55;
    font-family: $font-bitter;
    font-size: rem-calc(25);
    font-weight: $roboto-regular;
    line-height: 1.5;
    margin: rem-calc(0 0 12 0);
  }

  .cfp-documents {
    .field--name-field-attachments ul {
      margin-left: rem-calc(20);
      padding: 0;
    }
  }

  .cfp-contact-information {
    ul {
      padding: 0;
      list-style-type: none;
      margin-left: auto;

      li strong {
        font-weight:400;
      }
    }
  }
}
