body {
  color: $grey-dark;
  font-family: $font-roboto;
  position: relative;

  .dialog-off-canvas-main-canvas {
    > header,
    > main,
    > footer {
      margin: 0 auto;
      // max-width: 310px;
      padding: rem-calc(5) rem-calc(16);
      //max-width: 500px;
      //max-width: Max(500px, 100% - 10px);
      width: 100%;

      @include media-breakpoint-up(sm) {
        padding: 0 rem-calc(30);
      }

      @include media-breakpoint-up(lg) {
        max-width: 960px;
        padding: 0;
      }
    }
  }

  main > .container {
    padding: 0;
  }

  .container {
    max-width: 100%;
  }

  article.node {
    .img-cap {
      img {
        max-width: 100%;
      }
    }
  }
}

.field--name-body {
  .img-cap-right {
    .img-container img {
      max-width: 300px;
    }
  }
}

.region-sidebar-first {
  padding: rem-calc(0 0 0 8);
}

a {
  color: $grey-dark;
  text-decoration: none;
  transition: all 0.25s;

  &:hover {
    color: $blue3;
    text-decoration: none;
  }
}

h1 {
  color: $makara;
  font-family: $font-bitter;
  font-size: rem-calc(33);
  font-weight: $bitter-regular;
  line-height: 1.3;
  margin: rem-calc(0 0 17);
}

.dropdown-toggle,
.dropdown-item {
  white-space: normal;
}

ul ul {
  list-style: disc;
}

//ckeditor style
a.triangle, a.more {
  color: $blue3;
  &::after {
    content: "\25BA";
    font-size: 0.75rem;
    margin-left: 0.0625rem;
  }
}

// Breadcrumbs
.block-system-breadcrumb-block {
  display: none; // Show after 767px.

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.breadcrumb {
  background-color: transparent;
  margin: rem-calc(6 0 28);
  padding: 0;

  .breadcrumb-item {
    background: transparent url("../images/breadcrumbs-divider.png") no-repeat
      right center;
    float: left;
    font-size: rem-calc(11);
    height: 24px;
    line-height: rem-calc(24);
    margin-left: rem-calc(-1);
    padding: rem-calc(0 10 0 0);

    &:first-of-type {
      margin: 0;
    }

    &:last-of-type {
      background: transparent url("../images/breadcrumbs-current.png") no-repeat
        right center;
      padding-right: rem-calc(9);

      a {
        color: #695e4a;
      }
    }

    &::before {
      content: none;
    }

    a {
      background: #e5e5de;
      color: #909090;
      height: 24px;
      line-height: rem-calc(24);
      display: block;
      float: left;
      padding: rem-calc(0 8);
    }
  }
}

// TODO: refactor to apply to all
.ds-2col {
  .group-left {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: calc(100% - 285px);
    }
  }

  .group-right {
    width: 100%;
    @include media-breakpoint-up(lg) {
      margin-left: rem-calc(40);
      width: 245px;
    }
  }
}

.page-404,
.page-403 {
  .block-system-breadcrumb-block {
    display: none;
  }

  .dialog-off-canvas-main-canvas main {
    color: #555;
    font-size: rem-calc(14);
    line-height: rem-calc(30);
    margin: rem-calc(25) auto 0;
    width: 80%;

    a {
      color: $blue3;
      text-decoration: underline;
    }

    p {
      font-size: rem-calc(14);
      margin-bottom: rem-calc(12);
    }

    ul {
      line-height: rem-calc(21);
      margin-bottom: rem-calc(12);
      padding-left: rem-calc(50);

      li {
        margin-bottom: rem-calc(6);
      }
    }
  }

  h1 {
    color: #f44336;
    font-family: $font-bitter;
    font-size: rem-calc(50);
    font-weight: 400;
    line-height: rem-calc(90);
    margin: rem-calc(0 0 12 0);
    text-align: center;
  }
}

article[data-history-node-id = '39693'] {
  color: #555;
  font-size: rem-calc(14)!important;
  line-height: rem-calc(30);
  margin: rem-calc(25) auto 0;
  width: 80%;

  a {
    color: $blue3;
    text-decoration: underline;
  }

  p {
    margin-bottom: rem-calc(12);
  }

  ul {
    line-height: rem-calc(21);
    margin-bottom: rem-calc(12);
    padding-left: rem-calc(50);

    li {
      margin-bottom: rem-calc(6);
    }
  }

  h1 {
    color: #f44336;
    font-family: $font-bitter;
    font-size: rem-calc(50);
    font-weight: 400;
    line-height: rem-calc(90);
    margin: rem-calc(0 0 12 0);
    text-align: center;
  }
}

// Global Pager nav with counting
.footer-pager,
.header-pager {
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  border: 1px solid #e1e1e1;
  border-radius: rem-calc(3);
  margin: 0;
  min-height: 37px;
  padding: rem-calc(5 10 0 10);
  width: auto;

  .view-footer,
  .view-header {
    color: #999;
    display: block;
    font-size: rem-calc(12);
    margin-top: rem-calc(-3);
    min-height: 30px;

    @media (min-width: 400px) {
      float: left;
      width: 40%;
    }
  }

  .view-pager {
    display: block;
    margin-left: 3%;
    min-height: 30px;

    @media (min-width: 400px) {
      float: left;
      width: 57%;
    }

    nav.pager {
      text-align: center;

      ul.pager__items {
        border-radius: rem-calc(4);
        display: flex;
        float: right;
        margin-bottom: 0;
        margin-left: 0;

        li {
          background-color: $white;
          border: 1px solid #ddd;
          height: 22px;
          padding: 0;

          &:hover {
            background-color: #ddd;
          }

          &.active {
            background-color: #f5f5f5;
            cursor: default;

            a {
              color: #999;
            }
          }

          &.pager__item--ellipsis {
            background-color: transparent;
            color: #999;
            cursor: default;

            .alink {
              font-size: rem-calc(10.5);
              line-height: rem-calc(20);
              padding: rem-calc(0 6);
              vertical-align: text-bottom;
            }
          }

          a {
            font-size: rem-calc(10.5);
            line-height: rem-calc(20);
            padding: rem-calc(6);
            vertical-align: text-bottom;

            @include media-breakpoint-up(md) {
              padding: rem-calc(0 6);
            }
          }
        }
      }
    }
  }
}

.footer-pager {
  margin-bottom: rem-calc(10);
}

// Global counter with search filed.
.group-filter-counter {
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  border: 1px solid #ccc;
  border-radius: rem-calc(4);
  margin: rem-calc(0 0 15 0);
  padding: rem-calc(5 10 10);
  width: 100%;

  @include media-breakpoint-up(md) {
    padding: rem-calc(10);
    width: auto;
  }

  .main-counter {
    border: 0;
    color: #999;
    font-size: rem-calc(14);
    font-style: italic;
    margin: rem-calc(0 0 10 0);
    padding: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      border-right: 1px solid #ccc;
      margin: unset;
      padding: rem-calc(5 10);
      width: 23%;
    }

    span {
      color: $blue4;
      display: inline-block;
      font-size: rem-calc(22);
      font-style: normal;
    }
  }

  .view-filters {
    margin-top: rem-calc(-5);
    width: 100%;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      width: 74%;
    }

    .views-exposed-form {
      @include media-breakpoint-up(md) {
        margin-left: rem-calc(25);
        padding-top: rem-calc(1);
      }

      .form--inline {
        @include media-breakpoint-up(md) {
          display: flex;
        }

        .form-item-title {
          margin: rem-calc(0 0 10 0);
          width: 100%;

          @include media-breakpoint-up(md) {
            margin: rem-calc(0 10 0 0);
            max-width: 75%;
            padding-top: rem-calc(1);
          }

          input {
            border: 1px solid #ccc;
            border-radius: 0;
            color: $black;
            font-family: Arial;
            font-size: rem-calc(13);
            height: 27px;
            margin: rem-calc(0 5 0 0);
            padding: rem-calc(5);
            transition: border linear 0.2s, box-shadow linear 0.2s;
            width: 100%;

            &::placeholder {
              color: $black;
            }

            &:focus {
              border-color: rgba(82, 168, 236, 0.8);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08),
                0 0 8px rgba(82, 168, 236, 0.68);
              outline: 0;
            }
          }
        }

        .form-actions {
          margin: 0;

          input {
            background-color: #363636;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
              rgba(0, 0, 0, 0.25);
            border-radius: rem-calc(3);
            color: $white;
            font-family: $font-roboto;
            font-size: rem-calc(14);
            font-weight: $roboto-bold;
            margin: 0;
            padding: rem-calc(4 12);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}

.nav-digital-library {
  border-bottom: 1px solid #cfcbc6;
  font-family: $font-bitter;
  font-size: rem-calc(30);
  font-weight: $bitter-regular;
  line-height: 1.2;
  list-style: none;
  margin-bottom: rem-calc(36);
  overflow: hidden;
  padding: rem-calc(0 0 5);
  width: 100%;

  li {
    float: left;
    margin: rem-calc(0 30 0 0);

    a {
      color: $grey-lighter;
      font-weight: $bitter-regular;

      &.active {
        color: $white;
      }
    }
  }
}

// Popover
.popover {
  &.bs-popover-top {
    animation-duration: 350ms;
    background: #eeefef;
    border: 2px solid #888383;
    border-radius: rem-calc(8);
    color: $white;
    height: auto;
    line-height: rem-calc(18);
    margin-top: rem-calc(-3);
    max-width: unset;
    padding: rem-calc(6 14);
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
    width: auto;

    .popover-header {
      background-color: unset;
      color: #333;
      font-family: $font-bitter;
      font-size: rem-calc(20);
      font-weight: $bitter-bold;
      line-height: 1.3;
      margin-bottom: rem-calc(4);
      padding: 0;
    }

    .popover-body {
      padding: 0;
    }

    .arrow {
      border-top-color: #888383;

      &:before {
        border-top-color: #888383;
      }

      &:after {
        border-top-color: #eeefef;
        border-width: rem-calc(8 8 2);
      }
    }
  }
}

.img-cap {
  margin: 5px 0 1em 0;

  .caption {
    font-size: rem-calc(15);
    text-align: left;
  }
}

.img-cap-left {
  display: inline;
  float: left;
  margin: 5px 10px 5px 0;
}

.img-cap-right {
  display: inline;
  float: right;
  margin: 5px 0 5px 10px;

  .caption {
    text-align: left;
  }
}

.caption {
  font-size: rem-calc(12);
}

.img-container {
  margin-bottom: rem-calc(23);

  .field--name-field-image {
    margin: rem-calc(5 10 8 0);
  }

  img {
    height: auto;
    width: 100%;
  }

  .img-caption {
    font-size: rem-calc(12);
    margin-bottom: rem-calc(23);
  }
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 rem-calc(20);
  width: 100%;

  tbody {
    vertical-align: middle;

    tr {
      background: #d7d7d7;

      &:nth-child(odd) {
        background: #f8f6f6;
      }
    }

    td {
      font: 400 14px/1.3 "Roboto", Tahoma, Arial, Helvetica, sans-serif;
      vertical-align: inherit;
      text-align: left;
      border-left: 1px solid #ebe0e0;
      border-right: 1px solid #ebe0e0;
      padding: 15px 10px;
      line-height: 1.1;

      &:not(:first-of-type) {
        a {
          display: block;
        }
      }
    }
  }
}

.outcome-indicator-block-container {
  table {
    tbody {
      tr,
      tr:nth-child(odd) {
        background: $white;
      }

      td {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

// Beijing20 Logo
.block-header-logo.beijing20plus-header-logo {
  > a {
    display: block !important; // Rewrite main property.

    .field--name-field-block-image {
      display: block;

      img {
        height: auto;
      }
    }

    .field--name-field-block-country {
      display: block;
      padding: rem-calc(25 150 0 0);
    }
  }
}
a.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

// Strategic plan pages
.indicator-header {
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  font-size: 22px !important;
  text-align: center !important;
  font-weight: 700 !important;
}

.indicator-header-impact {
  margin-bottom: 10px !important;
  font-size: 22px !important;
  color: #e8822a !important;
  text-align: center !important;
  font-weight: 700 !important;
  margin-top: 25px !important;
}

.outcome-indicator-block-container {
  .item {
    h4,
    .description,
    .flip-detail-result,
    .flip-btn {
      font-family: $font-signika;
    }

    .description,
    .flip-detail-result {
      line-height: 21px;
    }
  }
}

.outcome-1-map,
.outcome-2-map,
.outcome-3-map,
.outcome-4-map,
.outcome-5-map {
  .map-content-internal {
    font-family: $font-signika;

    h2 {
      font-family: $font-signika;
    }

    ul {
      padding-inline-start: 0;

      li {
        line-height: 22px;
      }
    }
  }
}

.content-main-container {
  .output-container {
    p {
      font-family: $font-signika;
      line-height: 22px;
    }
  }

  .header-all {
    font-family: $font-signika !important;

    .headers-block {
      line-height: 31px !important;
    }

    .headers-content {
      line-height: 28px !important;
    }
  }
}

.views-entity-embed {
  .bordered {
    border: 1px solid #777;
  }
  .max-h-300 {
    max-height: rem-calc(300);
  }
  .max-h-400 {
    max-height: rem-calc(400);
  }
  .fs-14 {
    font-size: rem-calc(14);
  }
  ul {
    li {
      margin-top: rem-calc(7);
      margin-bottom: rem-calc(7);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.hq-unwomen {
  header .navbar-collapse .region-nav-main .navbar-nav > li {
    background: $orange2;
    background: -moz-linear-gradient(top,  #eea88d 0%, #e96a3c 50%, #e85c2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eea88d', endColorstr='#e85c2d',GradientType=0 ); /* IE6-9 */
  }

  footer .menu--social-media {
    ul.menu,
    ul.menu li {
      background: #f2ede9; /* Old browsers */
      background: -moz-linear-gradient(top,  #f2ede9 0%, #e4ddd5 50%, #d5ccc1 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #f2ede9 0%,#e4ddd5 50%,#d5ccc1 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #f2ede9 0%,#e4ddd5 50%,#d5ccc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.uae-unwomen {
  body .header-top {
    background: #e8ecbf;
  }
}

// Full HTML CT
.page-node-type-full-html {
  h1.page-title {
    display: none;
  }
}

// Share buttons.
.share-container {
  align-items: center;
  background-color: #2e2e2e;
  display: inline-flex;

  &:hover {
    .share-text {
      color: $blue3;
    }
  }

  .share-action {
    .a2a_button_facebook,
    .a2a_button_twitter,
    .a2a_button_email,
    .a2a_button_print {
      display: none; // Hide more share buttons.
    }

    .a2a_dd.addtoany_share {
      padding: 0;

      span.a2a_svg {
        background-color: transparent!important;
        border-radius: 0!important;
        height: 25px!important;
        width: 25px!important;

        svg g {
          fill: #f05d20;
        }
      }
    }
  }

  .share-text {
    color: $white;
    cursor: pointer;
    font-size: rem-calc(9);
    padding-right: rem-calc(11);
    transition: all 0.25s;
  }
}

.node-preview-container {
  position: relative;
  max-width: 975px;
  margin: 0 auto;
  .form-type-select {
    margin-left : 25px;
  }
}

.semi-colon-terms {
  a:not(:last-child):after {
    color: #595a5c;
    content: ';';
  }
}

// Content images width
.node__content {
  img {
    max-width: 100%;
  }
}
.field--name-body .img-cap img {
  max-width: 100%;
}
