header {
  margin-top: rem-calc(5);

  .region-header {
    height: 22px;
  }

  > nav.navbar {
    display: block;
  }

  .block-language {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem-calc(10);

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    .links {
      margin: 0 rem-calc(2) rem-calc(3) 0;
      z-index: 1;

      li {
        display: inline-block;
        font-size: rem-calc(12);
        line-height: 1;
        padding-left: rem-calc(8);

        a {
          line-height: 1;
        }

        .is-active {
          color: $grey-dark;

          &:hover {
            color: $blue3;
          }
        }
      }
    }
  }
  .search-block-header {
    form {
      .search-results-bar {
        width: 100%;

        .form--results {
          display: none;
        }

        .form--inline {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .form-item {
            display: inline-block;
            float: none;
            margin: 0;
          }

          .form-actions {
            display: inline-block;
            margin: 0;
          }
        }

        .form--description {
          display: none;
        }
      }
    }
  }
  .search-block-form, .search-block-header {
    float: right;
    margin-bottom: rem-calc(20);
    z-index: 1;

    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(10);
    }

    form {
      align-items: center;
      border: 1px solid #a4a4a4;
      display: flex;
      height: 22px;
      justify-content: space-between;
      margin-right: rem-calc(2);
      padding-right: rem-calc(6);
      position: relative;
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 287px;
      }

      input {
        border: 0;
        background-color: transparent;
        font-family: Arial, Tahoma, Helvetica, sans-serif;

        &:focus {
          box-shadow: none;
        }
      }

      .form-item > input {
        background: url('../images/icon-mag-glass.png') no-repeat 5px 6px;
        color: #a4a4a4;
        font-size: rem-calc(13);
        height: 24px;
        line-height: rem-calc(20);
        padding: 0 0 0 rem-calc(30);
        width: 195px;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      .form-actions {
        input {
          background: url('../images/icon-arrow-grey-right.png') no-repeat right 7px;
          color: #6C6D6F;
          font-size: rem-calc(9);
          height: 22px;
          line-height: rem-calc(22);
          padding: 0 rem-calc(7);
          text-transform: uppercase;

          &:hover {
            color: $blue3;
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;

    > .container {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  .navbar-collapse {
    .region-nav-main {
      width: 100%;

      .navbar-nav {
        > li {
          background: $orange2;
          background: -moz-linear-gradient(top,  #eea88d 0%, #e96a3c 50%, #e85c2d 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eea88d', endColorstr='#e85c2d',GradientType=0 ); /* IE6-9 */

          &:last-of-type {
            > a,
            > span {
              padding: 0 rem-calc(32);
            }
          }

          > a,
          > span {
            color: $white;
            letter-spacing: rem-calc(.11);
            padding: 0 rem-calc(29);

            &:hover {
              background: $orange2;
            }
          }
        }
      }
    }
  }
}

.navbar .navigation {
  ul.navbar-nav {
    .dropdown-menu .dropdown-menu .dropdown-menu {
      display: none;
    }

    > .nav-item {
      border-right: 2px solid $white;
      list-style: none;

      &.right-positioned {
        .dropdown-menu,
        ul {
          left: unset;
          right: 0;

          .dropdown-menu,
          ul {
            left: unset;
            right: 228px;
          }
        }
      }

      > a,
      > span {
        display: inline-block;
        font-family: $font-roboto;
        font-size: rem-calc(11);
        font-weight: 700;
        line-height: rem-calc(40);
        text-align: center;
        text-transform: uppercase;
        white-space: normal;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }

        &.dropdown-toggle {
          &::after {
            display: none;
          }
        }
      }

      .dropdown-menu,
      ul {
        background-color: $white;
        border: 1px solid #cabeb1;
        border-radius: 0;
        display: none;
        left: 0;
        list-style: none;
        margin: 0;
        padding: rem-calc(12) 0;
        position: absolute;
        text-align: left;
        width: 230px;
        z-index: 4;

        li {
          position: relative;

          &::before {
            border-left: 6px solid transparent;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 6px;
          }

          &.active,
          &:hover {
            background-color: #ede6e0;

            &::before {
              border-left: 3px solid $orange2;
              transition: border 0.45s;
            }
          }
        }

        a, span {
          align-items: center;
          color: $orange2;
          display: flex;
          font-family: $font-roboto;
          font-size: rem-calc(12);
          font-weight: 400;
          letter-spacing: rem-calc(.11);
          line-height: rem-calc(18);
          padding: rem-calc(4) rem-calc(16);
          text-align: left;

          &:hover {
            cursor: pointer;
          }
        }

        .dropdown-menu,
        ul {
          left: 228px;
          padding-top: 0;
          top: 0;
        }

        .dropdown-item.menu-item--expanded.dropdown {
          &.left-expanded-menu {
            a::after {
              transform: rotate(180deg);
            }
            
            ul {
              left: -230px;
            }
          }

          &.right-expanded-menu {
            a::after {
              transform: rotate(180deg);
            }
            
            ul {
              right: -230px;
            }
          }   
        }

        .dropdown-item {
          display: block;
          padding: 0;
          white-space: normal;

          a:hover {
            text-decoration: none;
          }
        }
      }
    }

    .dropdown {
      &:hover {
        > .dropdown-menu {
          display: block;
        }
      }

      .dropdown-toggle {
        &::after {
          border-left: 0.3em solid;
          border-top: 0.3em solid transparent;
          border-right: 0;
          border-bottom: 0.3em solid transparent;
          position: absolute;
          right: rem-calc(5);
        }
      }
    }
  }
}


.region-nav-branding {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem-calc(55);

  @include media-breakpoint-down(sm) {
    margin-bottom: rem-calc(20);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(25);
  }

  .navbar-brand {
    padding: 0;

    img {
      height: 70px;
    }
  }

  .block-header-logo {
    align-items: flex-end;
    display: flex;
    margin-bottom: 0;

    .field--name-field-block-image, .field--name-field-media-logo {
      display: inline;

      img {
        height: 70px;
      }
    }

    > a {
      align-items: flex-end;
      display: flex;

      @include media-breakpoint-down(sm) {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .field--name-field-block-country {
      color: $blue3;
      display: inline;
      font-size: rem-calc(50);
      line-height: rem-calc(50);
      padding-left: rem-calc(30);
      position: relative;
      top: rem-calc(7);
      font-family: Arial, Helvetica, sans-serif;

      @include media-breakpoint-down(sm) {
        padding: rem-calc(20 0 0);
      }
    }

    // Country Text Sizes.
    &.text-size-medium {
      .field--name-field-block-country {
        font-size: rem-calc(32);
        line-height: rem-calc(32);
        top: rem-calc(5);
      }
    }
    &.text-size-large {
      .field--name-field-block-country {
        font-size: rem-calc(55);
        line-height: 1.1;
        top: rem-calc(10);
      }
    }
  }

  .menu--secondary-navigation {
    max-width: 530px;

    ul.navbar-nav {
      flex-wrap: nowrap;

      .nav-item {
        position: relative;

        &:hover {
          > ul {
            display: block;
          }
        }

        &.left-expanded-menu {
          a::after {
            transform: rotate(180deg);
          }
          
          ul {
            left: -230px;
          }
        }
      }

      > .nav-item {
        align-items: center;
        background: #e5e3dc;

        &:hover {
          background: #c8bbae;

          > a,
          > span {
            color: #7c6a55;
          }

          > ul {
            display: block;
          }
        }

        &:nth-of-type(3) {
          min-width: 109px;
        }

        &:last-of-type {
          min-width: 112px;
        }

        ul {
          .dropdown-toggle {
            align-items: center;
            display: flex;

            &::after {
              border-left: 0.3em solid;
              border-top: 0.3em solid transparent;
              border-right: 0;
              border-bottom: 0.3em solid transparent;
              position: absolute;
              right: rem-calc(5);
            }
          }
        }

        > a,
        > span {
          align-items: center;
          color: $orange2;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          letter-spacing: rem-calc(.22);
          line-height: rem-calc(11);
          padding: rem-calc(9) rem-calc(16);
          white-space: nowrap;
        }
      }
    }
  }
}

// Mobile Menu
.mmenu-bootstrap {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
  width: 100%;
  
  button.navbar-toggler {
    background-color: $orange2;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: 45px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-indent: -900em;
    width: 38px;

    &::after {
      background-color: $white;
      box-shadow: 0 10px 0 $white, 0 20px 0 $white;
      content: "";
      height: 5px;
      left: 16%;
      position: absolute;
      top: rem-calc(10);
      width: 68%;
    }
  }
}

.menu--main {
  margin-bottom: 0;
}

#off-canvas {
  .mm-panel {
    background-color: $white;
    padding: rem-calc(20 24);

    .mm-navbar {
      background-color: $white;
      border-color: #fdeee8;
      margin-bottom: rem-calc(24);
      padding-bottom: rem-calc(20);

      .mm-btn {
        background-color: #fdeee8;
        height: 40px;
        margin-right: rem-calc(22);
        min-height: 40px;
        width: 40px;

        &::before {
          border-color: #c54e26;
          height: 11px;
          left: rem-calc(17);
          width: 11px;
        }
      }
    }

    .mm-navbar__title {
      background-color: $white;
      flex: none;
      font-size: rem-calc(24);
      justify-content: flex-start;
      padding: 0;
      width: calc(100% - 62px);

      // &::after {
      //   color: $grey-dark;
      //   content: "X";
      //   display: block;
      // }

      span {
        color: #F15C21;
        line-height: rem-calc(22);
        text-align: left;
        white-space: normal;
      }
    }
  }

  .mm-listview {
    li {
      -webkit-font-smoothing: auto;
      align-items: center;
      margin: rem-calc(10 0);
      min-height: 40px;

      &::after {
        border-color: $white;
      }

      a {
        border-color: $white;
        color: $grey-dark;
        font-family: $font-roboto;
        font-size: rem-calc(18);
        line-height: rem-calc(20);
        padding: rem-calc(0 5 0 0);
        white-space: normal;

        &.mm-btn_next {
          align-self: baseline;
          background-color: #fdeee8;
          height: rem-calc(40);
          padding: rem-calc(20);
        }

        &:hover {
          background: rgba(255,248,213,0.1);
        }

        &::after {
          border-color: #c54e26;
          right: rem-calc(16);
        }
      }
    }
  }
}


header {
  .navbar {
    .region-nav-main {
      ul.navbar-nav {
        flex-wrap: nowrap!important;

        > li {
          width: 100%;
          text-align: center;

          > a {
            white-space: nowrap!important;
            width: 100%;
          }
        }
      }
    }
  }
}

