body {
  .header-top {
    background-color: #ffe8cc;
    margin-bottom: rem-calc(9);
  }
  
  .region-header-top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    .navbar-nav {
      flex-direction: row;
    }
    ul.links {
      display: flex;
      margin: 0;
      padding: 0;
    }
    .block--type-image-and-text {
      a {
        align-items: flex-end;
        display: flex;
      }
      .field--type-string {
        color: $blue3;
        line-height: 8px;
        margin-left: rem-calc(5);
      }
    }
    a {
      display: inline-block;
      font-size: 12px;
      padding: rem-calc(6 12);
      @include media-breakpoint-up(md) {
        border-left: 1px solid $white;
      }
    }
    li {
      margin: 0;
      &:last-child {
        a {
          @include media-breakpoint-up(md) {
            border-right: 1px solid $white;
          }
        }
      }
    }

    ::marker {
      color: transparent;
    }

    .top-header-ro {
      .field--name-body {
        ul {
          display: flex;
          margin: 0;
          padding: 0;

          a {
            color: $grey-dark;
            padding: rem-calc(6 12);

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.hq-unwomen {
  .header-top {
    background: transparent;
    margin: 0;

    .block-language {
      margin-left: auto;

      .links {
        a {
          padding: rem-calc(5 3);
        }
      }
    }
  }
}

.path-frontpage {
  .node {
    .node__content > .field--name-field-title {
      display: none;
    }
  }
}
