.path-user {
  h1 {
    font-size: rem-calc(50);
    line-height: rem-calc(90);
    text-align: center;
  }

  .region-breadcrumb {
    display: none;
  }

  .region-content {
    margin: rem-calc(25) auto 0;
    padding: 0;
    width: 80%;
  }

  form {
    input {
      &:focus,
      &:active:focus,
      &:hover {
        box-shadow: none;
      }
    }

    .button {
      background: $orange2;
      background: -moz-linear-gradient(top,  #eea88d 0%, #e96a3c 50%, #e85c2d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #eea88d 0%,#e96a3c 50%,#e85c2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eea88d', endColorstr='#e85c2d',GradientType=0 ); /* IE6-9 */
      border: 0;
      border-radius: 0;
      padding: rem-calc(6) rem-calc(29);
      text-transform: uppercase;
      transition: all 0.25s;

      &:hover {
        background: $orange2;
      }
    }
  }
}
