// Style that refers to migrated content
.flex-media {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0px -10px;

  &.one,
  &.two,
  &.three,
  &.four {
    figure {
      @media screen and (max-width:700px) {
        width: calc(100%);
        box-sizing: border-box;
        margin: 0rem;
        position: relative;
      }

      iframe {
        @media screen and (max-width:700px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.one {
    figure {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin: 0;

      iframe {
        width: 100%;
        height: 540px;
      }
    }
  }

  &.two {
    > figure {
      position: relative;
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 10px;
      margin: 0px;

      iframe {
        width: 100%;
        height: 265px;
      }
    }
  }

  &.three {
    figure {
      position: relative;
      float: left;
      width: 33.3333%;
      box-sizing: border-box;
      padding: 10px;
      margin: 0px;

      iframe {
        width: 100%;
        height: 172px;
      }
    }
  }

  &.four {
    figure {
      position: relative;
      float: left;
      width: 25%;
      box-sizing: border-box;
      padding: 10px;
      margin: 0px;
    }
  }

  > figure {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;

    figcaption {
      padding-top: rem-calc(7);
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}

/* Search List*/
.search-list {
  .list-container {
    background: #fff;
    position: relative;
    border: 1px solid #ff0000;

    border: 0;
    border-bottom:1px solid #d1d1d1;
    margin:0 0 15px 0;
    min-height:154px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
    padding: 0 0px 15px 0;

    .title {
      font-weight: normal;
      margin-bottom: 10px;
      font-size: 11px;
    }

    .search-image {
      .icon {
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        left: 5px;
        bottom: 5px;
      }
    }

    .search-image.pdf a {
      background-position: -3px -2px;
    }

    .search-image.word a {
      background-position: -3px -55px;
    }

    .search-image.excel a {
      background-position: -3px -107px;
    }

    .search-image.ppt a {
      background-position: -3px -160px;
    }

    .search-image.url a {
      background-position: -3px -211px;
    }
  }

  .search-image {
    img {
      max-width: 140px;
    }
    a {
      height: 100%;
      display: block;
    }
  }

  .row-fluid {
    @media (min-width: 1200px) {
      width: auto;
      *zoom: 1;
    }

    @media (min-width: 768px) and (max-width: 979px) {
      width: 100%;
      *zoom: 1;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    &:before,
    &:after {
      display: table;
      line-height: 0;
      content: "";

      @media (min-width: 1200px) {
        display: table;
        line-height: 0;
        content: "";
      }
    }

    &:after {
      clear: both;
    }

    &.contentpane {
      width: auto;
    }

    [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.127659574468085%;
      *margin-left: 2.074468085106383%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;

      @media (min-width: 1200px) {
        margin-left: 2.564102564102564%;
        *margin-left: 2.5109110747408616%;
      }

      @media (min-width: 768px) and (max-width: 979px) {
        margin-left: 2.7624309392265194%;
        *margin-left: 2.709239449864817%;
      }

      @media (max-width: 767px) {
        margin-left: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .span13 {
      width: 100%;
      *width: 99.94680851063829%;
      margin:8px 0 0 0;
    }

    .span12 {
      width: 100%;
      *width: 99.94680851063829%;
    }

    .span11 {
      width: 91.48936170212765%;
      *width: 91.43617021276594%;
    }

    .span10 {
      width: 82.97872340425532%;
      *width: 82.92553191489361%;
    }

    .span9 {
      width: 74.46808510638297%;
      *width: 74.41489361702126%;
    }

    .span8 {
      width: 65.95744680851064%;
      *width: 65.90425531914893%;
    }

    .span7 {
      width: 57.44680851063829%;
      *width: 57.39361702127659%;
    }

    .span6 {
      width: 48.93617021276595%;
      *width: 48.88297872340425%;
    }

    .span5 {
      width: 40.42553191489362%;
      *width: 40.37234042553192%;
    }

    .span4 {
      width: 31.914893617021278%;
      *width: 31.861702127659576%;
    }

    .span3 {
      width: 23.404255319148934%;
      *width: 23.351063829787233%;
    }

    .span2 {
      width: 14.893617021276595%;
      *width: 14.840425531914894%;
    }

    .span1 {
      width: 6.382978723404255%;
      *width: 6.329787234042553%;
    }
  }
}

/* List View */
.search-list .list-container, 
.list-view .list-container {
  border: 0;
  border-bottom:1px solid #d1d1d1;
  margin:0 0 15px 0;
  min-height:70px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 15px 0;
  padding: 0 0px 15px 0;

  .search-image {
    margin-bottom: 7px !important;
    border-radius: 0;
    padding: 3px;
    border: 0px solid #ccc;
    position: static;

    @media (max-width: 767px) {
      float: left;
      margin: 0 10px 10px 0;
    }

    .icon {
      width: 30px;
      height: 30px;
      right: 10px;
      bottom: 15px;
      left: auto;
      display: none;
    }
  }

  .search-details {
    margin-left: 1.5%;

    @media (max-width: 767px) {
      margin: 0;
      padding: 0;
      width: auto;
    }

    p {
      line-height: 16px;
      margin: 0 0 7px 0;
    }

    .title {
      font-size: 14px;
      line-height: 20px;
    }

    .summary span {
      display: inline-block;
      border-right: 1px solid #ccc;
      color: #999;
      margin: 0 10px 10px 0;
      padding: 0 10px 0 0;
      font-size: 13px;
      color: #666;

      @media (max-width: 767px) {
        display: block;
        border: 0;
      }

      &:last-child {
        border: 0 !important;
      }

      label {
        font-weight: bold;
        cursor: text;
        font-style: normal;
        margin: 0;
        font-size: 13px;
        display: inline-block;
        color: #444;
      }
    }
  }

  .description {
    display: block;
    font-style: italic;
  }
}

.search-details a:link {
  color: #0397d7;
}

.list-container .actions a {
  color:#642166;
  text-decoration: underline;
}

#mc_embed_signup form .button {
  background-color: #666;
}

.padding-top-50{padding-top:50px}
.mix_wrapper{width: auto; font-size: 18px}
.mix_block{width: auto; margin-bottom: 70px}
.timeline_block{width: auto; margin:50px 0;}
.quote_img_block{width: auto; margin:50px 0;}
.mix_block_90percent{width: 90%; margin: 0 auto}
.mix_block_80percent{width: 80%; margin: 0 auto 70px}
.with-border{border-top: 1px solid #ccc; padding: 20px 10px 0 10px; border-bottom: 1px solid #ccc; margin-bottom: 15px;}
.with-bg{border: 1px solid #f5f5f5; padding: 20px 10px 0 10px; margin-bottom: 15px; background: #f5f5f5;}

[class*="timeline-wrapper"] *, ::after, ::before {box-sizing: border-box;}

ul.timeline-wrapper{position: relative; list-style: none; margin: 0;}
.timeline-panel{position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; margin: 0 !important}
.timeline-panel .row{margin: 0}
.timeline-panel .left-panel{-webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
.timeline-panel .right-panel{-webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
.timeline-panel .float-l{float:left}
.timeline-panel .h4{font-size: 1.5rem; font-weight: normal;}
.timeline-panel .h3{font-size: 1.75rem; font-weight: 500;}
.timeline-wrapper::before {left: 25%; width: 3px; height: 100%; margin-left: -1px; background-color: #afafaf;}
[class*="timeline-wrapper"]::before {content: ""; position: absolute; top: 0; bottom: 0; display: block;}
.timeline-panel .padd-r-40{padding-right: 2.85714rem;}
.timeline-panel .padd-t-20{padding-top: 1.42857rem;}
.timeline-panel .padd-30{padding: 2.14286rem;}
.timeline-panel .padd-l-2{padding-left: 2.3rem;}
.timeline-panel .padd-r-3{padding-right: 3.5rem;}
.timeline-panel .padd-0{padding: 0;}
.timeline-panel .disp-inline-block{display:inline-block; vertical-align: top}
.timeline-panel .txt-align-right{text-align:right}
.timeline-panel .brdr-box{border: solid 1px #777;}
.timeline-panel .triangle-arrow-position{position: absolute; left: 19px;}
.timeline-panel .triangle-arrow{border: solid #707070; border-width: 0 1px 1px 0; display: inline-block; padding: 13px; background: #fff; transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.timeline-panel .bullet-circle-position{top: 2.5rem; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%);    position: absolute; right: 101%;}
.timeline-panel .bullet-circle{width:24px; height: 24px; border: 3px solid #3398dc; background-color: #fff; display: block; border-radius: 50%;} 
.timeline-panel .timeline-box-shadow{box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
.timeline-panel img{float: left; padding: 5px 20px 5px 0;}
.box-panel{font-size:0}
.timeline-panel p{font-size:14px}
.title-panel{margin-bottom: 1.78571rem !important; border-bottom: solid 1px #777 !important;}
.timeline-wrapper .marg-b-40{margin-bottom: 2.5rem !important;}

.quoteimg-wrapper{ -webkit-box-pack: center!important; -ms-flex-pack: center!important; justify-content: center!important;}
.quoteimg-block{width:auto; margin: 50px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.quoteimg-block .quoteimg-panel{-webkit-box-flex: 0; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px;}
.quoteimg-block .quoteimg-panel .page-quote{border: 5px solid #DBDBDB; padding: 89px 50px 100px 50px; overflow:hidden; height: auto; min-height: auto}
.quoteimg-block .quoteimg-panel .page-quote3 h6 {font-weight: bold; color: #000; text-indent: 45px; font-size: 14px;}
.quoteimg-block .quoteimg-panel .page-quote3 span {border-bottom: 2px solid #707070; display: inline-block; width: 35px; position: absolute; top: 7px;}
.quoteimg-block .quoteimg-panel .page-quote-initial {float: left; text-align:left; position: relative; margin-top: 10px;}
.quoteimg-block .quoteimg-panel h3{font-size: 29px; line-height: 1.5; font-weight: normal;}
.quoteimg-block .quoteimg-panel .img-fluid {max-width: 100%; height: auto;}
.quoteimg-block .quoteimg-panel .pull-10x-right{-webkit-transform: translateX(10%); -ms-transform: translateX(10%); transform: translateX(10%);}
.quoteimg-block .quoteimg-panel .pull-10x-left{-webkit-transform: translateX(-10%); -ms-transform: translateX(-10%); transform: translateX(-10%);}
.quoteimg-block .quoteimg-panel .marg-t-50{margin-top: 3.57143rem;}


@media (min-width: 992px){
	.sy-controls li{list-style:none;}
	/* .sy-caption-wrap{bottom:-5em; height:auto; max-height:auto;} */
	.sy-caption-wrap .sy-caption{padding: 0em 0em 2em;}
	.sy-caption-wrap .sy-caption p{margin: 0px}
}


@media screen and (max-width: 700px){
	.sy-caption-wrap{bottom:-3em}
	.sy-caption-wrap .sy-caption p{margin: 0 0 12px 0}
	.mix_block{margin-bottom:100px}
	.mix_wrapper{width: auto !important;}
	.mix_block_90percent{width: 100%; margin: 0 auto 110px}
	.mix_block_80percent{width: 80%; margin: 0 auto 110px}
	.timeline-wrapper::before{display:none}
	.timeline-panel{max-width: 100%}
	.timeline-panel{padding: 0}
	.timeline-panel .disp-inline-block{display:block}
	.timeline-panel .txt-align-right{text-align: left; padding: 0 0 10px 0;}
	.timeline-panel .right-panel{max-width:100%}
	.timeline-panel .padd-l-2{padding: 0}
	.bullet-circle-position{display: none}
	.triangle-arrow-position{top: -13px;}
	.timeline-panel .triangle-arrow{transform: rotate(-135deg) !important; -webkit-transform: rotate(-135deg) !important;}
	.timeline-panel img{width:100%}
	.quoteimg-block .quoteimg-panel .page-quote{padding: 60px 30px 80px 30px; max-height: none; min-height: initial;}
	.quoteimg-block .quoteimg-panel{padding: 0; max-width: 100%; flex: 100%;}
	.quoteimg-block .quoteimg-panel .pull-10x-right{transform:none}
	.quoteimg-block .quoteimg-panel .pull-10x-left{transform:none}
	.quoteimg-block .quoteimg-panel .marg-t-50{margin-top: 0;}
	.quoteimg-block .marg-l-80{margin-left: 0;}
}

/* backward compatible CSS */

/* timeline */
.timeline{width:100%;max-width:100%;background:#fff;padding-right:0px;position:relative;margin:50px 0 40px;float:left}
.timeline:before{content:'';position:absolute;top:0px;left: calc(20% + 0px);bottom:0px;width:3px;background:#afafaf;}
.timeline ul{margin-left:0px;width: 100%;display: inline;}
.timeline ul li{clear:both;text-align:left;position:relative;overflow:hidden;padding:0px;margin:0px !important;box-sizing:border-box;width: 100%;}
.timeline ul li .time-mark{font-size:28px;text-align:right;position:relative;/*-webkit-box-flex:0;-ms-flex:0 0 21%;flex:0 0 21%;max-width:21%;width:100%;*/display:inline-block;vertical-align:top;width: 20%;}
.timeline ul li .time-mark span{padding-right: 30px;}
.timeline ul li .time-mark:after{content:'';position:absolute;width:24px;height:24px;border:3px solid #3398dc;background-color:#fff;border-radius:100%;top:75%;right: -13px;z-index:99;}
.timeline ul li .time-description{position:relative;float:right;padding: 4%;margin:0 0 40px 0;border:solid 1px #777;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);/*-webkit-box-flex:0;-ms-flex:0 0 72%;flex:0 0 72%;max-width:72%;*/width: 63%;display:inline-block;vertical-align:top;}
.timeline ul li .time-description:before{position:absolute;display:block;content:'';bottom:100%;top:30px;left:-14px;width:26px;height:26px;margin-bottom:-8px;border-left:1px solid #707070;border-top:1px solid #707070;background:#fff;transform:rotate(315deg);transition:all .4s ease-in-out;}
.timeline ul li .time-description h3{font-size:18px;line-height:1;font-weight:700;color:#5E5A55;margin:0 0 1.78571rem 0;padding-bottom:12px;border-bottom:solid 1px #777 !important;}
.timeline ul li .time-description p{font-size:14px;}

/* quotes */
.quote-card{margin:50px 0;position:relative;padding-left: 0px;width:100%;float:left;}
.quote-card blockquote{-webkit-box-flex:0;-ms-flex: 0 0 36.333333%;flex: 0 0 36.333333%;position:relative;float:left;width:430px;min-height:280px;border:5px solid #DBDBDB;padding: 130px 45px 45px 25px;margin-top:2.57143rem !important;margin-left: 0px;-webkit-transform: translateX(0%);-ms-transform: translateX(0%);transform: translateX(0%);}
.quote-card blockquote p {font-size: 29px!important;font-style: normal;}
.quote-card blockquote p:before{font-family:fontawesome;content:'\201C';color:#4c4c4c;font-size:3.5em;font-weight:700;opacity:0.3;position:absolute;top: 0.45em;left: 0.25em;text-shadow:none;z-index:-300;display:block;clear:both;}
.quote-card blockquote footer{font-style:normal;font-weight:bold;color:#000;font-size:14px;margin-top: 25px;border: 0;padding: 0;}
.quote-card blockquote footer:before{content:'';width: 13px;height:2px;background-color:#707070;display:inline-block;margin-right:7px;vertical-align: middle;}
.quote-card img{width:calc(100% - 50.333333%);-webkit-transform:translateX(-10%);-ms-transform:translateX(-10%);transform: translateX(-10%);}

/*Carousel css from here*/
.slider-wrap {
    width: 100%;
    margin: 0 auto;
}

.bxslider figure {
    margin: 0;
}

.bxslider figure figcaption {
    display: none;
}

.bx-wrapper {
    border-width: 0px;
    box-shadow: none;
    margin-bottom: 15px;
}

.slide-caption {
    font-size: 14px;
    padding: 0em 0em 2em;
}

.bx-wrapper .bx-pager {
    bottom: 20px;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
    left: 0px;
    background: url('../images/communications/controls.png') no-repeat 0 -32px;
}

    .bx-wrapper .bx-prev:hover,
    .bx-wrapper .bx-prev:focus {
        background-position: 0 0;
    }

.bx-wrapper .bx-next {
    right: 0px;
    background: url('../images/communications/controls.png') no-repeat -43px -32px;
}

    .bx-wrapper .bx-next:hover,
    .bx-wrapper .bx-next:focus {
        background-position: -43px 0;
    }

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

    .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
    }
/* PAGER */
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ccc;
    text-indent: -9999px;
    display: block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #009DDC !important;
    }

@media screen and (max-width:992px){
.content-wrapper{width:100%;}
.quote-card{padding-bottom:80px;}
.timeline:before{display:none;}
.timeline ul li .time-mark:after{display:none;}
.timeline ul li .time-description:before{top:13px;left:-12px;width:23px;height:23px;}
.quote-card blockquote{-webkit-box-flex:0;-ms-flex:0 0 40.333333%;flex:0 0 40.333333%;max-width:40.333333%; -webkit-transform:translateY(-20%);-ms-transform:translateY(-20%);transform: translate(70px, 55px);}
.quote-card img{width:calc(100% - 53.333333%);-webkit-transform:translate(8%, 15%);-ms-transform:translate(8%, 15%);transform:translate(8%, 15%);}
}

@media screen and (max-width:700px){
.timeline{margin:20px 0px 0px;}
.timeline:before{display:none;}
.timeline ul li .time-mark{width: 100%;text-align: left;display:block;}
.timeline ul li .time-mark:after{display:none;}
.timeline ul li .time-description{width:79%;display:block;margin:18px 0 40px 0;padding:10%;}
.timeline ul li .time-description:before{position:absolute;display:block;content:'';top:-13px;left:20px;border:255px;width:24px;height:24px;margin-bottom:-8px;border-left:1px solid #707070;border-top:1px solid #707070;background:#fff;transform:rotate(45deg);transition:all .4s ease-in-out;}
.quote-card{padding:0px; margin-bottom:20px;}
.quote-card blockquote{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;width:auto;-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);min-height: 180px;height: auto;margin:0px !important;padding:122px 50px 100px;}
.quote-card blockquote p:before{top:0.35em;left:0.50em;}
.quote-card img{width:100%;-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);}
}

#jbox {
  &.module {
    margin-bottom: 35px;
    padding: 12px 14px 18px;
    border: 1px solid #939393;
    clear: both;

    a:hover {
      color: #0397D6;
    }
  }

  .module-body-container {
    font-size: 1.4em;
    line-height: 1.4;
    clear: both;

    p {
      line-height: 1.4;
      margin-bottom: 8px;
      font-size: 16.2px;
    }

    ul {
      list-style-type: disc;
      margin-left: 16px;
    }

    ol {
      list-style-type: decimal;
      margin-left: 22px;
    }

    ol ol {
      list-style-type: lower-alpha;
    }

    li {
      line-height: 1.4;
      margin-bottom: 10px;
    }

    a {
      color: #0397d6;
      text-decoration: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
    }

    .caption {
      font-size: 13.5px;
      margin-bottom: 0;
    }

    .media-list a {
      color: #595A5C;
    }

    .media-body a {
      color: #0397D6;
    }

    .label,
    .section {
      margin-bottom: 10px;
    }

    .role {
      font-style: italic;
    }
  }

  .module-head-container {
    font-family: Bitter, "Times New Roman", Times, serif;
    border-bottom: 5px solid #E5E3DC;
    margin-bottom: 15px;
  }

  .module-heading-lrg {
    font: 900 22px/1.2 Bitter, "Times New Roman", Times, serif;
    letter-spacing: 0.01em;
    padding: 0 0 6px 3px;
  }

  .module-heading-med {
    font: 200 24px/1.3 Bitter, "Times New Roman", Times, serif;
  }

  .module-heading-sm {
    font: 400 20px/1.3 Bitter, "Times New Roman", Times, serif;
    padding: 0 0 6px 3px;
  }

  .module-footer {
    font-size: 18px;
  }
}

.module-body-container .section span {
    display: block;
}

.module-body-container .aside-actions,
.module-body-container .aside-actions li {
    margin: 0;
    list-style-type: none;
    font-size: 12px;
}

.module-body-container .aside-actions a {
	color: #0397D6;
}

.social-feeds .module-body-container li,
.publications .module-body-container li {
    line-height: 15px;
}

.social-feeds .module-body-container,
.publications .module-body-container {
    font-size: 11px;
    font-weight: 400;
}

.module-body-container .tabs {
    font-size: 14px;
    list-style-type: none;
    margin-left: 0;
}

.module-body-container .tab-content {
    clear: both;
}

.module-body-container .tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.module-body-container .tabs li {
    border-bottom: 5px solid #E5E3DC;
    text-align: center;
    margin: 0 0 15px 2px;
    padding-bottom: 0;
    float: left;
}

.module-body-container .tabs li.first {
    margin-left: 0;
}

.module-body-container .tabs li.active {
    border-bottom: 5px solid #0397D6;
}

.module-body-container .tabs a {
    padding-bottom: 6px;
    display: block;
}

.module-body-container .tabs a img {
	display: block;
	margin: 0 auto;
}

.module-body-container .media-body .media-heading {
    font-size: 17px;
    letter-spacing: 0.03em;
}

.module-body-container .borders li {
    padding-top: 15px;
    border-top: 1px solid #939393;
}

.module-body-container .borders li:first-child,
.module-body-container .borders li.first {
	padding-top: 0;
	border-top: 0;
}

.module-body-container .media {
    margin-bottom: 15px;
}

.module-body-container .media-list {
    list-style-type: none;
    margin-left: 0;
}

.module-body-container .media-list .meta {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.module-body-container .media-meta {
    color: #F15D22;
    display: block;
}

.module-body-container .related {
    margin: -7px 0 26px;
}

.jbox {
    width: 275px;
    float: left;
    margin: 0 20px 12px 0;
}

.jbox-offset {
    margin: 0 20px 12px -65px;
}

.jbox-right {
    width: 275px;
    float: right;
    margin: 0 0px 12px 20px;
}

.jbox-right .module-heading-lrg,
.jbox .module-heading-lrg {
  font-size: 22px;
  font-weight: 700;
  color: #716D68;
}

.jbox-img-block {
  display: inline;
  float: left;
  margin: 5px 0px 5px 0;
}

.jbox-img-block .caption {
  font-size: .83em;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .jbox-right {
    width: auto;
    float: none;
    margin: 0 0px 12px 0px;
  }
}

.img-block img, figure .img-block img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}


