// Define new variables.

// Colors
$white:                     #fff;
$black:                     #000;
$blue:                      #009ddc;
$blue2:                     #3398dc;
$blue3:                     #0397d6;
$blue4:                     #0084b4;
$makara:                    #5e5a55;
$orange:                    #e36c09;
$orange2:                   #f15c22;
$gray:                      #808080;
$grey-lighter:              #939393;
$grey-dark:                 #595a5c;

$dark-blue:                 #003e7e;
$light-blue:                #1a97d6;

// Fonts / Typography
$font-bitter:             Bitter, "Times New Roman", Times, serif;
$font-roboto:             'Roboto', sans-serif;
$font-signika:            Signika Negative, sans-serif;

$bitter-bold:             600;
$bitter-regular:          400;
$bitter-medium:           300;
$bitter-small:            200;

$roboto-bold:             700;
$roboto-medium:           500;
$roboto-regular:          400;
$roboto-light:            300;
$roboto-thin:             100;
