@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.vertical-image-slider {
  &__wrapper {
    display: block;
    clear: both;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      cursor: pointer;
    }

    .carouselNav-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      .swiper-button-next,
      .swiper-button-prev {
        &::before {
          transform: rotate(270deg);
        }
      }
    }
  }

  &__content {
    height: 245px;
    list-style: none;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      height: 416px;
    }

    @include media-breakpoint-up(lg) {
      height: 750px;
    }

    img {
      width: 100%;
      height: 200px !important;
      max-height: unset !important;
      object-fit: cover;
      object-position: center;

      @include media-breakpoint-up(md) {
        height: 380px !important;
      }

      @include media-breakpoint-up(lg) {
        height: 706px !important;
      }
    }

    .field--name-field-media-image {
      height: 200px;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        height: 380px;
      }

      @include media-breakpoint-up(lg) {
        height: 706px;
      }
    }

    .field--name-field-caption-image {
      @include make-container();
      @include make-container-max-widths();
      @include typography-label;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 5px;
      padding-bottom: 5px;
      color: $text-gray;

      @include media-breakpoint-down(lg) {
        max-width: 100vw;
      }
    }

    .swiper-wrapper {
      height: 245px;

      @include media-breakpoint-up(md) {
        height: 416px;
      }

      @include media-breakpoint-up(lg) {
        height: 750px;
      }
    }

    .swiper-slide {
      background-color: $frost-blue;
      overflow: hidden;

      img {
        transform: scale(1.5);
        transition: transform 1.5s;
      }
    }

    .swiper-slide-active {
      background-color: $white;

      img {
        transform: scale(1);
        transition: transform 1.5s;
      }
    }
  }
}
