.featured-card {
  display: flex;
  align-items: center;
  min-height: 634px;
  margin-bottom: 40px;
  background: #EDF4FC;
}
.featured-card__wrapper {
  padding: 112px 0;
  gap: 80px;
}
@media (max-width: 1179.98px) {
  .featured-card__wrapper {
    gap: 0;
  }
}
@media (max-width: 767.98px) {
  .featured-card__wrapper {
    padding: 50px 0;
  }
}
.featured-card__wrapper:hover .featured-card__title a span, .featured-card__wrapper:focus .featured-card__title a span {
  background-size: 100% 2px;
}
.featured-card__wrapper:hover .featured-card__image img, .featured-card__wrapper:focus .featured-card__image img {
  transform: scale(1.1);
}
.featured-card__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.featured-card__title a {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #181818;
}
@media (max-width: 1179.98px) {
  .featured-card__title a {
    font-size: 32px;
  }
}
.featured-card__title a span {
  text-decoration: none;
  background-image: linear-gradient(to right, #181818 0%, #181818 100%);
  background-position: 0px 95%;
  background-size: 0px 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
  background-repeat: no-repeat;
}
.featured-card__title a:hover span, .featured-card__title a:focus span {
  background-size: 100% 2px;
}
.featured-card__date {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  color: #202056;
}
@media (max-width: 1179.98px) {
  .featured-card__date {
    font-size: 18px;
    line-height: 28px;
  }
}
.featured-card__body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000;
}
@media (max-width: 1179.98px) {
  .featured-card__body {
    font-size: 16px;
    line-height: 24px;
  }
}
.featured-card__buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.featured-card__buttons a {
  display: flex;
  align-items: center;
}
.featured-card__buttons .field--name-field-download-files {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.featured-card__buttons .field__item .paragraph--type--download-in a {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0397d6;
  background-color: #fff;
  color: #0397d6;
  position: relative;
  padding-left: 45px;
}
@media (max-width: 1179.98px) {
  .featured-card__buttons .field__item .paragraph--type--download-in a {
    font-size: 14px;
  }
}
.featured-card__buttons .field__item .paragraph--type--download-in a:hover, .featured-card__buttons .field__item .paragraph--type--download-in a:focus {
  color: #fff;
}
.featured-card__buttons .field__item .paragraph--type--download-in a:hover {
  background-color: #EDF4FC;
  color: #0397d6;
}
.featured-card__buttons .field__item .paragraph--type--download-in a:focus {
  color: #0397d6;
  background-color: #fff;
}
.featured-card__buttons .field__item .paragraph--type--download-in a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
  width: 18px;
  height: 18px;
  background: url("/themes/custom/hq/img/download.svg") no-repeat center;
}
.featured-card__buttons .field__item .paragraph--type--download-in a:hover::before, .featured-card__buttons .field__item .paragraph--type--download-in a:focus::before {
  background: url("/themes/custom/hq/img/download-white.svg") no-repeat center;
}
@media (max-width: 767.98px) {
  .featured-card__image {
    margin-bottom: 50px;
  }
}
.featured-card__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
}
.featured-card__image a {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: end;
}
.featured-card__image .drupal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-card__image .field__item iframe {
  height: auto !important;
  aspect-ratio: 16/9;
}