@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../custom";
@import "../../../bootstrap-override/mixins";
@import "../../../mixins";

.image-carousel {
  &__wrapper {
    background-color: $frost-blue;
    padding-block: 32px;

    @include media-breakpoint-up(lg) {
      padding-block: 100px;
      cursor: pointer;
    }

    .carouselNav-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__content {
    .paragraph--type--photo-slider-item {
      @include make-row();
    }

    .paragraph-left {
      @include make-col-ready();
      @include make-col(12);

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
    }

    .paragraph-right {
      @include make-col-ready();
      @include make-col(12);

      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        @include make-col(5);
        @include make-col-offset(1);

        overflow: hidden;
      }
    }

    .field--name-field-image {
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        max-height: 100%;
      }
    }

    .field--name-field-caption-image {
      @include typography-label;

      margin-top: 5px;
      color: $text-gray;
    }

    .field--name-field-title {
      @include typography-h2;
      
      margin-block: 20px;
      color: $text-gray;

      @include media-breakpoint-up(lg) {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .field--name-field-description {
      @include typography-body;

      margin-bottom: 20px;
      color: $text-gray;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.paragraph-list {
  & > section:first-child.paragraph--section--photo-slider {
    margin-top: -40px;
  }
}
