nav.pager {
  padding: 44px 16px 80px;
}
nav.pager ul {
  display: flex;
  justify-content: center;
  max-width: 854px;
  margin: 0 auto;
  padding-inline-start: 0;
  list-style-type: none;
}
nav.pager ul li {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 700;
  justify-content: center;
  padding: 6px 20px;
  line-height: normal;
}
@media (max-width: 1179.98px) {
  nav.pager ul li {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1179.98px) {
  nav.pager ul li {
    line-height: normal;
  }
}
@media (max-width: 767.98px) {
  nav.pager ul li {
    padding: 6px 16px;
    line-height: normal;
  }
}
nav.pager ul li.is-active > a {
  color: #0397d6;
}
nav.pager ul li a {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  color: rgba(3, 151, 214, 0.6);
}
nav.pager ul li a:hover, nav.pager ul li a:focus {
  color: #202056;
}
nav.pager ul li.pager__item--previous, nav.pager ul li.pager__item--next {
  display: flex;
  border: 1px solid #0397d6;
  border-radius: 8px;
  color: #0397d6;
}
nav.pager ul li.pager__item--previous a, nav.pager ul li.pager__item--next a {
  position: relative;
  color: #0397d6;
}
@media (max-width: 767.98px) {
  nav.pager ul li.pager__item--previous a span, nav.pager ul li.pager__item--next a span {
    display: none;
  }
}
nav.pager ul li.pager__item--previous:hover, nav.pager ul li.pager__item--previous:focus, nav.pager ul li.pager__item--previous:focus-within, nav.pager ul li.pager__item--next:hover, nav.pager ul li.pager__item--next:focus, nav.pager ul li.pager__item--next:focus-within {
  border: 1px solid #202056;
}
nav.pager ul li.pager__item--previous:hover a, nav.pager ul li.pager__item--previous:focus a, nav.pager ul li.pager__item--previous:focus-within a, nav.pager ul li.pager__item--next:hover a, nav.pager ul li.pager__item--next:focus a, nav.pager ul li.pager__item--next:focus-within a {
  color: #202056;
}
nav.pager ul li.pager__item--previous:hover a:before, nav.pager ul li.pager__item--previous:hover a:after, nav.pager ul li.pager__item--previous:focus a:before, nav.pager ul li.pager__item--previous:focus a:after, nav.pager ul li.pager__item--previous:focus-within a:before, nav.pager ul li.pager__item--previous:focus-within a:after, nav.pager ul li.pager__item--next:hover a:before, nav.pager ul li.pager__item--next:hover a:after, nav.pager ul li.pager__item--next:focus a:before, nav.pager ul li.pager__item--next:focus a:after, nav.pager ul li.pager__item--next:focus-within a:before, nav.pager ul li.pager__item--next:focus-within a:after {
  background-image: url("/themes/custom/hq/img/icon-arrow-dark.svg");
}
nav.pager ul li.pager__item--last, nav.pager ul li.pager__item--ellipsis, nav.pager ul li.pager__item--first {
  display: none;
}
nav.pager ul li.pager__item--previous {
  margin-left: auto;
  padding: 6px 36px 6px 20px;
}
@media (max-width: 767.98px) {
  nav.pager ul li.pager__item--previous {
    padding: 6px 20px;
  }
}
nav.pager ul li.pager__item--previous a:before {
  content: "";
  position: absolute;
  top: 4px;
  right: -24px;
  width: 15px;
  height: 15px;
  transform: rotate(-90deg);
  background-image: url("/themes/custom/hq/img/icon-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  nav.pager ul li.pager__item--previous a:before {
    display: block;
    position: relative;
    right: auto;
    top: auto;
  }
}
nav.pager ul li.pager__item--previous a:hover:before, nav.pager ul li.pager__item--previous a:focus:before {
  background-image: url("/themes/custom/hq/img/icon-arrow-dark.svg");
}
nav.pager ul li.pager__item--next {
  margin-right: auto;
  padding: 6px 20px 6px 36px;
}
@media (max-width: 767.98px) {
  nav.pager ul li.pager__item--next {
    padding: 6px 20px;
  }
}
nav.pager ul li.pager__item--next a:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
  background-image: url("/themes/custom/hq/img/icon-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  nav.pager ul li.pager__item--next a:after {
    display: block;
    position: relative;
    left: auto;
    top: auto;
  }
}
nav.pager ul li.pager__item--next a:hover:after, nav.pager ul li.pager__item--next a:focus:after {
  content: "";
  background-image: url("/themes/custom/hq/img/icon-arrow-dark.svg");
}
nav.pager ul .empty-element {
  margin-left: auto;
  padding: 0;
}
nav.pager ul .last-empty-element {
  margin-right: auto;
  padding: 0;
}