
<div class="search hq-header-search">
  <div class="search-input-wrapper">
    {# <input type="text" name="search" class="search-input" placeholder="Search..." /> #}
    {{ content }}
    <button id="header-search-close" class="icon icon-close"><span class="sr-only">close search</span></button>
  </div>
  <button id="header-search" class="icon icon-search" aria-label="open search input">
    <span class="sr-only">Open Search</span>
  </button>
  <button id="form-active-submit" type="submit" class="tablet icon icon-search" aria-label="search input">
    <span class="sr-only">Search</span>
  </button>
</div>
