<div class="search hq-header-search">
  <div class="search-input-wrapper search-block-form">
    {# <input type="text" name="search" class="search-input" placeholder="Search..." /> #}
    {{ content }}
  </div>
</div>
