{% if is_rtl %}
  {{ attach_library('facets_reset_button/facets_reset_button-rtl') }}
{% else %}
  {{ attach_library('facets_reset_button/facets_reset_button') }}
{% endif %}
<a class="facets-reset-link" href="{{ link }}#filter-top">{{ 'Clear filters'|t }}</a>
